<!DOCTYPE html>
<html {% block htmlblock %}{% endblock %}>
    <head>
        {% if app.session.has('city') and app.session.get('city').country != 'RUS' %}
        <meta name="robots" content="noindex">
        {% endif %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, shrink-to-fit=no">
        <title>{% block title %}Мультипрокат{% endblock %}</title>

        {% block stylesheets %}
            <link href="{{ asset('assets/css/uikit.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/owl.carousel.min.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/owl.theme.default.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/base.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/font-awesome.min.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/colors.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/typo.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/base-responsive.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/auto-complete.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/list-tree.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/selectric-default.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/styles.min.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/alex/common.css') }}" rel="stylesheet">

            <link href="{{ asset('assets/css/tilda-grid-3.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/tilda-blocks-2.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/tilda-animation-1.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/tilda-menusub-1.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/tilda-slds-1.css') }}" rel="stylesheet">

        {% endblock %}

        {% block openGraph %}
        {% endblock %}

        {% block metaTags %}
        {% endblock %}

        {% block socialScripts %}
            <script type="text/javascript">
                window.dataLayer = window.dataLayer || [];

            </script>
            <script type="text/javascript">
                if ((/bot|google|yandex|baidu|bing|msn|duckduckbot|teoma|slurp|crawler|spider|robot|crawling|facebook/i.test(navigator.userAgent)) === false && typeof(sessionStorage) != 'undefined' && sessionStorage.getItem('visited') !== 'y') {
                    var style = document.createElement('style');
                    style.type = 'text/css';
                    style.innerHTML = '@media screen and (min-width: 980px) {.t-records {opacity: 0;}.t-records_animated {-webkit-transition: opacity ease-in-out .2s;-moz-transition: opacity ease-in-out .2s;-o-transition: opacity ease-in-out .2s;transition: opacity ease-in-out .2s;}.t-records.t-records_visible {opacity: 1;}}';
                    document.getElementsByTagName('head')[0].appendChild(style);
                    $(document).ready(function() {
                        $('.t-records').addClass('t-records_animated');
                        setTimeout(function() {
                            $('.t-records').addClass('t-records_visible');
                            sessionStorage.setItem('visited', 'y');
                        }, 400);
                    });
                }

            </script>
            <style type="text/css">
                @media screen and (min-width: 980px) {
                    .t-records {
                        opacity: 0;
                    }

                    .t-records_animated {
                        -webkit-transition: opacity ease-in-out .2s;
                        -moz-transition: opacity ease-in-out .2s;
                        -o-transition: opacity ease-in-out .2s;
                        transition: opacity ease-in-out .2s;
                    }

                    .t-records.t-records_visible {
                        opacity: 1;
                    }
                }

            </style>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('assets/favicon.ico') }}">
        <meta name="yandex-verification" content="a2d59e156f2bd014" />
    </head>
    <body {% block bodyVars %}{% endblock %} class="t-body {{ is_mobile() ? 'mobile' : 'desktop' }} {% block bodyClass %}{% endblock %}" style="margin: 0px;">
        {{ include('header.html.twig') }}
        <div id="content" style="padding-top: 0px"><div class="page uk-margin-large-bottom">{% block content %}{% endblock %}</div></div>
        {{ include('footer_с.html.twig') }}

        {% block javascripts %}
            <script src="{{ asset('assets/js/jquery-3.2.1.min.js') }}"></script>
            <script src="{{ asset('assets/js/uikit.min.js') }}"></script>
            <script src="{{ asset('assets/js/uikit-icons.min.js') }}"></script>
            <script src="{{ asset('assets/js/signup_validate.js') }}"></script>
            <script src="{{ asset('assets/js/auto-complete.min.js') }}"></script>
            <script src="{{ asset('assets/js/city_autocomplete.js') }}"></script>
            <script src="{{ asset('assets/js/top_autocomplete.js') }}"></script>
            <script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
            <script src="{{ asset('assets/js/search_popup.js') }}"></script>
            <script src="{{ asset('assets/js/scripts.min.js') }}"></script>
            <script src="{{ asset('assets/js/alex/common.js') }}"></script>

            <script src="{{ asset('assets/js/tildastat-0.js') }}"></script>
            <script src="{{ asset('assets/js/tilda-scripts-2.js') }}"></script>
            <script src="{{ asset('assets/js/tilda-blocks-2.js') }}"></script>
            <script src="{{ asset('assets/js/lazyload-1.js') }}"></script>
            <script src="{{ asset('assets/js/tilda-animation-1.js') }}"></script>
            <script src="{{ asset('assets/js/tilda-menusub-1.js') }}"></script>
            <script src="{{ asset('assets/js/tilda-slds-1.js') }}"></script>
            <script src="{{ asset('assets/js/hammer.js') }}"></script>

            {% if app.session.has('logged_user') %}
                <script src="{{ asset('assets/js/user_notify.js') }}"></script>
            {% endif %}

        {% endblock %}

        {{ include('yandex_metrica.html.twig') }}
        {{ include('counters.html.twig') }}
        {{ include('user/auth_modals.html.twig') }}

        {% block jivosite %}
        {% endblock %}
    </body>
</html>
