<!DOCTYPE html>
<html {% block htmlblock %}{% endblock %}>
    <head>
        {% if app.session.has('city') and app.session.get('city').country != 'RUS' %}
        <meta name="robots" content="noindex">
        {% endif %}

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, shrink-to-fit=no">

        {% block stylesheets %}
            <link href="{{ asset('assets/css/uikit.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/owl.carousel.min.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/owl.theme.default.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/base.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/font-awesome.min.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/colors.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/typo.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/base-responsive.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/auto-complete.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/list-tree.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/selectric-default.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/styles.min.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/alex/common.css') }}" rel="stylesheet">
        {% endblock %}

        {% block openGraph %}
        {% endblock %}

        {% block metaTags %}
        {% endblock %}

        {% block socialScripts %}
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('assets/favicon.ico') }}" />



        <title>{% block title %}Мультипрокат{% endblock %}</title>
        <meta name="yandex-verification" content="a2d59e156f2bd014" />
    </head>
    <body {% block bodyVars %}{% endblock %} class="{{ is_mobile() ? 'mobile' : 'desktop' }} {% block bodyClass %}{% endblock %}">
        {{ include('header.html.twig') }}


						<div class="page">
            	{% block content %}{% endblock %}
						</div>


        {{ include('footer.html.twig') }}
        {% block javascripts %}
            <script src="{{ asset('assets/js/jquery-3.2.1.min.js') }}"></script>
            <script src="{{ asset('assets/js/uikit.min.js') }}"></script>
            <script src="{{ asset('assets/js/uikit-icons.min.js') }}"></script>
            <script src="{{ asset('assets/js/signup_validate.js') }}"></script>
            <script src="{{ asset('assets/js/auto-complete.min.js') }}"></script>
            <script src="{{ asset('assets/js/city_autocomplete.js') }}"></script>
            <script src="{{ asset('assets/js/top_autocomplete.js') }}"></script>
            <script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
            <script src="{{ asset('assets/js/search_popup.js') }}"></script>
            <script src="{{ asset('assets/js/scripts.min.js') }}"></script>
            <script src="{{ asset('assets/css/alex/common.js') }}"></script>

            {% if app.session.has('logged_user') %}
                <script src="{{ asset('assets/js/user_notify.js') }}"></script>
            {% endif %}

        {% endblock %}
        {{ include('yandex_metrica.html.twig') }}
        {{ include('counters.html.twig') }}
        {{ include('user/auth_modals.html.twig') }}

        {% block jivosite %}
        {% endblock %}

    </body>
</html>
