{% if is_mobile() %}
{{ include('mobile_header.html.twig') }}

{% else %}
<input type="hidden" id="cityURL" name="cityURL" value="{{ city.url }}">
<input type="hidden" id="cityId" name="cityId" value="{{ city.id }}">
<section class="header">
    <div class="header-top">
        <div class="container uk-container">
            <div class="inner">
                {% if not is_mobile() %}
                {{ include('selector/global_city_selector.html.twig') }}
                {% endif %}
                <div class="how-it-works">
                    <a href="#howtopay" uk-toggle>Как это работает?</a>
                </div>
                {{ include('user/auth_button_modal.html.twig') }}
                <div id="search_block" hidden>{{ include('search/top_search.html.twig') }}</div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container uk-container">
            <div class="inner">
                <div class="logo">
                    <a class="logo__link" href="/">
                        <span class="logo__title">Мультипрокат</span>
                        <span class="logo__subtitle">Прокат и аренда транспорта</span>
                    </a>
                </div>
                <div class="search">
                    <a href="#modal-search" uk-toggle>
                        <span class="uk-icon uk-icon-image" style="background-image: url('/assets/images/icons/search-icon.svg');"></span>
                    </a>
                    {{ include('search_popup.html.twig') }}
                </div>
                <a href="/card/new" class="btn btn-outline"><span uk-icon="plus-circle" class="uk-margin-small-right"></span>Сдать в аренду</a>
            </div>
        </div>
    </div>
</section>
{% endif %}



