<input type="hidden" id="cityURL" name="cityURL" value="{{ city.url }}">
<input type="hidden" id="cityId" name="cityId" value="{{ city.id }}">
{% if no_header is not defined %}

<section class="mobile-header">
	<div class="container">
		<div class="inner">
			<div class="logo">
				<a href="#">
					<img src="/assets/images/interface/logo.png" alt="logo" />
				</a>
			</div>
			<div class="icons">
				<div class="city-select">
					<a href="#cityModal" class="city-select-link" data-toggle="modal">
					<span class="icon">
						<svg
							width="14"
							height="20"
							viewBox="0 0 14 20"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M6.99871 0C3.32277 0 0.332031 2.99074 0.332031 6.66668C0.332031 7.7702 0.60793 8.86434 1.13242 9.8348L6.63414 19.7852C6.70738 19.9178 6.84695 20 6.99871 20C7.15047 20 7.29004 19.9178 7.36328 19.7852L12.867 9.83152C13.3895 8.86434 13.6654 7.77016 13.6654 6.66664C13.6654 2.99074 10.6746 0 6.99871 0ZM6.99871 10C5.16074 10 3.66539 8.50465 3.66539 6.66668C3.66539 4.82871 5.16074 3.33336 6.99871 3.33336C8.83668 3.33336 10.332 4.82871 10.332 6.66668C10.332 8.50465 8.83668 10 6.99871 10Z"
								fill="#333"
							/>
						</svg>
					</span>
					</a>
				</div>
				{% if app.session.has('logged_user') %}
				<div class="notifications">
	<span class="icon">
		<svg
				width="20"
				height="20"
				viewBox="0 0 20 20"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
		>
			<g clip-path="url(#clip0)">
				<path
						d="M10.0017 12.8571L7.52741 10.6914L0.453125 16.7557C0.710268 16.9943 1.05741 17.1428 1.44027 17.1428H18.5631C18.9446 17.1428 19.2903 16.9943 19.546 16.7557L12.476 10.6914L10.0017 12.8571Z"
						fill="#FAFAFA"
				/>
				<path
						d="M19.5474 3.24456C19.2903 3.00456 18.9446 2.85742 18.5603 2.85742H1.43741C1.05598 2.85742 0.710268 3.00599 0.453125 3.24742L9.99884 11.4289L19.5474 3.24456Z"
						fill="#FAFAFA"
				/>
				<path
						d="M0 4.11133V15.9799L6.90429 10.1128L0 4.11133Z"
						fill="#FAFAFA"
				/>
				<path
						d="M13.0977 10.1131L20.0019 15.9803V4.10742L13.0977 10.1131Z"
						fill="#FAFAFA"
				/>
			</g>
			<defs>
				<clipPath id="clip0">
					<rect width="20" height="20" fill="white" />
				</clipPath>
			</defs>
		</svg>
	</span>
					{% if t3_new.getNotify|length > 0 %}
						<span class="count">
		{{ t3_new.getNotify|length }}
	</span>
					{% endif %}
				</div>
				{% endif %}
				<div class="burger">
					<a href="#burger-menu" uk-toggle>
					<svg
						width="30"
						height="19"
						viewBox="0 0 30 19"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<rect width="30" height="3" rx="1.5" fill="#1D1A1A" />
						<rect y="8" width="30" height="3" rx="1.5" fill="#1D1A1A" />
						<rect y="16" width="30" height="3" rx="1.5" fill="#1D1A1A" />
					</svg>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>


<div id="burger-menu" uk-offcanvas="overlay: true">
	<div class="uk-offcanvas-bar uk-width-1-1">

		<div class="uk-flex uk-flex-between uk-flex-middle">
			<div><a href="#signIn" data-toggle="modal">Вход</a></div>

			<div>
				<span class="uk-margin-small-right">
					<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M14.2857 12.5714H13.3714L13.0286 12.2286C14.1715 10.9714 14.8572 9.25714 14.8572 7.42857C14.8571 3.31429 11.5429 0 7.42857 0C3.31429 0 0 3.31429 0 7.42857C0 11.5429 3.31429 14.8571 7.42857 14.8571C9.25714 14.8571 10.9714 14.1714 12.2286 13.0286L12.5714 13.3714V14.2857L18.2857 20L20 18.2857L14.2857 12.5714ZM7.42857 12.5714C4.57143 12.5714 2.28571 10.2857 2.28571 7.42857C2.28571 4.57143 4.57143 2.28571 7.42857 2.28571C10.2857 2.28571 12.5714 4.57143 12.5714 7.42857C12.5714 10.2857 10.2857 12.5714 7.42857 12.5714Z" fill="#fff"></path>
					</svg>
				</span>
				<span>
					 <button class="uk-offcanvas-close" type="button" style="position: relative; color: #fff" uk-close></button>
				</span>
			</div>
		</div>

		<ul class="uk-nav uk-nav-default">
			<li>
				{% if app.session.has('logged_user') %}
					<a href="/card/new">Сдать в аренду</a>
				{% elseif app.session.has('admin') %}
					<a href="/card/new">Сдать в аренду</a>
				{% else %}
					<a uk-toggle="target: #sign_in">Сдать в аренду</a>
				{% endif %}
			</li>
			<li class="uk-active"><a href="/faq">Как это работает?</a></li>
			<li class="uk-active"><a href="#">Категории транспорта</a></li>
		</ul>

	</div>
</div>

    {# <div class="uk-sticky " uk-sticky="sel-target: .uk-navbar-container">
        <nav class="uk-navbar uk-navbar-container bg_blue mp-drop-menu-main" style=" background: #06a7ea;">
            <div class="uk-navbar-left">
                <div>
                    <a aria-expanded="false" class=" uk-logo" href="/"><img alt="" class="" src="/assets/images/interface/logo_white-.png" /></a>
                </div>
            </div>
            <div class="uk-navbar-right">
                <div> #}
                    {# <button class="" href="#navbar-slide" uk-toggle><i uk-icon="ratio: 2; icon:menu" class="uk-icon c_white" mp-nav-primary></i></button> #}
                    {# <a class="uk-margin-small-right" uk-toggle="target: #mp-nav-primary">
                        <i class="mp-menu-queued-icon uk-icon c_white" uk-icon="ratio: 2; icon:menu"></i>
                    </a>
                 </div>
            </div>
        </nav>
    </div>

    <div id="mp-nav-primary" uk-offcanvas="overlay: true">
        <div class="uk-offcanvas-bar uk-flex uk-flex-column">
            <div class="uk-clearfix uk-margin-top">
                {{ include('user/auth_left_bar.html.twig') }}
            </div>
            <button class="uk-offcanvas-close uk-close-large uk-close uk-icon" type="button" uk-close></button>
            <ul class="uk-nav uk-nav-primary uk-nav-center  uk-margin-auto-vertical uk-nav-parent-icon c_white " uk-nav="">
                <li class="uk-parent">
                    <a href="#">Категории транспорта</a>
                    <ul aria-hidden="true" class="uk-nav-sub" hidden="">
                        {% for gt in t3_new.getGt if gt.carTypeIds%}
                            <li>
                                <a class="" href="/rent/{{ city.url }}/all/{{ gt.url }}">
                                    <i class="fa fa-{{ gt.icon }} left_gt_icon"></i>
                                    {{ gt.header }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    <a href="#js-options" uk-toggle="target: #howtopay">Как это работает?</a>
                </li>
                <li>
                    {% if app.session.has('logged_user') %}
                        <a href="/card/new">Сдать в аренду</a>
                    {% elseif app.session.has('admin') %}
                        <a href="/card/new">Сдать в аренду</a>
                    {% else %}
                        <a uk-toggle="target: #sign_in">Сдать в аренду</a>
                    {% endif %}
                </li>
                <li>
                    <a href="/sl_page">Поиск</a>
                </li>
                <li>
                    <a href="/faq">Часто задаваемые вопросы</a>
                </li>

            </ul>

            <div class="uk-grid-small uk-child-width-auto uk-flex-inline uk-grid" uk-grid="">
                <div class="uk-first-column">
                    <a class="uk-icon-button uk-icon uk-icon-hover" href="https://www.facebook.com/multiprokatcom/" uk-icon="icon: facebook"></a>
                </div>
                <div>
                    <a class="uk-icon-button uk-icon uk-icon-hover" href="https://twitter.com/multiprokat" uk-icon="icon: twitter"></a>
                </div>
                <div>
                    <a class="uk-icon-button uk-icon uk-icon-hover" href="https://www.instagram.com/multiprokat/" uk-icon="icon: instagram"></a>
                </div>
                <div>
                    <a class="uk-icon-button uk-icon uk-icon-hover" href="https://vk.com/multiprokatcom">
                        <span class="fa fa-vk" style="font: normal normal normal 20px/1 FontAwesome;"></span>
                    </a>
                </div>
                <div>
                    <a class="uk-icon-button uk-icon uk-icon-hover" href="https://www.youtube.com/channel/UCj-igu9KFIbzdzVCezy1qFg" uk-icon="icon: youtube"></a>
                </div>
            </div>

        </div>
    </div> #}
{% endif %}
