<input type="hidden" id="cityURL" name="cityURL" value="{{ city.url }}">
<input type="hidden" id="cityId" name="cityId" value="{{ city.id }}">
{% if no_header is not defined %}

    <div class="uk-sticky " uk-sticky="sel-target: .uk-navbar-container">
        <nav class="uk-navbar uk-navbar-container bg_blue mp-drop-menu-main" style=" background: #06a7ea;">
            <div class="uk-navbar-left">
                <div>
                    <a aria-expanded="false" class=" uk-logo" href="/"><img alt="" class="" src="/assets/images/interface/logo_white-.png" /></a>
                </div>
            </div>
            <div class="uk-navbar-right">
                <div>
                    {# <button class="" href="#navbar-slide" uk-toggle><i uk-icon="ratio: 2; icon:menu" class="uk-icon c_white" mp-nav-primary></i></button> #}
                    <a class="uk-margin-small-right" uk-toggle="target: #mp-nav-primary">
                        <i class="mp-menu-queued-icon uk-icon c_white" uk-icon="ratio: 2; icon:menu"></i>
                    </a>
                 </div>
            </div>
        </nav>
    </div>

    <div id="mp-nav-primary" uk-offcanvas="overlay: true">
        <div class="uk-offcanvas-bar uk-flex uk-flex-column">
            <div class="uk-clearfix uk-margin-top">
                {{ include('user/auth_left_bar.html.twig') }}
            </div>
            <button class="uk-offcanvas-close uk-close-large uk-close uk-icon" type="button" uk-close></button>
            <ul class="uk-nav uk-nav-primary uk-nav-center  uk-margin-auto-vertical uk-nav-parent-icon c_white " uk-nav="">
                <li class="uk-parent">
                    <a href="#">Категории транспорта</a>
                    <ul aria-hidden="true" class="uk-nav-sub" hidden="">
                        {% for gt in t3_new.getGt if gt.carTypeIds%}
                            <li>
                                <a class="" href="/rent/{{ city.url }}/all/{{ gt.url }}">
                                    <i class="fa fa-{{ gt.icon }} left_gt_icon"></i>
                                    {{ gt.header }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    <a href="#js-options" uk-toggle="target: #howtopay">Как это работает?</a>
                </li>
                <li>
                    {% if app.session.has('logged_user') %}
                        <a href="/card/new">Сдать в аренду</a>
                    {% elseif app.session.has('admin') %}
                        <a href="/card/new">Сдать в аренду</a>
                    {% else %}
                        <a uk-toggle="target: #sign_in">Сдать в аренду</a>
                    {% endif %}
                </li>
                <li>
                    <a href="/sl_page">Поиск</a>
                </li>
                <li>
                    <a href="/faq">Часто задаваемые вопросы</a>
                </li>

            </ul>

            <div class="uk-grid-small uk-child-width-auto uk-flex-inline uk-grid" uk-grid="">
                <div class="uk-first-column">
                    <a class="uk-icon-button uk-icon uk-icon-hover" href="https://www.facebook.com/multiprokatcom/" uk-icon="icon: facebook"></a>
                </div>
                <div>
                    <a class="uk-icon-button uk-icon uk-icon-hover" href="https://twitter.com/multiprokat" uk-icon="icon: twitter"></a>
                </div>
                <div>
                    <a class="uk-icon-button uk-icon uk-icon-hover" href="https://www.instagram.com/multiprokat/" uk-icon="icon: instagram"></a>
                </div>
                <div>
                    <a class="uk-icon-button uk-icon uk-icon-hover" href="https://vk.com/multiprokatcom">
                        <span class="fa fa-vk" style="font: normal normal normal 20px/1 FontAwesome;"></span>
                    </a>
                </div>
                <div>
                    <a class="uk-icon-button uk-icon uk-icon-hover" href="https://www.youtube.com/channel/UCj-igu9KFIbzdzVCezy1qFg" uk-icon="icon: youtube"></a>
                </div>
            </div>

        </div>
    </div>
{% endif %}