{% if lang is not defined %}
    {% set lang = 'ru' %}
{% endif %}

<div id="modal-search" class="search-modal uk-modal" uk-modal bg-close="false">
    <div class="uk-modal-dialog uk-modal-body uk-width-1-1 uk-width-3-4@m">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h2 class="uk-modal-title">Поиск</h2>

        <div class="search-modal__content uk-margin-medium-bottom">
            <div class="search-modal__categories uk-margin-medium-bottom">
                <p class="small text-gray text-left">Выберите категорию:</p>
                {% if is_mobile() %}
                <select name="countryCode" class="uk-select select-border-bottom js-search-modal-mobile-category-select">
                    <option hidden disabled value>Значение не выбрано</option>
                    {% for gt in t3_new.getGt if gt.carTypeIds %}
                    <option value="{{ gt.url }}">{{ lang == 'ru' ? gt.header : gt.url }}</option>
                    {% endfor %}
                </select>

                {% else %}
                <ul class="uk-flex uk-flex-wrap search-modal__categoriesList">
                    {% for gt in t3_new.getGt if gt.carTypeIds %}
                    <li class="search-modal__categoriesItem">
                        <a href="/rent/{{ city.url }}/all/{{ gt.url }}" data-url="{{ gt.url }}" class="js-search-model-category search-modal__categoriesLink {{ gt.url == 'cars' ? 'search-modal__categoriesLink_active' }}">
                            {{ lang == 'ru' ? gt.header : gt.url }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

            <div class="search-modal__cities">
                <p class="small text-gray text-left">Введите ваш город:</p>
                <div><input type="text" class="js-search-modal-city-input search-modal-city-input uk-input"></div>
                <div class="js-modal-search-city-search-list-preloader uk-margin-top uk-flex uk-flex-center uk-flex-middle" style="display: none;">
                    <span class="spinner-border"></span>
                </div>
                <ul class="uk-margin-top theme-city-search-list js-modal-search-city-search-list" style="display: none;"></ul>
                <ul class="uk-margin-top theme-city-search-list js-modal-search-city-search-list-default">
                    <li class="js-search-modal-city" data-id="1229" data-url="Alushta" data-header="Алушта">Алушта</li>
                    <li class="js-search-modal-city" data-id="263" data-url="Anapa" data-header="Анапа">Анапа</li>
                    <li class="js-search-modal-city" data-id="358" data-url="Arhangelsk" data-header="Архангельск">Архангельск</li>
                    <li class="js-search-modal-city" data-id="371" data-url="Astrahan" data-header="Астрахань">Астрахань</li>
                    <li class="js-search-modal-city" data-id="251" data-url="Barnaul" data-header="Барнаул">Барнаул</li>
                    <li class="js-search-modal-city" data-id="379" data-url="Belgorod" data-header="Белгород">Белгород</li>
                    <li class="js-search-modal-city" data-id="389" data-url="Bryansk" data-header="Брянск">Брянск</li>
                    <li class="js-search-modal-city" data-id="314" data-url="Vladivostok" data-header="Владивосток">Владивосток</li>
                    <li class="js-search-modal-city" data-id="406" data-url="Vladimir" data-header="Владимир">Владимир</li>
                    <li class="js-search-modal-city" data-id="428" data-url="Volgograd" data-header="Волгоград">Волгоград</li>
                    <li class="js-search-modal-city" data-id="450" data-url="Vologda" data-header="Вологда">Вологда</li>
                    <li class="js-search-modal-city" data-id="466" data-url="Voronezh" data-header="Воронеж">Воронеж</li>
                    <li class="js-search-modal-city" data-id="267" data-url="Gelendzhik" data-header="Геленджик">Геленджик</li>
                    <li class="js-search-modal-city" data-id="1236" data-url="Evpatoriya" data-header="Евпатория">Евпатория</li>
                    <li class="js-search-modal-city" data-id="1013" data-url="Ekaterinburg" data-header="Екатеринбург">Екатеринбург</li>
                    <li class="js-search-modal-city" data-id="481" data-url="Ivanovo" data-header="Иваново">Иваново</li>
                    <li class="js-search-modal-city" data-id="227" data-url="Izhevsk" data-header="Ижевск">Ижевск</li>
                    <li class="js-search-modal-city" data-id="504" data-url="Irkutsk" data-header="Иркутск">Иркутск</li>
                    <li class="js-search-modal-city" data-id="209" data-url="Kazan" data-header="Казань">Казань</li>
                    <li class="js-search-modal-city" data-id="524" data-url="Kaliningrad" data-header="Калининград">Калининград</li>
                    <li class="js-search-modal-city" data-id="547" data-url="Kaluga" data-header="Калуга">Калуга</li>
                    <li class="js-search-modal-city" data-id="548" data-url="Kirov(Kaluzhskaya)" data-header="Киров(Калужская)">Киров(Калужская)</li>
                    <li class="js-search-modal-city" data-id="272" data-url="Krasnodar" data-header="Краснодар">Краснодар</li>
                    <li class="js-search-modal-city" data-id="302" data-url="Krasnoyarsk" data-header="Красноярск">Красноярск</li>
                    <li class="js-search-modal-city" data-id="1144" data-url="Magnitogorsk" data-header="Магнитогорск">Магнитогорск</li>
                    <li class="js-search-modal-city" data-id="123" data-url="Mahachkala" data-header="Махачкала">Махачкала</li>
                    <li class="js-search-modal-city" data-id="77" data-url="Moscow" data-header="Москва">Москва</li>
                    <li class="js-search-modal-city" data-id="215" data-url="Naberezhnye_Chelny" data-header="Набережные Челны">Набережные Челны</li>
                    <li class="js-search-modal-city" data-id="804" data-url="Nizhniy_Novgorod" data-header="Нижний Новгород">Нижний Новгород</li>
                    <li class="js-search-modal-city" data-id="833" data-url="Novosibirsk" data-header="Новосибирск">Новосибирск</li>
                    <li class="js-search-modal-city" data-id="1127" data-url="Novoulyanovsk" data-header="Новоульяновск">Новоульяновск</li>
                </ul>
            </div>
        </div>

        <input type="hidden" class="js-modal-search-selected-city">
        <input type="hidden" class="js-modal-search-selected-category">

        <div class="uk-flex uk-flex-center">
            <a href="javascript:;" class="js-search-modal-button btn uk-width-1-1 uk-width-medium@m btn-solid">Найти</a>
        </div>

    </div>
</div>
