{% extends 'AdminBundle::admin_base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/tinymce/jquery.tinymce.min.js') }}"></script>
    <script src="{{ asset('assets/tinymce/tinymce.min.js') }}"></script>
    <script src="{{ asset('assets/js/visual_editor.js') }}"></script>
{% endblock %}

{% block content %}
    <h1>Промо</h1>


    <form action="/adminPromoFotoUpdate" method="POST" enctype="multipart/form-data">
        <div uk-grid>
            <div class="uk-width-1-2">
                <img src="{{ asset('assets/images/interface/promo/b1.jpg') }}" style="height: 150px;width:auto">
                <div uk-form-custom>
                        <input type="file" name="f_b1">
                        <button class="uk-button uk-button-default" type="button" tabindex="-1">Фото1</button>
                    </div>
            </div>
            <div class="uk-width-1-2">
                <img src="{{ asset('assets/images/interface/promo/b2.jpg') }}" style="height: 150px;width:auto">
                <div uk-form-custom>
                        <input type="file" name="f_b2">
                        <button class="uk-button uk-button-default" type="button" tabindex="-1">Фото2</button>
                    </div>
            </div>
        </div>
        <button class="uk-button uk-button-primary">Записать</button>
    </form>
    <hr>
    <form action="/adminPromoUpdate" method="POST">
        {% for k,p in promo %}
            <div>{{ k }}</div>
            <textarea name="content[{{ k }}]" class="visual_editor">{{ p }}</textarea>
        {% endfor %}
        <button class="uk-button uk-button-primary">Записать</button>
    </form>


{% endblock %}