{% extends 'base.html.twig' %}


{% block left_block %}
    {{ include('general_types/city_menu.html.twig', { 'countries': countries,
        'general_type': general_type,
        'city': city }) }}

    {{ include('general_types/general_type_menu.html.twig', { 'general_types': general_types, 'city_id': city.id, 'general_type': general_type}) }}
{% endblock %}

{% block content %}

    {% if main is defined %}
        <h1>Главная страница</h1>
        <div>Топ 10 авто</div>
        <div>Выберите категорию для перехода в список</div>
    {% endif %}

    <div uk-grid>

            {% for card in cards %}
                <div class="uk-width-1-5">
                    <div style="background:url('/assets/thumbs/{% for foto in card.getFotos if foto.isMain %}{{ foto.id }}{% endfor %}.jpg') center center;
                            background-size: cover;
                            height: 100px;">
                    </div>
                    <a href="/card/{{ card.id }}">{{ card.header }}</a>
                    <div>
                        {{ card.getCity.header }}, {{ card.getCity.getParent.header }}, {{ card.getCity.country }}
                    </div>
                    <div>
                        {{ card.getMarkModel.getParent.header }} {{ card.getMarkModel.header }}
                    </div>
                </div>
            {% endfor %}

    </div>
{% endblock %}



