{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/auto-complete.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/css/select2.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {#<script src="{{ asset('assets/js/jquery-ui.min.js') }}"></script>#}
    {#<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>#}

    <script src="{{ asset('assets/tinymce/jquery.tinymce.min.js') }}"></script>
    <script src="{{ asset('assets/tinymce/tinymce.min.js') }}"></script>
    <script src="{{ asset('assets/js/visual_editor.js') }}"></script>
    <script src="{{ asset('assets/js/new_card_validate.js') }}"></script>
    <script src="{{ asset('assets/js/auto-complete.min.js') }}"></script>
    <script src="{{ asset('assets/js/form_autocomplete.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWdm1zrblFjsdUfi1-6fsPvj30ACCiCxk"></script>
    <script src="{{ asset('assets/js/new_card_settings.js') }}"></script>
    <script src="{{ asset('assets/js/newCardForm.js') }}"></script>
    <script src="{{ asset('assets/js/tariff_selector.js') }}"></script>
    <script src="{{ asset('assets/js/image_upload_preview.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.maskedinput.js') }}"></script>
    <script src="{{ asset('assets/js/phone_validate.js') }}"></script>
    <script src="{{ asset('assets/js/select2.min.js') }}"></script>
    <script src="{{ asset('assets/js/select_combo.js') }}"></script>
    <script src="{{ asset('assets/js/signup_validate.js') }}"></script>
{% endblock %}

{% block content %}

    <div class="standard_wide uk-margin-top">
        <h1>Новое объявление</h1>
        <div>Разместите объявление и будьте готовы принимать звонки и email-сообщения от клиентов.</div>
        <hr>
    </div>

    {% if not admin and not user %}
        {{ include('user/step_auth.html.twig') }}
    {% endif %}

    <form id="new_card_form" action="/card/new" method="POST" enctype="multipart/form-data" onsubmit="return new_card_validate();" class="standard_wide uk-margin-top {{ not phone ? 'no_phone' }} {% if not admin and not user %}unknown{% endif %}">


        {% if app.session.has('admin') and app.session.get('admin').role == 'superadmin'%}
            {{ include('AdminBundle::admin_card_new.html.twig') }}
        {% endif %}
        {% if app.session.has('admin') and app.session.get('admin').role == 'cardmaster'%}
            {{ include('AdminBundle::admin_cardmaster_new.html.twig') }}
        {% endif %}



        <div uk-grid>

            <div class="uk-width-1-1@s">
                {% if not phone %}
                <div class="uk-margin-bottom uk-position-relative">
                    <input type="text" name="phone" id="phone" placeholder="Заполните номер телефона" class="uk-input phone_validate">
                    <div class="uk-position-absolute uk-position-top-left" style="left:5px;"><span class="red_star">*</span></div>
                </div>
                {% endif %}

                <div class="">{{ include('card/card_new_elements/new_type.html.twig') }}
                    <div class="uk-text-center uk-margin">
                        <button type="button" class="uk-button uk-button-primary uk-button-small newcard_continue" data-id="new_address">Продолжить</button>
                    </div>
                </div>

                <div class="uk-hidden uk-margin-medium-top" id="new_address">
                    {#<div class="uk-flex uk-flex-center"><hr class="uk-width-3-5"></div>#}
                    {{ include('card/card_new_elements/new_address.html.twig') }}
                    <div class="uk-text-center uk-margin">
                        <button type="button" class="uk-button uk-button-primary uk-button-small newcard_continue" data-id="new_general">Продолжить</button>
                    </div>
                </div>

                <div class="uk-hidden uk-margin-medium-top" id="new_general">
                    {#<div class="uk-flex uk-flex-center"><hr class="uk-width-3-5"></div>#}
                    {{ include('card/card_new_elements/new_general.html.twig') }}
                    <div class="uk-text-center uk-margin">
                        <button type="button" class="uk-button uk-button-primary uk-button-small newcard_continue" data-id="new_mark">Продолжить</button>
                    </div>
                </div>

                <div class="uk-hidden uk-margin-medium-top" id="new_mark">
                    {#<hr>#}
                    {{ include('card/card_new_elements/new_mark.html.twig') }}
                    <div class="uk-text-center uk-margin">
                        <button type="button" class="uk-button uk-button-primary uk-button-small newcard_continue" data-id="new_foto">Продолжить</button>
                    </div>
                </div>

                <div class="uk-hidden uk-margin-medium-top" id="new_foto">
                    {#<hr>#}
                    {{ include('card/card_new_elements/new_foto.html.twig') }}
                    <div class="uk-text-center uk-margin">
                        <button type="button" class="uk-button uk-button-primary uk-button-small newcard_continue" data-id="new_prices">Продолжить</button>
                    </div>
                </div>

                <div class="uk-hidden uk-margin-medium-top" id="new_prices">
                    {#<hr>#}
                    {{ include('card/card_new_elements/new_prices.html.twig') }}
                    <div class="uk-text-center uk-margin">
                        <button type="button" class="uk-button uk-button-primary uk-button-small newcard_continue" data-id="new_description">Продолжить</button>
                    </div>
                </div>

                <div class="uk-hidden uk-margin-medium-top" id="new_description">
                    {#<hr>#}
                    {{ include('card/card_new_elements/new_description.html.twig') }}
                    <div class="uk-text-center uk-margin">
                        <button type="button" class="uk-button uk-button-primary uk-button-small newcard_continue" data-id="new_dops_switcher">Продолжить</button>
                    </div>
                </div>


                <div uk-grid class="uk-hidden uk-margin-medium-top" id="new_dops_switcher">
                    <div class="uk-width-1-1"><hr></div>
                    <div class="uk-width-1-5"></div>
                    <div class="uk-width-4-5">
                        Можно <a id="fill_dop_button">заполнить дополнительную информацию</a>, но не обязательно
                    </div>


                    <div id="dop_fields" class="uk-width-1-1@s" hidden>
                        {{ include('card/card_new_elements/new_all_dops.html.twig') }}
                    </div>

                    <div class="uk-text-center uk-margin uk-width-1-1">
                        <button type="button" class="uk-button uk-button-primary uk-button-small newcard_continue" data-id="{{ not admin and not user ? 'new_password' : 'new_tariffs' }}">Продолжить</button>
                    </div>
                </div>


                {% if not admin and not user %}
                    <div class="uk-hidden uk-margin-medium-top" id="new_password" uk-grid>
                        <div class="uk-width-1-5">Регистрация <span class="red_star">*</span></div>
                        <div class="uk-width-4-5">

                            <div class=""><input type="text" form="new_card_form"  name="r_email" class="uk-input uk-width-1-2" placeholder="Введите ваш email" ><span class="uk-text-small c_grey"> - ваш email не будет показан на сайте</span></div>
                            <div class="uk-margin-top"><input  type="text" form="new_card_form"  name="r_header" class="uk-input uk-width-1-2" placeholder="Введите ваше имя или наименование компании" ><span class="uk-text-small c_grey"> - необходимо, чтобы клиенты могли обращаться к вам</span></div>
                            <div class="uk-margin-top"><input  type="text" form="new_card_form"  name="r_phone" class="uk-input uk-width-1-2 phone_validate" placeholder="Введите ваш телефон" ><span class="uk-text-small c_grey"> - необходим для связи с вами</span></div>
                            <input type="password" form="new_card_form"  name="r_password" placeholder="Придумайте пароль для входа" class="uk-input uk-width-1-3 uk-margin-top">
                        </div>
                        <div class="uk-text-center uk-margin uk-width-1-1">
                            <button type="button" class="uk-button uk-button-primary uk-button-small newcard_continue" data-id="new_tariffs">Продолжить</button>
                        </div>
                    </div>
                {% endif %}

                <div class="uk-hidden uk-margin-medium-top" id="new_tariffs">
                    <h3>Выберите тариф размещения</h3>
                    {{ include(':card:tariff_selector.html.twig', {'tariffId':0}) }}
                    <div class="uk-margin-top">
                        После выбора тарифа на ваш email будет отправлено письмо. Перейдите по ссылке в письме для завершения регистрации.<br>
                        <input type="checkbox" name="subscriber" checked> Получать новости и спецпредложения
                    </div>
                </div>

            </div>






        </div>






        <input type="hidden" name="tariffId" value="3">

        {#<hr>#}
        {#<button class="uk-button uk-button-primary">Готово</button>#}

    </form>


    <div id="new_card_alert" uk-modal>
        <div class="uk-modal-dialog c_red">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title c_red">Заполните поля</h2>
            </div>
            <div class="uk-modal-body" id="alert_content"></div>
        </div>
    </div>


{% endblock %}