{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/auto-complete.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/tinymce/jquery.tinymce.min.js') }}"></script>
    <script src="{{ asset('assets/tinymce/tinymce.min.js') }}"></script>
    <script src="{{ asset('assets/js/visual_editor.js') }}"></script>
    <script src="{{ asset('assets/js/new_card_validate.js') }}"></script>
    <script src="{{ asset('assets/js/auto-complete.min.js') }}"></script>
    <script src="{{ asset('assets/js/form_autocomplete.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWdm1zrblFjsdUfi1-6fsPvj30ACCiCxk"></script>
    <script src="{{ asset('assets/js/new_card_settings.js') }}"></script>
    <script src="{{ asset('assets/js/newCardForm.js') }}"></script>
{% endblock %}

{% block content %}

    <form id="new_card_form" action="/card/new" method="POST" enctype="multipart/form-data" onsubmit="return new_card_validate();" class="standard_wide">


        {% if app.session.has('admin') %}
            {{ include('AdminBundle::admin_card_new.html.twig') }}
        {% endif %}

        <div uk-grid>
            <div class="uk-width-1-2">
                <div class="uk-margin-bottom"><input type="text" name="header" placeholder="Заголовок" class="uk-input"></div>
                <div uk-grid class="service_selector">
                    <div class="uk-width-1-2">
                        <button type="button" class="uk-button uk-button-primary uk-width-1-1" value="1">Прокат</button>
                    </div>
                    <div class="uk-width-1-2">
                        <button type="button" class="uk-button uk-width-1-1" value="2">Аренда</button>
                    </div>
                    <input type="hidden" name="serviceTypeId" value="1">
                </div>

                <hr>

                <div class=""><span class="red_star">*</span>Адрес: <span uk-toggle="target: #city_selector">{{ city.header }} <i uk-icon="icon:chevron-down"></i></span></div>

                <div class="expandable_block" id="city_selector" hidden>
                    <div class="uk-text-small">Страна</div>
                    <select name="countryCode" id="countryCode" class="uk-select">
                        {#<option value="0">-выберите страну-</option>#}
                        {#{% for country_code, country_title in countries %}#}
                            {#<option value="{{ country_code }}" {{ country_code == countryCode ? 'selected' : '' }}>{{ country_title }}</option>#}
                        {#{% endfor %}#}
                        {{ include( 'common/ajax_edit_options.html.twig', { 'options': countries, 'id': countryCode }) }}
                    </select>
                    <div class="uk-text-small">Регион</div>
                    <select name="regionId" id="regionId" class="uk-select">
                        {{ include( 'common/ajax_edit_options.html.twig', { 'options': regions, 'id': regionId }) }}
                    </select>
                    <div class="uk-text-small">Город</div>
                    <select name="cityId" id="cityId" class="uk-select">
                        {{ include( 'common/ajax_edit_options.html.twig', { 'options': cities, 'id': cityId }) }}
                    </select>
                    <div class="uk-text-small">Адрес</div>
                    <div>
                        <textarea name="address" class="uk-textarea"></textarea>
                    </div>
                    <div class="uk-text-small" uk-toggle="target: #map_selector" id="show_map">Карта <i uk-icon="icon:chevron-down"></i></div>
                    <div id="map_selector" hidden>
                        {% if app.session.get('geo').city.lat == NULL %}
                            {% set lat = 55.753410 %}
                            {% set lon = 37.620285 %}
                        {% else %}
                            {% set lat = app.session.get('geo').city.lat %}
                            {% set lon = app.session.get('geo').city.lon %}
                        {% endif %}
                        <input name="coords" type="hidden" value="{{ lat }},{{ lon }}">
                        <div id="map" data-lat="{{ lat }}" data-lng="{{ lon }}"></div>
                    </div>


                    <input type="hidden" name="streetView">

                </div>

                <hr>

                <div class=""><span class="red_star">*</span>Тип транспорта: <span uk-toggle="target: #general_selector">{{ gt.header }} <i uk-icon="icon:chevron-down"></i></span></div>



                <div class="expandable_block" id="general_selector" hidden>
                    <div uk-grid>
                        <div class="uk-width-1-2">
                            <select name="generalTypeTopLevelId" id="generalTypeTopLevelId" class="uk-select">
                                {{ include( 'common/ajax_edit_options.html.twig', { 'options': generalTopLevel, 'id': 1 }) }}
                            </select>
                        </div>

                        <div class="uk-width-1-2">
                            <select name="generalTypeId" id="generalTypeId" class="uk-select">
                                {{ include( 'common/ajax_edit_options.html.twig', { 'options': generalSecondLevel, 'id':2 }) }}
                            </select>
                        </div>
                    </div>

                </div>

                <hr>

                    <div uk-grid class="uk-grid-small">
                        <div class="uk-width-1-3">
                            <div class="uk-text-small"><span class="red_star">*</span>Группа</div>
                            <select name="groupName" id="markGroupName" class="uk-select">
                                {#<option value="0">-выберите группу-</option>#}
                                {#{% for group_name, group_title in mark_groups %}#}
                                    {#<option value="{{ group_name }}" {{ group_name == 'cars' ? 'selected' : '' }}>{{ group_title }}</option>#}
                                {#{% endfor %}#}
                                {{ include( 'common/ajax_edit_options.html.twig', { 'options': mark_groups, 'id': 'cars' }) }}
                            </select>
                        </div>

                        <div class="uk-width-1-3">
                            <div class="uk-text-small"><span class="red_star">*</span>Марка</div>
                            <select name="mark" id="markId" class="uk-select">
                                {{ include( 'common/ajax_edit_options.html.twig', { 'options': marks, 'id': 0 }) }}
                            </select>
                        </div>

                        <div class="uk-width-1-3">
                            <div class="uk-text-small"><span class="red_star">*</span>Модель</div>
                            <select name="modelId" id="markModelId" class="uk-select"></select>
                        </div>

                        <div class="uk-width-1-2">
                            <label><input type="checkbox" name="noMark"> марки/модели нет в списке</label>
                        </div>

                        <div class="uk-width-1-2">
                            <input name="ownMark" class="uk-input" placeholder="впишите свою марку/модель">
                        </div>

                    </div>



                <hr>
                <div>
                    Фото: <input type="file" name="fotos[]" multiple> (до 5 одновременно)
                </div>

                <hr>

                <div class="uk-clearfix">
                    {% for price in prices if price.id == 2%}
                        <input type="number" name="price[{{ price.id }}]" class="uk-input uk-width-1-4" required> ₽ / <span>{{ price.header }} <span class="red_star">*</span> </span>
                    {% endfor %}
                    <span class="uk-float-right" uk-toggle="target: #price_selector">Еще цены <i uk-icon="icon:chevron-down"></i></span>
                </div>
                <div class="expandable_block" id="price_selector" hidden>
                    {% for price in prices if price.id != 2 %}
                        <div>
                            <input type="number" name="price[{{ price.id }}]" class="uk-input uk-width-1-4"> ₽ / <span>{{ price.header }} </span>
                        </div>
                    {% endfor %}
                </div>

            </div>


            <div class="uk-width-1-2">
                <button id="fill_dop_button" type="button" class="uk-button uk-button-primary">Заполнить дополнительную информацию</button>
            </div>

            <div id="dop_fields" class="uk-width-1-2" hidden>

                <div><textarea name="content" class="uk-textarea" placeholder="Описание"></textarea></div>

                <hr>

                <div class=""><span uk-toggle="target: #features_selector">Характеристики  <i uk-icon="icon:chevron-down"></i></span></div>

                <div class="expandable_block" id="features_selector" hidden>
                    <div >
                        {% for feature in features %}
                            <div>
                                <b>{{ feature.header }}</b>
                                <div>
                                    {% for item in feature.getChildren %}
                                        <div>
                                            <label>
                                                <input type="checkbox" name="feature[{{ item.id }}]"> {{ item.header }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <hr>

                <div class=""><span uk-toggle="target: #subfields">Дополнительно <i uk-icon="icon:chevron-down"></i></span></div>
                <div class="expandable_block" id="subfields" hidden></div>

                <hr>

                <div uk-grid class="uk-grid-small">
                    <div class="uk-width-1-3">
                        <div class="uk-text-small"><span class="red_star">*</span>Состояние</div>
                        <select name="conditionId" class="uk-select">
                            {% for condition in conditions %}
                                <option value="{{ condition.id }}">{{ condition.header }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="uk-width-1-3">
                        <div class="uk-text-small"><span class="red_star">*</span>Цвет</div>
                        <select name="colorId" class="uk-select">
                            {% for color in colors %}
                                <option value="{{ color.id }}">{{ color.header }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="uk-width-1-3">
                        <div class="uk-text-small"><span class="red_star">*</span>Год выпуска</div>
                        <select name="prodYear" class="uk-select">
                            {% for year in 1950..'now'|date('Y') %}
                                <option value="{{ year }}" {% if year == 2000  %} selected {% endif %}>{{ year }}</option>
                            {% endfor %}
                        </select>
                    </div>

                </div>

                <hr>

                <div class="uk-text-small">Видео:</div>
                <input name="video" class="uk-input">

            </div>
        </div>


        <hr>
        <div>Тариф:
            {% for tariff in tariffs %}
                <label><input type="radio" name="tariffId" value="{{ tariff.id }}" {{ tariff.id == 1 ? 'checked' : '' }}> {{ tariff.header }}</label>
            {% endfor %}
        </div>
        <hr>
        <button class="uk-button uk-button-primary">Готово</button>

    </form>



{% endblock %}