{% extends 'base.html.twig' %}
{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('assets/css/slick.min.css') }}" rel="stylesheet">
<link href="{{ asset('assets/css/owl.carousel.min.css') }}" rel="stylesheet">
<link href="{{ asset('assets/css/owl.theme.default.css') }}" rel="stylesheet">
<link href="{{ asset('assets/css/auto-complete.css') }}" rel="stylesheet">
<link href="{{ asset('assets/css/datepicker.min.css') }}" rel="stylesheet">
<link href="{{ asset('assets/css/card-alex.css') }}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('assets/js/slick.min.js') }}"></script>
<script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
<script src="{{ asset('assets/js/city_general_mark_selector.js') }}"></script>
<script src="{{ asset('assets/js/showCard.js') }}"></script>
<script src="{{ asset('assets/js/sliderSettings.js') }}"></script>
<script src="{{ asset('assets/js/auto-complete.min.js') }}"></script>
<script src="{{ asset('assets/js/mark_autocomplete.js') }}"></script>
<script src="{{ asset('assets/js/form_city_autocomplete.js') }}"></script>
<script src="{{ asset('assets/js/recaptcha_settings.js') }}"></script>
<script src="{{ asset('assets/js/recapthcha_validate.js') }}"></script>
<script src="{{ asset('assets/js/datepicker.min.js') }}"></script>
<script src="{{ asset('assets/js/chat.js') }}"></script>
<!--<script src="{{ asset('assets/js/jquery.maskedinput.js') }}"></script>
<script src="{{ asset('assets/js/phone_validate.js') }}"></script>-->
<script src="{{ asset('assets/js/inputmask.min.js') }}"></script>
<script src="{{ asset('assets/js/country.js') }}"></script>
<script src="{{ asset('assets/js/card-alex.js') }}"></script>
{% endblock %}
{% block socialScripts %}
<!-- VK -->
{#<script type="text/javascript" src="//vk.com/js/api/openapi.js?149"></script>#}
{#<script type="text/javascript">VK.init({apiId: 6213461, onlyWidgets: true});</script>#}
{#<script type="text/javascript" src="https://vk.com/js/api/share.js?95" charset="windows-1251"></script>#}
<!-- VK -->
{#<script src='https://www.google.com/recaptcha/api.js'></script>#}
{% endblock %}
{% block openGraph %}
{{ parent() }}
<meta property="og:type" content="website">
<meta property="og:image" content="{{ app.request.getSchemeAndHttpHost() ~ mainFoto }}">
<meta property="og:title" content="{{ include(':seo_templates:p_title.html.twig') }}">
<meta property="og:url" content="{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}">
{% endblock %}
{% block metaTags %}
{{ parent() }}
<meta name="description" content="{% include ':seo_templates:p_description.html.twig' %}">
{% endblock %}
{% block htmlblock %}
prefix="og: http://ogp.me/ns#"
{% endblock %}
{% block title %}{{ include(':seo_templates:p_title.html.twig') }}{% endblock %}
{% block content %}
<script>var cardId = {{ card.id }};</script>
<!-- FB -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.10&appId=1747516202216504";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- FB -->
{% if app.session.has('share') %}
    {{ app.session.remove('share') }}
{% endif %}

<div class="uk-container" >
    <!-- Breadcrumbs -->
    <ul itemscope itemtype="http://schema.org/BreadcrumbList" class="uk-breadcrumb uk-margin-bottom breadcrumb">
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemprop="item" href="/"><span itemprop="name">{% trans %}Главная{% endtrans %}</span></a><meta itemprop="position" content="1" /></li>
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemprop="item" href="/rent/{{ card.city.url }}"><span itemprop="name">{{ card.city.header }}</span></a><meta itemprop="position" content="2" /></li>
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemprop="item" href="/rent/{{ card.city.url }}/all/{{ card.generalType.url }}"><span itemprop="name">{{ lang == 'ru' ? card.generalType.header : card.generalType.url }}</span></a><meta itemprop="position" content="3" /></li>
        {% if bodyType %}
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="/rent/{{ card.city.url }}/all/{{ card.generalType.url }}/{{ bodyType.url }}"><span itemprop="name">{{ lang == 'ru' ? bodyType.header : bodyType.url }}</span></a>
            <meta itemprop="position" content="4" />
        </li>
        {% endif %}
        {% if card.modelId != 20991 %}
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="/rent/{{ card.city.url }}/all/{{ card.generalType.url }}/{{ card.markModel.mark.header }}"><span itemprop="name">{{ card.serviceTypeId == 1 ? 'Прокат'|trans : 'Аренда'|trans }} {{ card.markModel.mark.header }} в {{ card.city.gde == null ? card.city.header : card.city.gde  }}</span></a>
            <meta itemprop="position" content="5" />
        </li>
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="/rent/{{ card.city.url }}/all/{{ card.generalType.url }}/{{ card.markModel.mark.header }}/{{ card.markModel.header }}"><span itemprop="name">{{ card.markModel.mark.header }} {{ card.markModel.header }}</span></a>
            <meta itemprop="position" content="6" />
        </li>
        {% endif %}
    </ul>
    <!-- /Breadcrumbs -->
    <!-- Product schema -->
    <div itemscope  itemtype="http://schema.org/Product">
        <meta itemprop="name" content="{{ card.markModel.Mark.header }} {{ card.markModel.header }}">
        <link itemprop="url" href="https://multiprokat.com/card/{{ card.id }}"/>
        <link itemprop="image" href="https://multiprokat.com{{ mainFoto}}" />
        <meta itemprop="description" content="Прокат {{ card.markModel.Mark.header }} {{ card.markModel.header }} в {{ card.city.header }}">

        <div itemscope itemprop="offers" itemtype="http://schema.org/Offer">
            <meta itemprop="price" content="{{ price_hour}}" />
            <meta itemprop="priceCurrency" content="RUB">
            <meta itemprop="availability" content="http://schema.org/InStock" />


    <!-- /Product schema -->

    <!-- Entry Title -->
    <div class="entry-header">
        <h1  class="entry-header__title">{{ include(':seo_templates:p_h1.html.twig') }}</h1>
    </div>
    <!-- /Entry Title -->

    <!-- First Grid: gallery; aside with author, price list, book & feedback buttons -->
    <div uk-grid>

        <!-- First Grid--First Column: thumbnails, preview -->
        <div class="uk-width-1-1@s uk-width-2-3@m uk-width-3-4@l">
            <div class="uk-position-relative">
                <div class="uk-position-absolute entry-like">
                    <div class="uk-grid-medium uk-grid-match" uk-grid>
                        <div class="uk-width-1-4@s uk-width-1-4@l"></div>
                        <div class="uk-width-3-4@s uk-width-3-4@l">
                            <div class="uk-text-center@s">
                                <a href="javascript:;" class="entry-like__button{% if (app.session.has('likes')) and (app.session.get('likes')[card.id] is defined) %} entry-like__button_active{% endif %} js-like-button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                                        <path d="M21.5329 31.7722L20 33.3051L18.4671 31.7722L18.4455 31.7506L18.4226 31.7303C14.2458 28.0354 10.8719 25.0106 8.53254 22.1643C6.20458 19.332 5 16.7921 5 14.0793C5 9.67158 8.39228 6.2793 12.8 6.2793C15.2211 6.2793 17.6635 7.42614 19.2366 9.28524L20 10.1874L20.7634 9.28524C22.3365 7.42614 24.7789 6.2793 27.2 6.2793C31.6077 6.2793 35 9.67158 35 14.0793C35 16.7921 33.7954 19.332 31.4675 22.1643C29.1281 25.0106 25.7542 28.0354 21.5774 31.7303L21.5545 31.7506L21.5329 31.7722Z" stroke="#EA1D1D" stroke-width="2"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="uk-grid-medium uk-grid-match" uk-grid>
                    <div class="uk-width-1-4@s uk-width-1-4@m uk-width-1-4@l uk-visible@s">
                        <div class="entry-thumbs">
                            <div class="entry-thumbs__slider{% if card.getFotos|length < 5 %} entry-thumbs__slider_fix{% endif %} js-entry-thumbs-slider">
                                {% for k, foto in card.getFotos %}
                                <div class="entry-thumbs__slide">
                                    <div class="entry-thumbs__item">
                                        <div class="entry-thumbs__figure">
                                            <div class="entry-thumbs__image" style="background-image: url('/assets/images/cards/{{ foto.folder }}/{{ foto.id }}.jpg');"></div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="uk-width-3-4@s uk-width-3-4@m uk-width-3-4@l">
                        <div class="entry-preview">
                            <div class="entry-preview__slider slider-preview js-entry-preview-slider" uk-lightbox>
                                {% for k, foto in card.getFotos %}
                                <div class="entry-preview__slide">
                                    <a class="entry-preview__link"  href="/assets/images/cards/{{ foto.folder }}/{{ foto.id }}.jpg">
                                        <div class="entry-preview__item">
                                            <div class="entry-preview__figure">
                                                <div class="entry-preview__image"  style="background-image: url('/assets/images/cards/{{ foto.folder }}/{{ foto.id }}.jpg');"></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- First Grid--Second Column: author, price list, buttons -->
        <div class="uk-width-1-1@s uk-width-1-3@m uk-width-1-4@l">

            <div class="uk-card uk-card-default uk-width-1-1 uk-flex uk-flex-column uk-flex-between entry-aside">
                <!-- Second Column/author information: avatar, status, name, rating -->
                <div class="entry-aside__author author-aside">
                    <div class="uk-grid-small" uk-grid>
                        {% if (user_foto is not null) and (user_foto is not empty) %}
                        <div class="uk-width-auto">
                            <a class="uk-display-block" href="/user/{{ card.user.id }}">
                                <div class="uk-border-circle uk-background-cover author-aside__image" style="background-image: url('{{ user_foto }}');"></div>
                            </a>
                        </div>
                        {% endif %}
                        <div class="uk-width-expand">
                            <p class="author-aside__status">{% trans %}Владелец{% endtrans %}</p>
                            <h3 class="author-aside__name"><a class="author-aside__link" href="/user/{{ card.user.id }}">{{ card.user.header }}</a></h3>
                            <div class="author-aside__rating rating-author uk-width-1-1">
                                <div class="rating-list">
                                    <div class="rating-list__item"><span class="rating-list__icon{% if (opinions >= 1) %} rating-list__icon_active{% endif %}"></span></div>
                                    <div class="rating-list__item"><span class="rating-list__icon{% if (opinions >= 2) %} rating-list__icon_active{% endif %}"></span></div>
                                    <div class="rating-list__item"><span class="rating-list__icon{% if (opinions >= 3) %} rating-list__icon_active{% endif %}"></span></div>
                                    <div class="rating-list__item"><span class="rating-list__icon{% if (opinions >= 4) %} rating-list__icon_active{% endif %}"></span></div>
                                    <div class="rating-list__item"><span class="rating-list__icon{% if (opinions == 5) %} rating-list__icon_active{% endif %}"></span></div>
                                </div>
                                <span class="rating-author__value">({{ total_opinions }})</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Second Column/price list -->
                <div class="entry-aside__price price-entry">
                    <h4 class="price-entry__title">Стоимость аренды</h4>
                    {% set servicePercent = card.generalType.servicePercent %}
                    {% set currency = {
                        'RUB': '<i class="fa fa-ruble"></i>',
                        'EUR': '<i class="fa fa-euro"></i>',
                        'USD': '<i class="fa fa-dollar"></i>',
                        'BYN':'Бел. Рублей',
                        'KZT':'Тенге',
                        'UAH':'Гривен'
                    } %}
                    <ul class="price-entry__list">
                        {% for price in card.getCardPrices if price.value != '' and price.value != '0.00' and price.priceId != 10 %}
                        <li class="price-entry__item">
                            <span class="price-entry__time">{{ price.getPrice.header|trans }}</span>
                            <span class="price-entry__price">
                                        {% set c_price = price.value + (price.value/100*servicePercent)|round(0,'ceil') %}
                                        {{ c_price|number_format(0,'.','&nbsp;')|raw }}&nbsp;
                                         {{ currency[card.currency]|raw }}
                                    </span>
                        </li>
                        {% endfor %}
                        {% for price in card.getCardPrices if price.value != '' and price.value != '0.00' and price.priceId == 10 %}
                        <li class="price-entry__item price-entry__item_pledge">
                            <span class="price-entry__time">Залог</span>
                            <span class="price-entry__price">
                                        {{ price.value|number_format(0,'.','&nbsp;')|raw }}&nbsp;
                                        {{ currency[card.currency]|raw }}
                                    </span>
                        </li>
                        {% endfor %}


                    </ul>
                </div>

                <!-- Second Column/buttons -->
                <div class="entry-aside__actions actions-entry">
                    {% if app.session.has('admin') or ( app.session.has('logged_user') and card.user.id == app.session.get('logged_user').id ) %}
                        <a href="/user/edit/card/{{ card.id }}" class="uk-button button button-primary button-lg uk-width-1-1 uk-margin-small actions-entry__button">{% trans %}Редактировать{% endtrans %}</a>
                        <button class="uk-button button button-outline-primary button-lg actions-entry__button uk-width-1-1 uk-padding-remove-horizontal">{% trans %}Поделиться{% endtrans %}</button>
                    {% else %}
                        <button class="uk-button button button-primary button-lg uk-width-1-1 uk-margin-small actions-entry__button" uk-toggle="target: {{ app.session.has('logged_user') ? '#user_book_form' : '#nonreged_user_book_form' }}">{{ card.user.adminId ? 'Забронировать' : 'Забронировать' }}</button>
                        <div class="uk-flex uk-flex-middle">
                            <button class="uk-button button button-outline-primary button-lg actions-entry__button uk-width-1-1 uk-padding-remove-horizontal" uk-toggle="target: {{ app.session.has('logged_user') ? '#user_book_form' : '#nonreged_user_book_form' }}">Отправить сообщение</button>
                                                  </div>
                        <p class="actions-entry__text">Среднее время ответа на заявку 10 мин.</p>
                    {% endif %}
                </div>
            </div>

        </div>

    </div>
    <!-- /First Grid: gallery; aside with author, price list, book & feedback buttons -->

    <!-- Second Grid: information; characteristics; reviews; share section; best offers -->
    <div uk-grid>

        <!-- Second Grid--First Column: information, characteristics, reviews, share section -->
        <div class="uk-width-1-1@s uk-width-2-3@m uk-width-3-4@l">

            <!-- First Column/tabs: information, characteristics -->
            <div class="uk-width-1-1 entry-body">
                <ul class="entry-body__tab tab-entry" uk-tab>
                    <li><a href="javascript:;">{% trans %}Информация{% endtrans %}</a></li>
                    {% if (card.getCardFeatures is not null) and (card.getCardFeatures is not empty) %}
                    <li><a href="javascript:;">{% trans %}Характеристики{% endtrans %}</a></li>
                    {% endif %}
                </ul>

                <ul class="uk-switcher">
                    <li>
                        <div class="entry-information">
                            <div itemprop="description" class="entry-information__description">{{ card.content|striptags('<br><p><b><ul><li><strong>')|raw }}</div>

                            <div class="entry-information__list uk-grid-row-collapse uk-child-width-1-1 uk-child-width-1-2@m" uk-grid>
                                {% if card.prodYear != 0 %}
                                <div>
                                    <div class="entry-information__item">
                                        <span class="entry-information__name">{% trans %}Год выпуска{% endtrans %}:</span>
                                        <span class="entry-information__value">{{ card.prodYear }}</span>
                                    </div>
                                </div>
                                {% endif %}
                                <div>
                                    <div class="entry-information__item">
                                        <span class="entry-information__name">{% trans %}Состояние{% endtrans %}:</span>
                                        <span class="entry-information__value">{{ card.getCondition.header }}</span>
                                    </div>
                                </div>
                                {% if card.getColor != null %}
                                <div>
                                    <div class="entry-information__item">
                                        <span class="entry-information__name">{% trans %}Цвет{% endtrans %}:</span>
                                        <span class="entry-information__value">{{ card.getColor.header }}</span>
                                    </div>
                                </div>
                                {% endif %}
                                {% for subfield in sub_fields if subfield.value is not null %}
                                {% if subfield.type == 'subfield' %}
                                <div>
                                    <div class="entry-information__item">
                                        <span class="entry-information__name">{{ subfield.label }}:</span>
                                        <span class="entry-information__value">
                                                        {{ subfield.value.getHeader }}
                                                    </span>
                                    </div>
                                </div>
                                {% elseif subfield.value.getValue != 0 and subfield.value.getValue != '' %}
                                <div>
                                    <div class="entry-information__item">
                                        <span class="entry-information__name">{{ subfield.label }}:</span>
                                        <span class="entry-information__value">
                                                        {{ subfield.label }}: {{ subfield.value.getValue }}
                                                    </span>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                                <div>
                                    <div class="entry-information__item">
                                        <span class="entry-information__name">Доставка:</span>
                                        <span class="entry-information__value">
                                                {{ card.deliveryStatus == 0 ? 'Нет, клиент забирает транспорт самостоятельно' }}
                                                {{ card.deliveryStatus == 1 ? 'Да, мы доставляем транспорт' }}
                                                {{ card.deliveryStatus == 2 ? 'Возможна, по согласованию' }}
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div uk-grid>
                                <div class="uk-flex uk-flex-middle uk-text-meta"><span class="uk-margin-small-right" uk-icon="icon: calendar"></span>Опубликовано {{ card.dateCreate|date('d.m.Y') }}</div>
                                <div class="uk-flex uk-flex-middle uk-text-meta "><span class="uk-icon uk-icon-image uk-margin-small-right" style="background-image: url('/assets/images/icons/eye.svg');"></span>{{ card.views }}</div>
                            </div>
                        </div>
                    </li>

                    {% if (card.getCardFeatures is not null) and (card.getCardFeatures is not empty) %}
                    <li>
                        <div class="entry-information__list uk-grid-row-small uk-child-width-1-1 uk-child-width-1-2@m" uk-grid>
                            {% for feature in card.getCardFeatures %}
                            <div class="uk-flex uk-flex-middle">
                                <span class="uk-icon uk-icon-image uk-margin-small-right icon-check"></span>{{ feature.getFeature.header }}
                            </div>
                            {% endfor %}
                        </div>
                    </li>
                    {% endif %}
                </ul>
                <div class="uk-hr entry-information__hr"></div>
            </div>
            <!-- /First Column/tabs: information, characteristics -->

            <!-- First Column/review -->
            <div class="uk-width-1-1 entry-reviews">
                <div class="entry-reviews__header">
                    <h3 class="entry-reviews__title">Отзывы <span class="uk-hidden@m">{{ card.opinions|length }}</span></h3>
                    <a class="entry-reviews__link uk-visible@m" href="#">Все отзывы ({{ card.opinions|length }})</a>
                </div>
                <div class="entry-reviews__body">

                    {% if card.opinions is not empty %}
                        <ul class="uk-comment-list uk-margin-remove comment-list">
                            {% for opinion in card.opinions %}
                                <li>
                                    <article class="uk-comment comment">
                                        <header class="uk-comment-header comment__header header-comment">
                                            <h4 class="uk-comment-title uk-margin-remove header-comment__title">{{ opinion.user.header }}</h4>
                                        </header>
                                        <div class="uk-comment-body comment__body">
                                            {{ opinion.content }}
                                        </div>
                                        <footer class="uk-comment-footer comment__footer">
                                            <div class="uk-flex uk-flex-between uk-comment-meta comment__actions">

                                                <div class="rating-list">
                                                    {{ comment.stars }}
                                                    <div class="rating-list__item"><span class="rating-list__icon{% if (opinion.stars >= 1) %} rating-list__icon_active{% endif %}"></span></div>
                                                    <div class="rating-list__item"><span class="rating-list__icon{% if (opinion.stars >= 2) %} rating-list__icon_active{% endif %}"></span></div>
                                                    <div class="rating-list__item"><span class="rating-list__icon{% if (opinion.stars >= 3) %} rating-list__icon_active{% endif %}"></span></div>
                                                    <div class="rating-list__item"><span class="rating-list__icon{% if (opinion.stars >= 4) %} rating-list__icon_active{% endif %}"></span></div>
                                                    <div class="rating-list__item"><span class="rating-list__icon{% if (opinion.stars == 5) %} rating-list__icon_active{% endif %}"></span></div>
                                                </div>

                                                <div class="uk-flex-first@m">{{ opinion.dateCreate|date('d.m.Y H:i') }}</div>

                                                <div itemprop="review" itemscope itemtype="http://schema.org/Review">
                                                    <meta itemprop="name">Отзыв</meta>
                                                     <meta itemprop="author" content="{{ opinion.user.header }}">,
                                                    <meta itemprop="datePublished" content="{{ opinion.dateCreate|date('d.m.Y') }}">
                                                    <div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                                                        <meta itemprop="worstRating" content="1">
                                                        <meta itemprop="ratingValue"  content="{{ opinion.stars }}">
                                                        <meta itemprop="bestRating" content="5">
                                                        <meta itemprop="description" content="{{ opinion.content }}">
                                                    </div>
                                                </div>

                                            </div>
                                        </footer>
                                    </article>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <div class="uk-comment-body comment__body">
                            Никто пока не оставил отзыв
                        </div>

                    {% endif %}
                </div>

                <div class="entry-reviews__header"><h3 class="entry-reviews__title">Оставьте свой отзыв</h3></div>
                <div class="entry-reviews__body">
                    {% if app.session.has('logged_user') %}
                        <form action="/userAddOpinion" method="POST">
                            <div class="uk-form-stacked uk-margin">
                                <label class="uk-form-label">{% trans %}Ваша оценка{% endtrans %}</label>

                                <div class="uk-flex uk-flex-middle">
                                    <div class="rating-list">
                                        {% for s in [1,2,3,4,5] %}
                                        <div class="rating-list__item filled rs_selector star_{{ s }} {{ s == 5 ? 'stopped' }}" data-star="{{ s }}"><span class="rating-icon rating-icon_active"></span></div>
                                        {% endfor %}
                                    </div>
                                    <div class="uk-margin-small-left">
                                        <span class="js-stars-rating-list">5</span>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-form-stacked uk-align">
                                <label class="uk-form-label">{% trans %}Ваш отзыв{% endtrans %}</label>
                                <textarea name="content" class="uk-textarea entry-reviews__textarea" required></textarea>
                            </div>
                            <input type="hidden" name="stars" value="5">
                            <input type="hidden" name="user_id" value="{{ app.session.get('logged_user').id }}">
                            <input type="hidden" name="card_id" value="{{ card.id }}">
                            <input type="hidden" name="return" value="{{ app.request.requestUri }}">
                            <div class="uk-flex uk-flex-center">
                                <button class="btn btn-solid">{% trans %}Отправить{% endtrans %}</button>
                            </div>
                        </form>

                    {% else %}
                        <div>
                            <a class="link" href="#signIn" uk-toggle>{% trans %}Войдите{% endtrans %}</a> {% trans %}или{% endtrans %} <a class="link" href="#signUp" uk-toggle>{% trans %}зарегистрируйтесь{% endtrans %}</a>, {% trans %}чтобы оставить отзыв{% endtrans %}.
                        </div>
                    {% endif %}
                </div>
            </div>
            <!-- /First Column/review -->

            <!-- First Column/share -->
            <div class="uk-width-1-1">
                <div class="entry-share uk-width-1-1@s uk-width-5-6@l">
                    <div class="uk-grid-collapse uk-text-center uk-text-left@m" uk-grid>
                        <div class="uk-width-1-1 uk-width-auto@m">
                            <span class="uk-icon uk-icon-image icon-giftbox"></span>
                        </div>
                        <div class="uk-width-1-1 uk-width-2-3@m uk-width-3-5@l">
                            <h3 class="entry-share__title">Поделитесь записью и зарабoтайте 500 рублей на аренду транспорта</h3>
                            <div class="entry-share__body">Поделитесь с друзьями этой записью и мы подарим вам 500 рублей на аренду транспорта</div>
                            <div class="entry-share__actions">
                                <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                                <script src="https://yastatic.net/share2/share.js"></script>
                                <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,twitter,viber,whatsapp,telegram" image="{{mainFoto}}"></div>
{#                                <button type="button" class="uk-button button button-primary button-lg entry-share__button">Поделиться</button></div>#}
                            </div> </div>
                    </div>
                </div>
            </div>
            <!-- /First Column/share -->
        </div>

        <div class="uk-width-1-1@s uk-width-1-3@m uk-width-1-4@l">
            <div class="best-offers">
                <div class="best-offers__header">
                    <h3 class="best-offers__title">{% trans %}Лучшие предложения{% endtrans %}</h3>
                </div>
                <div class="best-offers__content" itemscope itemtype="http://schema.org/ItemList">
                    <div class="uk-child-width-1-2 uk-child-width-1-1@m best-offers__list" uk-grid>
                        {% for card in t3_new.getTop3 %}
                        {{ include('search/one_grid_view_alex.html.twig', {'card':card, 'height':'150px'}) }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Second Grid: information; characteristics; reviews; share section; best offers -->

    <!-- Third Grid: many people like -->
    <div uk-grid>
        <div class="uk-width-1-1">

            <div class="many-like uk-margin-large-bottom" itemscope itemtype="http://schema.org/ItemList">
                <div class="many-like__header">
                    <h3 class="many-like__title">{% trans %}Многим нравится{% endtrans %}</h3>
                </div>
                <div class="uk-child-width-1-2 uk-child-width-1-4@m uk-grid-column-medium uk-grid-row-large many-like__list" uk-grid>
                    {% for card in similar %}
                        {{ include('search/one_grid_view_alex.html.twig', {'card':card, 'height':'150px'}) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- /Third Grid: many people like -->
        </div>
    </div>
</div>

<input type="hidden" name="card_id" value="{{ card.id }}">

<div id="share_butons" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">{% trans %}Расскажи всем!{% endtrans %}</h2>
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="">
            {#<div class="">#}
            {#<div uk-grid class="uk-flex uk-flex-center uk-grid-small">#}
                {#<div><!-- VK like -->#}
                    {#<div id="vk_like"></div>#}
                    {#<script type="text/javascript">VK.Widgets.Like("vk_like", {type: "button"});</script>#}
                    {#</div>#}
                {#<div class="  vk_share"><!-- VK share -->#}
                    {#<script type="text/javascript">document.write(VK.Share.button(false,{type: "round", text: "Поделиться"}));</script>#}
                    {#</div>#}
                {#<div class="uk-width-2-3">#}
                    {#<div class="fb-like" data-href="{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>#}
                    {#</div>#}
                {#<div>#}
                    {#<script src="https://apis.google.com/js/platform.js" async defer></script>#}
                    {#<g:plusone></g:plusone>#}
                    {#<div class="g-plus" data-action="share" data-height="24"></div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        </div>
    </div>
</div>

{% if app.session.has('first_card') %}
    {{ app.session.remove('first_card') }}
{% endif %}

<div id="user_abuse" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">{% trans %}Жалоба{% endtrans %}</h2>
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <form action="/user/sendAbuse" uk-grid class="uk-grid-small" method="POST" >
            <div class="uk-width-1-1">
                <label><input type="checkbox" name="abuse[]" value="Телефон не отвечает">{% trans %}Телефон не отвечает{% endtrans %}</label>
            </div>
            <div class="uk-width-1-1">
                <label><input type="checkbox" name="abuse[]" value="Транспорт больше не актуален">{% trans %}Транспорт больше не актуален{% endtrans %}</label>
            </div>
            <div class="uk-width-1-1">
                <label><input type="checkbox" name="abuse[]" value="Ворованные фото">{% trans %}Ворованные фото{% endtrans %}</label>
            </div>
            <div class="uk-width-1-1">
                <label><input type="checkbox" name="abuse[]" value="Грубый владелец">{% trans %}Грубый владелец{% endtrans %}</label>
            </div>
            <input type="hidden" name="card_id" value="{{ card.id }}">
            <div class="uk-width-1-1">
                <button class="uk-button uk-button-default uk-width-1-1">{% trans %}Отправить{% endtrans %}</button>
            </div>
            {#<div id="recap_2" class="g-recaptcha"#}
                   {#data-callback="capcha_filled"#}
                   {#data-expired-callback="capcha_expired"#}
                   {#data-sitekey="6LcGCzUUAAAAADpeaCQhkXWZqdhnB6_ZEGRm7Z2m"></div>#}
            <div id="recap2"></div>
            <input type="hidden" name="g-recaptcha-response">
        </form>
    </div>
</div>

{% if card.user.isNew == 1 %}
    {{ include('card/order_forms/new_order_form.html.twig') }}
{% else %}
    {{ include('card/order_forms/old_order_form.html.twig') }}
{% endif %}

<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async defer>
</script>

{{ include('card/order_forms/nonreged_form.html.twig') }}

{% endblock %}
