{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/auto-complete.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/select2.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/datepicker.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/alex/card/card_new.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/padding_fix.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>var isSubfieldsEmpty = true;</script>
    <script src="{{ asset('assets/js/image_upload_preview.js') }}"></script>
    <script src="{{ asset('assets/js/datepicker.min.js') }}"></script>
    <script src="{{ asset('assets/js/alex/address_change.js') }}"></script>
    <script src="{{ asset('assets/js/alex/transport_change_new.js') }}"></script>
    <script src="{{ asset('assets/js/alex/tariff_change.js') }}"></script>
    <script src="{{ asset('assets/js/alex/images_upload.js') }}"></script>
    <script src="{{ asset('assets/js/alex/card-new_validate_new.js') }}"></script>
    <script src="{{ asset('assets/js/select2.min.js') }}"></script>
    <script src="{{ asset('assets/js/select_combo.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWdm1zrblFjsdUfi1-6fsPvj30ACCiCxk"></script>
{% endblock %}

{% block bodyVars %}data-lang="{{ lang }}"{% endblock %}


{% block title %}{% if gt_url %}Сдать в аренду/прокат {{ gt_url.headerSingular|lower }} в {{ city.gde }}{% endif %}{% endblock %}


{% block content %}
    <div class="uk-container">
        {% if not admin and not user %}
            {{ include('user/step_auth.html.twig') }}
        {% else %}

        <h2 class="uk-margin-medium-bottom">Сдача транспорта в аренду</h2>

        <ul uk-switcher="connect: .js-step-new-form; swiping: false;" hidden>
            <li><a href="javascript:;">1</a></li>
            <li><a href="javascript:;" class="js-step-two-link">2</a></li>
            <li><a href="javascript:;">3</a></li>
            <li><a href="javascript:;">4</a></li>
            <li><a href="javascript:;">5</a></li>
            <li><a href="javascript:;">6</a></li>
        </ul>

        <form action="/card/new" method="POST" enctype="multipart/form-data" class="js-card-new-form" {% if not admin and not user %}hidden{% endif %}>
        <ul id="js-control" class="uk-switcher uk-margin js-step-new-form">
            <!-- Step 1/6 -->
            <li  class="js-step-one">
                <div class="uk-margin-small-bottom">{% trans %}Шаг{% endtrans %} 1 <span class="uk-text-muted">{% trans %}из{% endtrans %} 6</span></div>
                <div class="uk-hr uk-align uk-margin-remove-top"></div>
                {{ include('card/card_new_elements/new_type.html.twig') }}
                <div class="uk-padding uk-padding-remove-horizontal uk-padding-remove-bottom">
                    <button type="button" class="uk-button button button-primary button-lg uk-width-1-1 uk-width-1-5@m js-next-step">{% trans %}Далее{% endtrans %}</button>
                </div>
            </li>
            <!-- /Step 1/6 -->

            <!-- Step 2/6 -->
            <li class="js-step-two">
                <div class="uk-margin-small-bottom">{% trans %}Шаг{% endtrans %} 2 <span class="uk-text-muted">{% trans %}из{% endtrans %} 6</span></div>
                <div class="uk-hr uk-align uk-margin-remove-top"></div>

                {{ include('card/card_new_elements/new_address.html.twig') }}

                <div class="uk-padding uk-padding-remove-horizontal uk-padding-remove-bottom">
                    <div class="uk-grid-small uk-child-width-1-1 uk-child-width-1-5@m" uk-grid>
                        <div class="uk-flex-last@m">
                            <button type="button" class="uk-button button button-primary button-lg uk-width-1-1 js-next-step">{% trans %}Далее{% endtrans %}</button>
                        </div>
                        <div>
                            <button type="button" class="uk-button button button-outline-primary button-lg uk-width-1-1 js-prev-step">{% trans %}Назад{% endtrans %}</button>
                        </div>
                    </div>
                </div>
            </li>
            <!-- Step 2/6 -->

            <!-- Step 3/6 -->
            <li class="js-step-three">
                <div class="uk-margin-small-bottom">{% trans %}Шаг{% endtrans %} 3 <span class="uk-text-muted">{% trans %}из{% endtrans %} 6</span></div>
                <div class="uk-hr uk-align uk-margin-remove-top"></div>
                {{ include('card/card_new_elements/new_general.html.twig') }}

                {{ include('card/card_new_elements/new_mark.html.twig') }}

                <div class="uk-padding uk-padding-remove-horizontal uk-padding-remove-bottom">
                    <div class="uk-grid-small uk-child-width-1-1 uk-child-width-1-5@m" uk-grid>
                        <div class="uk-flex-last@m">
                            <button type="button" class="uk-button button button-primary button-lg uk-width-1-1 js-next-step">{% trans %}Далее{% endtrans %}</button>
                        </div>
                        <div>
                            <button type="button" class="uk-button button button-outline-primary button-lg uk-width-1-1 js-prev-step">{% trans %}Назад{% endtrans %}</button>
                        </div>
                    </div>
                </div>
            </li>
            <!-- Step 3/6 -->

            <!-- Step 4/6 -->
            <li class="js-step-four">
                <div class="uk-align uk-hidden@m">
                    <p class="uk-margin-remove">{% trans %}Качественные фотографии вашего транспорта, привлекают  больше внимания и помогают получить больше заявок от арендаторов, тем самым увеличивая ваш заработок.{% endtrans %}</p>
                </div>
                <div class="uk-margin-small-bottom">{% trans %}Шаг{% endtrans %} 4 <span class="uk-text-muted">{% trans %}из{% endtrans %} 6</span></div>
                <div class="uk-hr uk-align uk-margin-remove-top"></div>
                {{ include('card/card_new_elements/new_foto.html.twig') }}

                {{ include('card/card_new_elements/new_description.html.twig') }}

                <div class="uk-padding uk-padding-remove-horizontal uk-padding-remove-bottom">
                    <div class="uk-grid-small uk-child-width-1-1 uk-child-width-1-5@m" uk-grid>
                        <div class="uk-flex-last@m">
                            <button type="button" class="uk-button button button-primary button-lg uk-width-1-1 js-next-step">{% trans %}Далее{% endtrans %}</button>
                        </div>
                        <div>
                            <button type="button" class="uk-button button button-outline-primary button-lg uk-width-1-1 js-prev-step">{% trans %}Назад{% endtrans %}</button>
                        </div>
                    </div>
                </div>
            </li>
            <!-- Step 4/6 -->

            <!-- Step 5/6 -->
            <li class="js-step-five">
                <div class="uk-margin-small-bottom">{% trans %}Шаг{% endtrans %} 5 <span class="uk-text-muted">{% trans %}из{% endtrans %} 6</span></div>
                <div class="uk-hr uk-align uk-margin-remove-top"></div>
                {{ include('card/card_new_elements/new_prices.html.twig') }}

                {{ include('card/card_new_elements/new_all_dops.html.twig') }}

                <div class="uk-padding uk-padding-remove-horizontal uk-padding-remove-bottom">
                    <div class="uk-grid-small uk-child-width-1-1 uk-child-width-1-5@m" uk-grid>
                        <div class="uk-flex-last@m">
                            <button type="button" class="uk-button button button-primary button-lg uk-width-1-1 js-next-step">{% trans %}Далее{% endtrans %}</button>
                        </div>
                        <div>
                            <button type="button" class="uk-button button button-outline-primary button-lg uk-width-1-1 js-prev-step">{% trans %}Назад{% endtrans %}</button>
                        </div>
                    </div>
                </div>
            </li>
            <!-- Step 5/6 -->

            <!-- Step 6/6 -->
            <li data-step="6" class="js-step-six">
                <div class="uk-margin-small-bottom">{% trans %}Шаг{% endtrans %} 6 <span class="uk-text-muted">{% trans %}из{% endtrans %} 6</span></div>
                <div class="uk-hr uk-align uk-margin-remove-top"></div>
                <h3 class="uk-margin-small-bottom theme-required">{% trans %}Выберите тариф размещения{% endtrans %}</h3>
                {{ include(':card:tariff_selector.html.twig', {'tariffId':0}) }}
            </li>
            <!-- Step 6/6 -->
        </ul>
        </form>
        {% endif %}

    </div>
{% endblock %}
