{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('assets/tinymce/jquery.tinymce.min.js') }}"></script>
    <script src="{{ asset('assets/tinymce/tinymce.min.js') }}"></script>
    <script src="{{ asset('assets/js/visual_editor.js') }}"></script>
    <script src="{{ asset('assets/js/editCardForm.js') }}"></script>
{% endblock %}

{% block content %}

    <form action="/card/update" method="POST" enctype="multipart/form-data" class="standard_wide">
        <div>Главный тип:
            <select name="generalTypeTopLevelId" id="generalTypeTopLevelId">
                {{ include( 'common/ajax_edit_options.html.twig', { 'options': generalTopLevel, 'id': generalSecondLevel[card.generalTypeId].getParent.id }) }}
            </select>
            <select name="generalTypeId" id="generalTypeId">
                {{ include( 'common/ajax_edit_options.html.twig', { 'options': generalSecondLevel, 'id': generalSecondLevel[card.generalTypeId].id }) }}
            </select>
        </div>

        <div>Заголовок: <input type="text" name="header" value="{{ card.header }}"></div>

        <div>Марка и модель:
            <select name="groupName" id="markGroupName">
                <option value="0">-выберите группу-</option>
                {% for group_name, group_title in mark_groups %}
                    <option value="{{ group_name }}" {{ group_name == model.groupName ? 'selected' : '' }}>{{ group_title }}</option>
                {% endfor %}
            </select>
            <select name="mark" id="markId">
                {{ include( 'common/ajax_edit_options.html.twig', { 'options': marks, 'id': mark.id }) }}
            </select>
            <select name="modelId" id="markModelId">
                {{ include( 'common/ajax_edit_options.html.twig', { 'options': models, 'id': model.id }) }}
            </select>
        </div>

        <div>Страна и город:
            <select name="countryCode" id="countryCode">
                <option value="0">-выберите страну-</option>
                {% for country_code, country_title in countries %}
                    <option value="{{ country_code }}" {{ country_code == countryCode ? 'selected' : '' }}>{{ country_title }}</option>
                {% endfor %}
            </select>
            <select name="regionId" id="regionId">
                {{ include( 'common/ajax_edit_options.html.twig', { 'options': regions, 'id': regionId }) }}
            </select>
            <select name="cityId" id="cityId">
                {{ include( 'common/ajax_edit_options.html.twig', { 'options': cities, 'id': card.cityId }) }}
            </select>
        </div>

        <div>Год выпуска:
            <select name="prodYear">
                {% for year in 1950..'now'|date('Y') %}
                    <option value="{{ year }}" {{  year == card.prodYear  ? 'selected' : ''}}>{{ year }}</option>
                {% endfor %}
            </select>
        </div>

        <div>Состояние:
            <select name="conditionId">
                {% for condition in conditions %}
                    <option value="{{ condition.id }}" {{ condition.id == card.conditionId ? 'selected' : '' }}>{{ condition.header }}</option>
                {% endfor %}
            </select>
        </div>

        <div>Прокат/аренда:
            <label><input type="radio" name="serviceTypeId" value="1" {{ card.serviceTypeId == 1 ? 'checked' : '' }}>Прокат</label>
            <label><input type="radio" name="serviceTypeId" value="2" {{ card.serviceTypeId == 2 ? 'checked' : '' }}>Аренда</label>
        </div>

        <div>Цвет:
            <select name="colorId">
                {% for color in colors %}
                    <option value="{{ color.id }}" {{ color.id == card.colorId ? 'selected' : '' }}>{{ color.header }}</option>
                {% endfor %}
            </select>
        </div>

        <div>Описание:
            <textarea name="content" class="visual_editor">{{ card.content }}</textarea>
        </div>

        <hr>

        <div id="subfields">
        {% for item in subfields %}
            <div>
                <span>{{ item.label }}: </span>
                {% if item.subfield_last is defined %}
                {{ include(item.template, {
                    'data': item.data,
                    'subfield_last':item.subfield_last,
                    'subfield_first':item.subfield_first,
                    'first':item.first,
                    'level':item.level
                }) }}
                {% else %}
                    {{ include(item.template, {
                        'options': item.value,
                        'data': item.data,
                        'subfield':item.subfield,
                    }) }}
                {% endif %}
            </div>
        {% endfor %}
        </div>

        <hr>

        <div>
            {% for price in prices %}
                <div>
                    <span>{{ price.header }}: </span>
                    <input type="number" name="price[{{ price.id }}]"
                           value="{% for cardPrice in card.getCardPrices if cardPrice.priceId == price.id %}{{ cardPrice.value }}{% endfor %}"> руб.
                </div>
            {% endfor %}
        </div>

        <hr>

        {% set setFeatures = [] %}
        {% for cardFeature in card.getCardFeatures %}
            {% set setFeatures = setFeatures|merge([cardFeature.featureId]) %}
        {% endfor %}

        <div uk-grid>
            {% for feature in features %}
                <div>
                    <b>{{ feature.header }}</b>
                    <div>
                        {% for item in feature.getChildren %}
                            <div>
                                <label>
                                    <input class="feature_item" type="checkbox" name="feature[{{ item.id }}]" value="{{  item.id in setFeatures ? '1' : '0' }}"
                                            {{  item.id in setFeatures ? 'checked' : '0' }}
                                    > {{ item.header }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <hr>

        <div uk-grid class="edit_fotos_block">
            {% for foto in card.getFotos %}
                <div class="uk-width-1-5 edit_foto">
                    <div style="background:url('/assets/thumbs/{{ foto.id }}.jpg') center center; background-size: cover; height: 100px;" class="uk-position-relative">
                        <button type="button" class="uk-button-danger delete_foto_button" uk-close data-id="{{ foto.id }}"
                        style="position:absolute;top:0;right:0;color: white;">
                        </button>

                        <button type="button" class="uk-button-default main_foto_button" uk-icon="icon: home" data-id="{{ foto.id }}"
                                style="position:absolute;top:0;left:0;color: white;"><span></span>
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>
        <hr>

        Загрузить фотографии: <input type="file" name="fotos[]" multiple> (до 20 одновременно)

        <hr>

        <input type="hidden" name="cardId" value="{{ card.id }}">
        <button class="uk-button uk-button-primary" name="update">Записать</button>
        <button class="uk-button uk-button-danger" name="delete">Удалить</button>

    </form>
{% endblock %}