{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/owl.carousel.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/css/owl.theme.default.css') }}" rel="stylesheet"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('assets/js/city_general_mark_selector.js') }}"></script>
    <script src="{{ asset('assets/js/showCard.js') }}"></script>
    <script src="{{ asset('assets/js/sliderSettings.js') }}"></script>
{% endblock %}

{% block content %}


    <div class="uk-flex uk-flex-bottom card_cover"
         style="background:url('/assets/images/cards/{% for foto in card.getFotos if foto.isMain %}{{ foto.folder }}/{{ foto.id }}.jpg{% endfor %}') center center;
                 background-size: cover;
                 height: 500px;
                 position: relative;">
        <div class="cover_gradient">
            <div class="card_cover_description">
                <div class="standard_wide">
                    <h1>{{ card.header }}</h1>
                    <div>
                        {% if card.address != '' %}
                            <i class="fa fa-map-marker"></i> {{ card.address }}
                        {% else %}
                            <i class="fa fa-map-marker"></i> {{ card.getCity.header }}, {{ card.getCity.getParent.header }}, {{ card.getCity.country }}
                        {% endif %}
                     </div>
                    <div><i class="fa fa-calendar"></i> {{ card.dateCreate|date("d.m.Y") }} <i class="fa fa-eye"></i> {{ card.views }}</div>
                </div>
            </div>
        </div>
    </div>


    <div class="breadcrumbs uk-margin-bottom">
        <div class="standard_wide">
            <a href="/">Главная</a>
            {% if card.generalType.getParent is not null %}
            <i uk-icon="icon:chevron-right"></i>
            <a href="/show/rus/all/{{ card.generalType.getParent.url }}">{{ card.generalType.getParent.header }}</a>
            {% endif %}

            <i uk-icon="icon:chevron-right"></i>
            <a href="/show/rus/all/{{ card.generalType.url }}">{{ card.generalType.header }}</a>

        </div>
    </div>

    <div class="standard_wide">

        <div uk-grid>
            <div class="uk-width-3-4">

                <div class="owl-carousel owl-theme" data-items="1">
                    {% for foto in card.getFotos %}
                        <div class="uk-width-1-1" style="
                                background:url('/assets/images/cards/{{ foto.folder }}/{{ foto.id }}.jpg') center center;
                                background-size: cover;
                                height:500px;
                                ">
                            {#<img src="/assets/images/cards/{{ foto.folder }}/{{ foto.id }}.jpg" alt="" style="max-height: auto">#}
                        </div>
                    {% endfor %}
                </div>


                <ul id="tt" uk-tab>
                    <li><a href="#">Информация</a></li>
                    {% if card.coords != NULL and card.coords != ''%}
                    <li><a href="#">Карта</a></li>
                    {% endif %}
                    {% if streetView %}
                        <li><a href="#">Местность</a></li>
                    {% endif %}
                    {% if video %}
                        <li><a href="#">Видео</a></li>
                    {% endif %}
                </ul>

                <ul id="cardTabs" class="uk-switcher uk-margin">
                    <li class="card_blanc">
                        <div uk-grid>
                            <div class="uk-width-1-2">

                                {% if card.prodYear != 0 %}<div>Год выпуска: {{ card.prodYear }}</div>{% endif %}

                                <div>Состояние: {{ card.getCondition.header }}</div>

                                <div>Цвет: {{ card.getColor.header }}</div>


                                {% for subfield in sub_fields if subfield.value is not null %}
                                    <div>
                                        {{ subfield.label }}:
                                        {% if subfield.type == 'subfield' %}
                                            {{ subfield.value.getHeader }}
                                        {% else %}
                                            {{ subfield.value.getValue }}
                                        {% endif %}
                                    </div>
                                {% endfor %}


                            </div>
                            <div class="uk-width-1-2">
                                <div>{{ card.content|raw }}</div>
                            </div>
                        </div>

                    </li>

                    {% if card.coords != NULL and card.coords != ''%}
                    <li id="card_tab" class="card_blanc">
                            {% set coords = card.coords|split(',') %}
                            <div id="map" data-lat="{{ coords[0] }}" data-lng="{{ coords[1] }}"></div>
                            <script async defer
                                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWdm1zrblFjsdUfi1-6fsPvj30ACCiCxk">
                            </script>
                    </li>
                    {% endif %}

                    {% if streetView and card.coords != NULL %}
                        <li class="card_blanc">
                            <iframe
                                    width="100%"
                                    height="400"
                                    frameborder="0" style="border:0"
                                    src="https://www.google.com/maps/embed/v1/streetview?key=AIzaSyDWdm1zrblFjsdUfi1-6fsPvj30ACCiCxk&location={{ coords[0] }},{{ coords[1] }}&heading={{ streetView.heading }}&pitch={{ streetView.pitch }}&fov=35"
                                    allowfullscreen>
                            </iframe>
                        </li>
                    {% endif %}
                    {% if video %}
                        <li class="card_blanc">
                            <iframe width="100%" height="400"
                                    src="https://www.youtube.com/embed/{{ video }}?feature=oembed" frameborder="0"
                                    allowfullscreen></iframe>
                        </li>
                    {% endif %}
                </ul>


                {% if card.getCardFeatures is not empty%}
                    <h2 class="pf_style_header"><span>Характеристики</span></h2>

                    <div class="card_blanc">
                        <div uk-grid>
                            {% for feature in card.getCardFeatures %}
                                <div class="">
                                    <span class="check_icon"
                                          uk-icon="icon:check; ratio: 1"></span>{{ feature.getFeature.header }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                <h2 class="pf_style_header"><span>Комментарии</span></h2>

                <div class="card_blanc">
                    {% if app.session.has('logged_user') %}
                        <form action="/userAddComment" method="POST">
                            <textarea name="comment" class="uk-textarea" placeholder="Ваш комментарий" required></textarea>
                            <input type="hidden" name="user_id" value="{{ card.user.id }}">
                            <input type="hidden" name="card_id" value="{{ card.id }}">
                            <input type="hidden" name="return" value="{{ app.request.requestUri }}">
                            <button class="uk-button uk-button-primary uk-margin-top">Отправить</button>
                        </form>

                        <div class="uk-margin-top">
                            {% for comment in card.comments %}
                                <div class="uk-margin-bottom">
                                    <i class="fa fa-calendar"></i> {{ comment.dateCreate|date('d.m.Y H:i') }}
                                    <i class="fa fa-user"></i> {{ comment.user.header }}
                                    <div><i class="fa fa-comment-o"></i> {{ comment.content }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div>
                            <a uk-toggle="target: #sign_in">Войдите</a> или <a uk-toggle="target: #sign_up">зарегистрируйтесь</a>, чтобы написать комментарий.
                        </div>
                    {% endif %}
                </div>

                {% if app.session.has('admin') or ( app.session.has('logged_user') and card.user.id == app.session.get('logged_user').id ) %}
                    <hr>
                    <a class="uk-button uk-button-primary" href="/user/edit/card/{{ card.id }}">Редактировать объявление</a>
                {% endif %}
            </div>
            <div class="uk-width-1-4">



                <div class="user_block uk-text-center uk-margin-bottom">
                    {% if user_foto %}
                    <div style="background: url('{{ user_foto }}') center center no-repeat;
                            background-size: contain;
                            width: 100px;
                            height: 100px;
                            display: inline-block;
                            ">
                    </div>
                    {% else %}
                    {% endif %}
                    <h3 class="uk-margin-remove"><a href="/user/{{ card.user.id }}">{{ card.user.header }}</a></h3>
                </div>

                <div class="uk-margin-bottom card_page_phone ">
                    <div uk-grid class="uk-grid-collapse uk-grid-match">
                        <div class="phone_block uk-width-5-6">
                            {% if app.session.get('phone')[card.user.id] is not defined %}
                                <div class="hidden_phone bg_green show_phone uk-text-center c_white" data-card_id="{{ card.id }}">
                                    <div class="uk-text-center">Показать телефон</div>
                                    <i class="fa fa-phone"></i> {% for info in card.user.information if info.uiKey == 'phone' %}{{ info.uiValue|slice(0,5) }} XXX-XX-XX{% endfor %}
                                </div>

                            {% else %}
                                <span class="opened_phone bg_green c_white uk-text-center">
                                    <i class="fa fa-phone"></i> {% for info in card.user.information if info.uiKey == 'phone' %}{{ info.uiValue }}{% endfor %}
                                </span>
                            {% endif %}
                        </div>
                        <div class="uk-width-1-6">
                            <div class="bg_green user_form_button" uk-toggle="target: #user_message_form"><i class="fa fa-commenting"></i></div>
                        </div>
                    </div>
                </div>


                <div class="uk-margin-bottom card_blanc">
                    <div><i class="fa fa-eye c_green"></i> {{ card.views }} <span class="uk-text-small c_grey">просмотров</span></div>
                    <div><i class="fa fa-heart c_red"></i> 1 <span class="uk-text-small c_grey">лайков</span></div>
                    <div>
                        <i class="fa fa-star c_gold"></i> 5/5 <span class="uk-text-small c_grey">звезд из</span> 1
                        <span class="uk-text-small c_grey">отзывов</span>
                    </div>
                    <hr>
                    <div class="uk-text-center"><a href="/user/{{ card.user.id }}">Все объявления<br>пользователя ({{ card.user.cards|length }})</a></div>
                    {% for info in card.user.information if info.uiKey == 'website' %}
                        <hr>
                        <div class="uk-text-truncate"><i class="fa fa-globe"></i> {{ info.uiValue }}</div>
                    {% endfor %}
                </div>


                <div class="uk-margin-bottom card_blanc">
                    {% for price in card.getCardPrices %}
                        <div class="uk-text-center {{ price.priceId == 2 ? 'price_highlighted' : ''}}">
                            <span class="price_value">{{ price.value|number_format(0,'.','<span class="thousand_separator"></span>')|raw }}</span>
                            <span class="price_descriptor"> ₽ / {{ price.getPrice.header }}</span>
                        </div>
                    {% endfor %}
                </div>

                <div id="user_message_form" uk-modal>
                    <div class="uk-modal-dialog uk-modal-body">
                        <h2 class="uk-modal-title">Сообщение пользователю</h2>
                        <button class="uk-modal-close-default" type="button" uk-close></button>
                        <form action="/user/sendMessage" uk-grid class="uk-grid-small" method="POST">
                            <div class="uk-width-1-1"><input type="text" name="name" class="uk-input" placeholder="Имя"></div>
                            <div class="uk-width-1-1"><input type="text" name="phone" class="uk-input uk-width-1-1" placeholder="Телефон"></div>
                            <div class="uk-width-1-1"><input type="text" name="email" class="uk-input" placeholder="Email" required></div>
                            <div class="uk-width-1-1"><textarea name="message" class="uk-width-1-1 short_textarea" placeholder="Сообщение" required></textarea>
                            </div>
                            <input type="hidden" name="card_id" value="{{ card.id }}">
                            <div class="uk-width-1-1">
                                <button class="uk-button uk-button-default uk-width-1-1">Отправить</button>
                            </div>
                        </form>
                    </div>
                </div>


                <h3 class="pf_style_header"><span>Поиск</span></h3>
                {{ include('search/search_form.html.twig') }}
            </div>
        </div>

        <div class="uk-margin-large">
            <h2 class="pf_style_header"><span>Похожие объявления</span></h2>
            <div class="owl-carousel in_row_4 owl-theme uk-width-1-1" data-items="4">
                {% for card in similar %}
                    {{ include('search/one_grid_view.html.twig', {'card':card, 'height':'150px'}) }}
                {% endfor %}
            </div>
        </div>

    </div>

{% endblock %}