{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/auto-complete.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/css/select2.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {#<script src="{{ asset('assets/js/jquery-ui.min.js') }}"></script>#}
    {#<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>#}

    <script src="{{ asset('assets/tinymce/jquery.tinymce.min.js') }}"></script>
    <script src="{{ asset('assets/tinymce/tinymce.min.js') }}"></script>
    <script src="{{ asset('assets/js/visual_editor.js') }}"></script>
    <script src="{{ asset('assets/js/new_card_validate.js') }}"></script>
    <script src="{{ asset('assets/js/auto-complete.min.js') }}"></script>
    <script src="{{ asset('assets/js/form_autocomplete.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWdm1zrblFjsdUfi1-6fsPvj30ACCiCxk"></script>
    <script src="{{ asset('assets/js/new_card_settings.js') }}"></script>
    <script src="{{ asset('assets/js/newCardForm.js') }}"></script>
    <script src="{{ asset('assets/js/tariff_selector.js') }}"></script>
    <script src="{{ asset('assets/js/image_upload_preview.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.maskedinput.js') }}"></script>
    <script src="{{ asset('assets/js/phone_validate.js') }}"></script>
    <script src="{{ asset('assets/js/select2.min.js') }}"></script>
    <script src="{{ asset('assets/js/select_combo.js') }}"></script>
{% endblock %}

{% block content %}

    {% if not admin and not user %}
        {{ include('user/step_auth.html.twig') }}
    {% endif %}

    <form id="new_card_form" action="/card/new" method="POST" enctype="multipart/form-data" onsubmit="return new_card_validate();" class="standard_wide uk-margin-top {{ not phone ? 'no_phone' }} {% if not admin and not user %}unknown{% endif %}">


        {% if app.session.has('admin') and app.session.get('admin').role == 'superadmin'%}
            {{ include('AdminBundle::admin_card_new.html.twig') }}
        {% endif %}
        {% if app.session.has('admin') and app.session.get('admin').role == 'cardmaster'%}
            {{ include('AdminBundle::admin_cardmaster_new.html.twig') }}
        {% endif %}



        <div uk-grid>

            <div class="uk-width-1-1@s">
                {% if not phone %}
                <div class="uk-margin-bottom uk-position-relative">
                    <input type="text" name="phone" id="phone" placeholder="Заполните номер телефона" class="uk-input phone_validate">
                    <div class="uk-position-absolute uk-position-top-left" style="left:5px;"><span class="red_star">*</span></div>
                </div>
                {% endif %}

                {{ include('card/card_new_elements/new_type.html.twig') }}

                {{ include('card/card_new_elements/new_address.html.twig') }}

                {{ include('card/card_new_elements/new_general.html.twig') }}

                {{ include('card/card_new_elements/new_mark.html.twig') }}

                {{ include('card/card_new_elements/new_foto.html.twig') }}

                {{ include('card/card_new_elements/new_prices.html.twig') }}

                <div uk-grid>
                    <div class="uk-width-1-5"><span class="red_star">*</span>Описание</div>
                    <div class="uk-width-4-5">
                        <textarea name="content" class="uk-textarea" placeholder="Тут можно указать условия аренды или проката" required style="height: 100px"></textarea>
                    </div>
                </div>


                <div uk-grid>
                    <div class="uk-width-1-5"></div>
                    <div class="uk-width-4-5">
                        Можно <a id="fill_dop_button">заполнить дополнительную информацию</a>, но не обязательно
                    </div>
                </div>


            </div>




            <div id="dop_fields" class="uk-width-1-1@s" hidden>

                {{ include('card/card_new_elements/new_all_dops.html.twig') }}

            </div>

        </div>


        {% if not admin and not user %}
            <hr>
            <div class="pass_block">
                <input type="password" name="r_password" placeholder="Придумайте пароль для входа" class="uk-input uk-width-1-4">
            </div>
            <div>
                После выбора тарифа на ваш email будет отправлено письмо. Перейдите по ссылке в письме для завершения регистрации.<br>
                <input type="checkbox" name="subscriber" checked> Получать новости и спецпредложения
            </div>
            <hr>

        {% endif %}

        <h3>Выберите тариф размещения</h3>
        {{ include(':card:tariff_selector.html.twig', {'tariffId':0}) }}


        <input type="hidden" name="tariffId" value="3">

        {#<hr>#}
        {#<button class="uk-button uk-button-primary">Готово</button>#}

    </form>



{% endblock %}