{% extends 'base.html.twig' %}

{% block content %}

    <h1>{{ card.header }}</h1>
    <div>Город: {{ card.getCity.header }}, {{ card.getCity.getParent.header }}, {{ card.getCity.country }}</div>
    <div>Год выпуска: {{ card.prodYear }}</div>
    <div>Тип транспорта: {{ card.getGeneralType.header }}</div>
    <div>Состояние: {{ card.getCondition.header }}</div>
    <div>Марка и модель: {{ card.getMarkModel.getParent.header }} {{ card.getMarkModel.header }}</div>
    <div>Цвет: {{ card.getColor.header }}</div>
    <div>Дата создания: {{ card.dateCreate|date("d-m-Y") }}</div>
    <div>Просмотров: {{ card.views }}</div>

    {% for subfield in sub_fields %}
        <div>
        {{ subfield.label }}:
        {% if subfield.type == 'subfield' %}
            {{ subfield.value.getHeader }}
        {% else %}
            {{ subfield.value.getValue }}
        {% endif %}
        </div>
    {% endfor %}

    <hr>

    <div>{{ card.content|raw }}</div>

    <hr>

    <div>
        {% for price in card.getCardPrices %}
            <div class="">
                {{ price.value }} руб. в {{ price.getPrice.header }}
            </div>
        {% endfor %}
    </div>

    <hr>

    <div>
        {% for feature in card.getCardFeatures %}
            <div class="uk-button uk-button-default">
                {{ feature.getFeature.header }}
            </div>
        {% endfor %}
    </div>

    <hr>

    <div uk-grid>
        {% for foto in card.getFotos %}
            <div class="uk-width-1-5">
                <div style="background:url('/assets/thumbs/{{ foto.id }}.jpg') center center;
                        background-size: cover;
                        height: 100px;">
                </div>
            </div>
        {% endfor %}
    </div>

    <hr>

    <div>
        <b>{{ card.user.header }}</b>
    </div>

    <div>
        {% for info in card.user.information %}
            <div>{{ info.uiKey }}: {{ info.uiValue }}</div>
        {% endfor %}
    </div>

    {% if app.session.get('logged_user').header is defined %}
        <a class="uk-button uk-button-primary" href="/user/edit/card/{{ card.id }}">Редактировать</a>
    {% endif %}

{% endblock %}