{% extends 'base.html.twig' %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/tinymce/jquery.tinymce.min.js') }}"></script>
    <script src="{{ asset('assets/tinymce/tinymce.min.js') }}"></script>
    <script src="{{ asset('assets/js/visual_editor.js') }}"></script>
    <script src="{{ asset('assets/js/new_card_validate.js') }}"></script>
{% endblock %}

{% block content %}

    <form id="new_card_form" action="/card/new" method="POST" enctype="multipart/form-data" onsubmit="return new_card_validate();" class="standard_wide">
        <div>Главный тип:
            <select name="generalTypeTopLevelId" id="generalTypeTopLevelId">
                {{ include( 'common/ajax_options.html.twig', { 'options': generalTopLevel }) }}
            </select>
            <select name="generalTypeId" id="generalTypeId"></select>
        </div>

        <div>Заголовок: <input type="text" name="header"></div>

        <div>Марка и модель:
            <select name="groupName" id="markGroupName">
                <option value="0">-выберите группу-</option>
                {% for group_name, group_title in mark_groups %}
                    <option value="{{ group_name }}">{{ group_title }}</option>
                {% endfor %}
            </select>
            <select name="mark" id="markId"></select>
            <select name="modelId" id="markModelId"></select>
        </div>

        <div>Страна и город:
            <select name="countryCode" id="countryCode">
                <option value="0">-выберите страну-</option>
                {% for country_code, country_title in countries %}
                    <option value="{{ country_code }}">{{ country_title }}</option>
                {% endfor %}
            </select>
            <select name="regionId" id="regionId"></select>
            <select name="cityId" id="cityId"></select>
        </div>

        <div>Адрес:
            <textarea name="address" class="uk-textarea"></textarea>
        </div>

        <div>Координаты:
            <input name="coords">
        </div>

        <div>Год выпуска:
            <select name="prodYear">
                {% for year in 1950..'now'|date('Y') %}
                    <option value="{{ year }}" {% if year == 2000  %} selected {% endif %}>{{ year }}</option>
                {% endfor %}
            </select>
        </div>

        <div>Состояние:
            <select name="conditionId">
                {% for condition in conditions %}
                    <option value="{{ condition.id }}">{{ condition.header }}</option>
                {% endfor %}
            </select>
        </div>

        <div>Прокат/аренда:
            <label><input type="radio" name="serviceTypeId" value="1" checked>Прокат</label>
            <label><input type="radio" name="serviceTypeId" value="2">Аренда</label>
        </div>

        <div>Цвет:
            <select name="colorId">
                {% for color in colors %}
                    <option value="{{ color.id }}">{{ color.header }}</option>
                {% endfor %}
            </select>
        </div>



        <div>Описание:
            <textarea name="content" class="visual_editor"></textarea>
        </div>


        <div>Видео:
            <input name="video">
        </div>

        <div>Местность:
            <input name="streetView">
        </div>




        <div id="subfields">

        </div>


        <hr>

        <div>
        {% for price in prices %}
            <div>
                <span>{{ price.header }}: </span>
                <input type="number" name="price[{{ price.id }}]"> руб.
            </div>
        {% endfor %}
        </div>

        <hr>

        <div uk-grid>
            {% for feature in features %}
                <div>
                    <b>{{ feature.header }}</b>
                    <div>
                        {% for item in feature.getChildren %}
                            <div>
                                <label>
                                    <input type="checkbox" name="feature[{{ item.id }}]"> {{ item.header }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <hr>

        Загрузить фотографии: <input type="file" name="fotos[]" multiple> (до 20 одновременно)

        <hr>
        <div>Тариф:
            {% for tariff in tariffs %}
                <label><input type="radio" name="tariffId" value="{{ tariff.id }}" {{ tariff.id == 1 ? 'checked' : '' }}> {{ tariff.header }}</label>
            {% endfor %}
        </div>
        <hr>
        <button class="uk-button uk-button-primary">Готово</button>

    </form>

{% endblock %}