{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/owl.carousel.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/css/owl.theme.default.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/css/auto-complete.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/css/datepicker.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('assets/js/city_general_mark_selector.js') }}"></script>
    <script src="{{ asset('assets/js/showCard.js') }}"></script>
    <script src="{{ asset('assets/js/sliderSettings.js') }}"></script>
    <script src="{{ asset('assets/js/auto-complete.min.js') }}"></script>
    <script src="{{ asset('assets/js/mark_autocomplete.js') }}"></script>
    <script src="{{ asset('assets/js/form_city_autocomplete.js') }}"></script>
    <script src="{{ asset('assets/js/recaptcha_settings.js') }}"></script>
    <script src="{{ asset('assets/js/recapthcha_validate.js') }}"></script>
    <script src="{{ asset('assets/js/datepicker.min.js') }}"></script>
    <script src="{{ asset('assets/js/chat.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.maskedinput.js') }}"></script>
    <script src="{{ asset('assets/js/phone_validate.js') }}"></script>
{% endblock %}

{% block socialScripts %}
    <!-- VK -->
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?149"></script>
    <script type="text/javascript">VK.init({apiId: 6213461, onlyWidgets: true});</script>
    <script type="text/javascript" src="https://vk.com/js/api/share.js?95" charset="windows-1251"></script>
    <!-- VK -->
    {#<script src='https://www.google.com/recaptcha/api.js'></script>#}
{% endblock %}


{% block openGraph %}
    {{ parent() }}
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ app.request.getSchemeAndHttpHost() ~ mainFoto }}">
    <meta property="og:title" content="{{ include(':seo_templates:p_h1.html.twig') }}">
    <meta property="og:url" content="{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}">
{% endblock %}

{% block metaTags %}
    {{ parent() }}
    <meta name="description" content="{% include ':seo_templates:p_description.html.twig' %}">
{% endblock %}

{% block htmlblock %}
 prefix="og: http://ogp.me/ns#"
{% endblock %}

{% block title %}{{ include(':seo_templates:p_title.html.twig') }}{% endblock %}

{% block content %}

    <!-- FB -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.10&appId=1747516202216504";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <!-- FB -->



    {% if app.session.has('share') %}
        {{ app.session.remove('share') }}
    {% endif %}




    <div class="standard_wide uk-margin-top">

        <div uk-grid itemscope itemtype="http://schema.org/Product">
            <div class="uk-width-3-4@s ">

                <div class="">
                    <h1 itemprop="name">{{ include(':seo_templates:p_h1.html.twig') }}</h1>
                    <div>
                        {% if card.address != '' %}
                            <i class="fa fa-map-marker"></i> {{ card.address }}
                        {% else %}
                            <i class="fa fa-map-marker"></i> {{ card.getCity.header }}, {{ card.getCity.getParent.header }}, {{ card.getCity.country }}
                        {% endif %}
                    </div>
                    <div><i class="fa fa-calendar"></i> {{ card.dateCreate|date("d.m.Y") }} <i class="fa fa-eye"></i> {{ card.views }}</div>
                </div>

                <div class=" uk-margin-bottom">
                    <div class="standard_wide breadcrumbs">
                        <a href="/">{% trans %}Главная{% endtrans %}</a>
                        <i uk-icon="icon:chevron-right"></i>
                        <a href="/rent/{{ card.city.url }}">{{ card.city.header }}</a>
                        <i uk-icon="icon:chevron-right"></i>
                        <a href="/rent/{{ card.city.url }}/all/{{ card.generalType.url }}">{{ lang == 'ru' ? card.generalType.header : card.generalType.url }}</a>

                        {% if bodyType %}
                            <i uk-icon="icon:chevron-right"></i>
                            <a href="/rent/{{ card.city.url }}/all/{{ card.generalType.url }}/{{ bodyType.url }}">{{ lang == 'ru' ? bodyType.header : bodyType.url }}</a>
                        {% endif %}

                        {% if card.modelId != 20991 %}
                            <i uk-icon="icon:chevron-right"></i>
                            <a href="/rent/{{ card.city.url }}/all/{{ card.generalType.url }}/{{ card.markModel.mark.header }}">{{ card.serviceTypeId == 1 ? 'Прокат'|trans : 'Аренда'|trans }} {{ card.markModel.mark.header }} в {{ card.city.gde }}</a>
                            <i uk-icon="icon:chevron-right"></i>
                            <a href="/rent/{{ card.city.url }}/all/{{ card.generalType.url }}/{{ card.markModel.mark.header }}/{{ card.markModel.header }}">{{ card.markModel.mark.header }} {{ card.markModel.header }}</a>
                        {% endif %}
                    </div>
                </div>

                <div class="uk-position-relative">

                    <div class="likes" data-card_id="{{ card.id }}">
                        {% if app.session.has('likes') and app.session.get('likes')[card.id] is defined %}
                            <i class="fa fa-heart c_red"></i>
                        {% else %}
                            <i class="fa fa-heart-o c_white t_shadowed"></i>
                        {% endif %}
                    </div>

                    <div id="page_slider" class="owl-carousel owl-carousel-all owl-theme" data-items="1" data-full="1" uk-lightbox>

                        {% for k,foto in card.getFotos %}
                            <div>
                            <a href="/assets/images/cards/{{ foto.folder }}/{{ foto.id }}.jpg" class="slide uk-width-1-1" style="
                                    background:url('/assets/images/cards/{{ foto.folder }}/{{ foto.id }}.jpg') center center;
                                    background-size: cover;
                                    display: block;
                                    height: {% if is_mobile() %}150px{% else %}500px{% endif %};
                                    "
                            {% if k == 0 %}
                            title="{{ card.serviceTypeId == 1 ? 'Прокат' : 'Аренда' }} {% if card.generalType.chegoSingular is defined %}{{ card.generalType.chegoSingular }}{% else %}{% endif %} {{ card.markModel.Mark.header }} {{ card.markModel.header }} в {{ card.city.gde }}"
                            {% endif %}
                            >
                                {% if k == 0 %}
                                <img src="https://multiprokat.com/assets/images/cards/{{ foto.folder }}/{{ foto.id }}.jpg" alt="" style="visibility: hidden; height: 0;width: 0;" itemprop="image">
                                {% endif %}
                                {#<img src="/assets/images/cards/{{ foto.folder }}/{{ foto.id }}.jpg" alt="" style="max-height: auto">#}
                            </a>
                            </div>




                        {% endfor %}

                    </div>

                    {% if reserved %}
                        <div class="page_reserved">Бронь до {{ card.dateRentFinish|date("d.m.Y") }}</div>
                    {% endif %}

                </div>



                {% if not is_mobile() %}
                <div class="uk-text-right">
                    <button type="button" class="uk-button uk-button-default" uk-toggle="target: #user_abuse">{% trans %}Пожаловаться{% endtrans %}</button>
                </div>
                {% endif %}

                {% if is_mobile() %}
                <div class="uk-margin-bottom card_blanc2 uk-margin-top">
                    {% for price in card.getCardPrices if price.value != '' and price.priceId != 10%}
                        <div class="uk-text-center {{ price.priceId == 2 ? 'price_highlighted' : ''}}">
                            <span class="price_value">{{ price.value|number_format(0,'.','<span class="thousand_separator"></span>')|raw }}</span>


                            {% if card.currency == 'RUB' %}
                                {% set currency = 'ruble' %}
                            {% endif %}
                            {% if card.currency == 'EUR' %}
                                {% set currency = 'euro' %}
                            {% endif %}
                            {% if card.currency == 'USD' %}
                                {% set currency = 'dollar' %}
                            {% endif %}


                            <span class="price_descriptor uk-text-truncate"> <i class="fa fa-{{ currency }}"></i> / {{ price.getPrice.header|trans }}</span>
                        </div>
                    {% endfor %}
                </div>
                {% endif %}

                {% if is_mobile() and card.user.id != 1971%}
                <div class="uk-margin-bottom card_blanc border_green">
                    <div class="cursor-pointer uk-text-center c_green" uk-toggle="target: #user_book_form"><i class="fa fa-pencil-square-o"></i> {% trans %}Отправить заявку{% endtrans %}</div>
                </div>
                {% endif %}

                <ul id="tt" uk-tab>
                    <li><a href="#">{% trans %}Информация{% endtrans %}</a></li>
                    {% if card.coords != NULL and card.coords != ''%}
                    <li><a href="#">{% trans %}Карта{% endtrans %}</a></li>
                    {% endif %}
                    {% if streetView %}
                        <li><a href="#">{% trans %}Местность{% endtrans %}</a></li>
                    {% endif %}
                    {% if video %}
                        <li><a href="#">{% trans %}Видео{% endtrans %}</a></li>
                    {% endif %}
                </ul>

                <ul id="cardTabs" class="uk-switcher uk-margin">
                    <li class="card_blanc">
                        <div uk-grid>
                            <div class="uk-width-1-2@s">

                                {% if card.prodYear != 0 %}<div>{% trans %}Год выпуска{% endtrans %}: {{ card.prodYear }}</div>{% endif %}

                                <div>{% trans %}Состояние{% endtrans %}: {{ card.getCondition.header }}</div>

                                <div>{{ card.getColor != null ? 'Цвет'|trans~': '~card.getColor.header }}</div>


                                {% for subfield in sub_fields if subfield.value is not null %}
                                    {% if subfield.type == 'subfield' %}
                                        <div>
                                            {{ subfield.label }}: {{ subfield.value.getHeader }}
                                        </div>
                                    {% elseif subfield.value.getValue != 0 and subfield.value.getValue != '' %}
                                        <div>
                                            {{ subfield.label }}: {{ subfield.value.getValue }}
                                        </div>
                                    {% endif %}

                                {% endfor %}

                                <div>Доставка до клиента:
                                    {{ card.deliveryStatus == 0 ? 'нет, клиент забирает транспорт самостоятельно' }}
                                    {{ card.deliveryStatus == 1 ? 'да, мы доставляем транспорт' }}
                                    {{ card.deliveryStatus == 2 ? 'возможна, по согласованию' }}
                                </div>

                            </div>
                            <div class="uk-width-1-2@s">
                                <div id="card_content" itemprop="description">{{ card.content|striptags('<br><p>')|raw }}</div>
                                {% if card.content|length>300 %}
                                <div class="uk-text-small uk-text-center uk-margin-top show_full_content cursor-pointer">{% trans %}показать полностью{% endtrans %}</div>
                                {% endif %}
                            </div>
                        </div>

                    </li>

                    {% if card.coords != NULL and card.coords != ''%}
                    <li id="card_tab" class="card_blanc">
                            {% set coords = card.coords|split(',') %}
                            <div id="map" data-lat="{{ coords[0] }}" data-lng="{{ coords[1] }}"></div>
                            <script async defer
                                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWdm1zrblFjsdUfi1-6fsPvj30ACCiCxk">
                            </script>
                    </li>
                    {% endif %}

                    {% if streetView and card.coords != NULL %}
                        <li class="card_blanc">
                            <iframe
                                    width="100%"
                                    height="400"
                                    frameborder="0" style="border:0"
                                    src="https://www.google.com/maps/embed/v1/streetview?key=AIzaSyDWdm1zrblFjsdUfi1-6fsPvj30ACCiCxk&location={{ coords[0] }},{{ coords[1] }}&heading={{ streetView.heading }}&pitch={{ streetView.pitch }}&fov=35"
                                    allowfullscreen>
                            </iframe>
                        </li>
                    {% endif %}
                    {% if video %}
                        <li class="card_blanc">
                            <iframe width="100%" height="400"
                                    src="https://www.youtube.com/embed/{{ video }}?feature=oembed" frameborder="0"
                                    allowfullscreen></iframe>
                        </li>
                    {% endif %}
                </ul>


                {% if card.getCardFeatures is not empty%}
                    <h2 class="pf_style_header"><span>{% trans %}Характеристики{% endtrans %}</span>{{ is_mobile() ? '<a class="toggle_chars" uk-toggle="target: #car_chars">Развернуть</a>' }}</h2>

                    <div id="car_chars" class="card_blanc" {{ is_mobile() ? 'hidden' }}>
                        <div uk-grid>
                            {% for feature in card.getCardFeatures %}
                                <div class="">
                                    <span class="check_icon"
                                          uk-icon="icon:check; ratio: 1"></span>{{ feature.getFeature.header }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                {% endif %}

                {% if is_mobile() %}
                <div class="user_block uk-text-center uk-margin-bottom">

                    <div uk-grid class="uk-grid-small">
                        {% if user_foto %}
                            <div class="uk-width-auto">
                                <a href="/user/{{ card.user.id }}" style="background: url('{{ user_foto }}') center center no-repeat;
                                        background-size: contain;
                                        width: 50px;
                                        height: 50px;
                                        display: inline-block;
                                        ">
                                </a>
                            </div>
                        {% else %}
                        {% endif %}

                        <div class="uk-width-expand">
                            <div class="uk-text-small">{% trans %}Собственник{% endtrans %}</div>
                            <h3 class="uk-margin-remove uk-text-truncate" style="line-height: 31px;"><a href="/user/{{ card.user.id }}" class="uk-text-truncate">{{ card.user.header }}</a></h3>
                        </div>
                    </div>




                    <div class="">
                        {% for info in card.user.information %}
                            {% if info.uiKey == 'vk' and info.uiValue != '' %}<a rel="nofollow" href="{{ info.uiValue }}" class="card_soc_icon s_vk"><i class="fa fa-vk"></i></a>{% endif %}
                            {% if info.uiKey == 'fb' and info.uiValue != '' %}<a rel="nofollow" href="{{ info.uiValue }}" class="card_soc_icon s_fb"><i class="fa fa-facebook"></i></a>{% endif %}
                            {% if info.uiKey == 'ok' and info.uiValue != '' %}<a rel="nofollow" href="{{ info.uiValue }}" class="card_soc_icon s_ok"><i class="fa fa-odnoklassniki"></i></a>{% endif %}
                            {% if info.uiKey == 'tw' and info.uiValue != '' %}<a rel="nofollow" href="{{ info.uiValue }}" class="card_soc_icon s_tw"><i class="fa fa-twitter"></i></a>{% endif %}
                            {% if info.uiKey == 'gp' and info.uiValue != '' %}<a rel="nofollow" href="{{ info.uiValue }}" class="card_soc_icon s_gp"><i class="fa fa-google-plus"></i></a>{% endif %}
                            {% if info.uiKey == 'ig' and info.uiValue != '' %}<a rel="nofollow" href="{{ info.uiValue }}" class="card_soc_icon s_ig"><i class="fa fa-instagram"></i></a>{% endif %}
                            {% if info.uiKey == 'yt' and info.uiValue != '' %}<a rel="nofollow" href="{{ info.uiValue }}" class="card_soc_icon s_yt"><i class="fa fa-youtube"></i></a>{% endif %}
                        {% endfor %}
                    </div>
                </div>

                {% if not is_admin_card %}
                <div class="uk-margin-bottom card_blanc">
                    <div class="cursor-pointer uk-text-center" uk-toggle="target: #user_message_form"><i class="fa fa-commenting"></i> {% trans %}Написать сообщение{% endtrans %}</div>
                </div>
                {% endif %}

                <div class="uk-margin-bottom card_blanc">
                    <div><i class="fa fa-eye c_green"></i> {{ card.views }} <span class="uk-text-small c_grey">{% trans %}просмотров{% endtrans %}</span></div>
                    <div><i class="fa fa-heart c_red"></i> <span id="card_likes">{{ card.likes }}</span> <span class="uk-text-small c_grey">{% trans %}лайков{% endtrans %}</span></div>
                    <div>
                        <i class="fa fa-star c_gold"></i> {{ opinions }}/5 <span class="uk-text-small c_grey">{% trans %}звезд из{% endtrans %}</span> {{ total_opinions }}
                        <span class="uk-text-small c_grey">{% trans %}отзывов{% endtrans %}</span>
                    </div>
                    <hr>
                    <div class="uk-text-center"><a href="/user/{{ card.user.id }}">{% trans %}Все объявления{% endtrans %}<br>{% trans %}пользователя{% endtrans %} ({{ card.user.cards|length }})</a></div>

                </div>
                {% endif %}




                {% if not app.session.has('first_card') %}


                    {% if is_mobile() %}
                        <button class="uk-button uk-button-default uk-width-1-1" uk-toggle="target: #coms_opins">{% trans %}Комментарии и отзывы{% endtrans %}</button>
                    {% endif %}

                    <div uk-grid class="uk-margin-top" {{ is_mobile() ? 'id="coms_opins" hidden' }}>
                        <div class="uk-width-1-2@s uk-hidden">
                            <h2 class="pf_style_header"><span>{% trans %}Комментарии{% endtrans %}</span></h2>

                            <div class="card_blanc">
                                {% if app.session.has('logged_user') %}
                                    <form action="/userAddComment" method="POST">
                                        <textarea name="comment" class="uk-textarea" placeholder="{% trans %}Ваш комментарий{% endtrans %}" required></textarea>
                                        <input type="hidden" name="user_id" value="{{ app.session.get('logged_user').id }}">
                                        <input type="hidden" name="card_id" value="{{ card.id }}">
                                        <input type="hidden" name="return" value="{{ app.request.requestUri }}">
                                        <button class="uk-button uk-button-default uk-margin-top">{% trans %}Отправить{% endtrans %}</button>
                                    </form>
                                {% else %}
                                    <div>
                                        <a uk-toggle="target: #sign_in">{% trans %}Войдите{% endtrans %}</a> {% trans %}или{% endtrans %} <a uk-toggle="target: #sign_up">{% trans %}зарегистрируйтесь{% endtrans %}</a>, {% trans %}чтобы написать комментарий{% endtrans %}.
                                    </div>
                                {% endif %}

                                {% if card.comments is not empty %}
                                    <hr>
                                <div class="uk-margin-top">
                                    {% for comment in card.comments %}
                                        <div class="uk-margin-bottom">
                                            <i class="fa fa-calendar"></i> {{ comment.dateCreate|date('d.m.Y H:i') }}
                                            <i class="fa fa-user"></i> {{ comment.user.header }}
                                            <div><i class="fa fa-comment-o"></i> {{ comment.content }}</div>
                                        </div>
                                    {% endfor %}
                                </div>
                                {% endif %}

                            </div>
                        </div>
                        <div class="uk-width-1-2@s uk-hidden">
                            <h2 class="pf_style_header"><span>{% trans %}Отзывы{% endtrans %}</span></h2>

                            <div class="card_blanc">
                                {% if app.session.has('logged_user') %}
                                    <form action="/userAddOpinion" method="POST">
                                        <div class="stars uk-margin-bottom">
                                            {% for i in 1..5 %}
                                                <span class="star {{ i == 1 ? 'active' }}" data-star="{{ i }}"><i class="fa fa-star"></i></span>
                                            {% endfor %}
                                            <span id="stars">1</span>
                                        </div>
                                        <textarea name="content" class="uk-textarea" placeholder="{% trans %}Ваш отзыв{% endtrans %}" required></textarea>
                                        <input type="hidden" name="stars" value="1">
                                        <input type="hidden" name="user_id" value="{{ app.session.get('logged_user').id }}">
                                        <input type="hidden" name="card_id" value="{{ card.id }}">
                                        <input type="hidden" name="return" value="{{ app.request.requestUri }}">
                                        <button class="uk-button uk-button-default uk-margin-top">{% trans %}Отправить{% endtrans %}</button>
                                    </form>

                                {% else %}
                                    <div>
                                        <a uk-toggle="target: #sign_in">{% trans %}Войдите{% endtrans %}</a> {% trans %}или{% endtrans %} <a uk-toggle="target: #sign_up">{% trans %}зарегистрируйтесь{% endtrans %}</a>, {% trans %}чтобы оставить отзыв{% endtrans %}.
                                    </div>
                                {% endif %}

                                {% if card.opinions is not empty %}
                                    <hr>
                                    <div class="uk-margin-top">
                                        {% for opinion in card.opinions %}
                                            <div class="uk-margin-bottom">
                                                <i class="fa fa-calendar"></i> {{ opinion.dateCreate|date('d.m.Y H:i') }}
                                                <i class="fa fa-user"></i> {{ opinion.user.header }}
                                                <i class="fa fa-star c_gold"></i> {{ opinion.stars }}
                                                <div><i class="fa fa-comment-o"></i> {{ opinion.content }}</div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}

                            </div>
                        </div>
                    </div>



                {% else %}
                    <a href="/card/new" class="uk-button uk-button-success uk-width-1-1 uk-margin-top">{% trans %}Разместить еще объявление{% endtrans %}</a>
                {% endif %}


                {% if app.session.has('admin') or ( app.session.has('logged_user') and card.user.id == app.session.get('logged_user').id ) %}
                    <hr>
                    <a class="uk-button uk-button-primary" href="/user/edit/card/{{ card.id }}">{% trans %}Редактировать объявление{% endtrans %}</a>
                {% endif %}


                <h2 class="pf_style_header"><span>{% trans %}Похожие объявления{% endtrans %}</span></h2>
                <div uk-grid class="uk-grid-small uk-grid-match">
                    {% for card in similar %}
                        <div class="uk-width-1-3@s">
                        {{ include('search/one_grid_view.html.twig', {'card':card, 'height':'150px'}) }}
                        </div>
                    {% endfor %}
                </div>

                {% if is_mobile() %}
                    <div class="uk-margin-top">
                        {{ include('search/search_form.html.twig') }}
                    </div>
                {% endif %}


            </div>


{# -----------------------------------------------------------  This is right block !  ----------------------------------------------- #}


            <div class="uk-width-1-4@s">



                {% if not is_mobile() and card.user.id != 1971%}
                    <div class="uk-margin-bottom" uk-sticky="offset: 94" style="z-index: 100">
                        <div class="card_blanc border_green newbook" >
                            <div data-id="{{ card.id }}" class="nbinner cursor-pointer uk-text-center c_green" uk-toggle="target: {{ app.session.has('logged_user') ? '#user_book_form' : '#nonreged_user_book_form' }}"><i class="fa fa-pencil-square-o"></i> {% trans %}Отправить заявку{% endtrans %}</div>
                        </div>
                        <div style="background: #f9f9f9;text-align: center">Пока вы ни за что не платите</div>
                    </div>
                {% endif %}

                <button uk-toggle="target: #howtopay" type="button" style="padding: 10px;
                        width: 100%;
                        margin-bottom: 20px;
                        background: #ffffff;
                        color: #1976d2;
                        border: 1px solid #1976d2;">Как это работает?</button>


                {% if not is_mobile() %}
                <div class="uk-margin-bottom card_blanc2" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                    {% for price in card.getCardPrices if price.value != '' and price.priceId != 10%}
                        <div class="uk-text-right {{ price.priceId == 2 ? 'price_highlighted' : ''}}">



                            <span class="price_value">{{ price.value|number_format(0,'.','<span class="thousand_separator"></span>')|raw }}</span>

                            {% if card.currency == 'RUB' %}
                                {% set currency = 'ruble' %}
                            {% endif %}
                            {% if card.currency == 'EUR' %}
                                {% set currency = 'euro' %}
                            {% endif %}
                            {% if card.currency == 'USD' %}
                                {% set currency = 'dollar' %}
                            {% endif %}

                            {% if price.priceId == 2%}
                                <span itemprop="price" style="visibility: hidden;height: 0;width: 0;display: none;">{{ price.value }}</span>
                                <span itemprop="priceCurrency" style="visibility: hidden;height: 0;width: 0;display: none;">{{ card.currency }}</span>
                            {% endif %}

                            <span class="price_descriptor uk-text-truncate"> <i class="fa fa-{{ currency }}"></i> / {{ price.getPrice.header|trans }}</span>
                        </div>
                    {% endfor %}
                </div>
                {% endif %}

                {% if not is_mobile() %}
                    <div class="user_block uk-text-center uk-margin-bottom">

                        <div uk-grid class="uk-grid-small">
                            {% if user_foto %}
                                <div class="uk-width-auto">
                                    <a href="/user/{{ card.user.id }}" style="background: url('{{ user_foto }}') center center no-repeat;
                                            background-size: contain;
                                            width: 50px;
                                            height: 50px;
                                            display: inline-block;
                                            ">
                                    </a>
                                </div>
                            {% else %}
                            {% endif %}

                            <div class="uk-width-expand">
                                <div class="uk-text-small">{% trans %}Собственник{% endtrans %}</div>
                                <h3 class="uk-margin-remove uk-text-truncate" style="line-height: 31px;"><a href="/user/{{ card.user.id }}" class="uk-text-truncate">{{ card.user.header }}</a></h3>
                            </div>
                        </div>




                        {#<div class="">#}
                            {#{% for info in card.user.information %}#}
                                {#{% if info.uiKey == 'vk' and info.uiValue != '' %}<a rel="nofollow" href="{{ info.uiValue }}" class="card_soc_icon s_vk"><i class="fa fa-vk"></i></a>{% endif %}#}
                                {#{% if info.uiKey == 'fb' and info.uiValue != '' %}<a rel="nofollow" href="{{ info.uiValue }}" class="card_soc_icon s_fb"><i class="fa fa-facebook"></i></a>{% endif %}#}
                                {#{% if info.uiKey == 'ok' and info.uiValue != '' %}<a rel="nofollow" href="{{ info.uiValue }}" class="card_soc_icon s_ok"><i class="fa fa-odnoklassniki"></i></a>{% endif %}#}
                                {#{% if info.uiKey == 'tw' and info.uiValue != '' %}<a rel="nofollow" href="{{ info.uiValue }}" class="card_soc_icon s_tw"><i class="fa fa-twitter"></i></a>{% endif %}#}
                                {#{% if info.uiKey == 'gp' and info.uiValue != '' %}<a rel="nofollow" href="{{ info.uiValue }}" class="card_soc_icon s_gp"><i class="fa fa-google-plus"></i></a>{% endif %}#}
                                {#{% if info.uiKey == 'ig' and info.uiValue != '' %}<a rel="nofollow" href="{{ info.uiValue }}" class="card_soc_icon s_ig"><i class="fa fa-instagram"></i></a>{% endif %}#}
                                {#{% if info.uiKey == 'yt' and info.uiValue != '' %}<a rel="nofollow" href="{{ info.uiValue }}" class="card_soc_icon s_yt"><i class="fa fa-youtube"></i></a>{% endif %}#}
                            {#{% endfor %}#}
                        {#</div>#}
                    </div>
                    {% if not is_admin_card %}
                    {#<div class="uk-margin-bottom card_blanc">#}
                        {#<div class="cursor-pointer uk-text-center" uk-toggle="target: #user_message_form"><i class="fa fa-commenting"></i> {% trans %}Email сообщение{% endtrans %}</div>#}
                    {#</div>#}
                    {% endif %}

                    {#{% if app.session.has('logged_user') and blockings[app.session.get('logged_user').id] is not defined%}#}
                        {#<div class="uk-margin-bottom card_blanc">#}
                            {#<div class="open_chat cursor-pointer uk-text-center" data-user_id="{{ card.user.id }}" data-visitor_id="{{ app.session.get('logged_user').id }}" data-card_id="{{ card.id }}"><i class="fa fa-comments"></i> {% trans %}Написать сообщение{% endtrans %}</div>#}
                        {#</div>#}
                        {#{{ include('user/chat_modal.html.twig') }}#}
                    {#{% endif %}#}


                    <div class="uk-margin-bottom card_blanc">
                        <div><i class="fa fa-eye c_green"></i> {{ card.views }} <span class="uk-text-small c_grey">{% trans %}просмотров{% endtrans %}</span></div>
                        <div><i class="fa fa-heart c_red"></i> <span id="card_likes">{{ card.likes }}</span> <span class="uk-text-small c_grey">{% trans %}лайков{% endtrans %}</span></div>
                        <div>
                            <i class="fa fa-star c_gold"></i> {{ opinions }}/5 <span class="uk-text-small c_grey">{% trans %}звезд из{% endtrans %}</span> {{ total_opinions }}
                            <span class="uk-text-small c_grey">{% trans %}отзывов{% endtrans %}</span>
                        </div>
                        <hr>
                        <div class="uk-text-center"><a href="/user/{{ card.user.id }}">{% trans %}Все объявления{% endtrans %}<br>{% trans %}пользователя{% endtrans %} ({{ card.user.cards|length }})</a></div>

                    </div>

                    {% if not reserved and card.user.isNew != 1%}
                        <div class="uk-margin-bottom card_page_phone">
                            <div uk-grid class="uk-grid-collapse uk-grid-match b_shadowed">
                                <div class="phone_block uk-width-1-1">
                                    {% if app.session.get('phone')[card.user.id] is not defined %}
                                        <div class="hidden_phone show_phone uk-text-center c_white" data-card_id="{{ card.id }}" data-profile="0" style="background: lightgrey">
                                            <div class="uk-text-center">{% trans %}Показать телефон{% endtrans %}</div>
                                            <i class="fa fa-phone"></i> {% for info in card.user.information if info.uiKey == 'phone' %}{{ info.uiValue|slice(0,5) }} XXX-XX-XX{% endfor %}
                                        </div>

                                    {% else %}
                                        <a class="opened_phone c_white uk-text-center" href="tel:{% for info in card.user.information if info.uiKey == 'phone' %}{{ info.uiValue }}{% endfor %}">
                                            <i class="fa fa-phone"></i> {% for info in card.user.information if info.uiKey == 'phone' %}{{ info.uiValue }}{% endfor %}
                                        </a>
                                    {% endif %}
                                </div>

                            </div>
                        </div>
                    {% endif %}
                {% endif %}



                {#<div id="user_message_form" uk-modal>#}
                    {#<div class="uk-modal-dialog uk-modal-body">#}
                        {#<h2 class="uk-modal-title">{% trans %}Сообщение пользователю{% endtrans %}</h2>#}
                        {#<button class="uk-modal-close-default" type="button" uk-close></button>#}
                        {#<form action="/user/sendMessage" uk-grid class="uk-grid-small" method="POST" >#}
                            {#<div class="uk-width-1-1"><input type="text" name="name" class="uk-input" placeholder="{% trans %}Имя{% endtrans %}"></div>#}
                            {#<div class="uk-width-1-1"><input type="text" name="phone" class="uk-input uk-width-1-1" placeholder="{% trans %}Телефон{% endtrans %}"></div>#}
                            {#<div class="uk-width-1-1"><input type="text" name="email" class="uk-input" placeholder="Email" required></div>#}
                            {#<div class="uk-width-1-1"><textarea name="message" class="uk-width-1-1 short_textarea" placeholder="{% trans %}Сообщение{% endtrans %}" required></textarea>#}
                            {#</div>#}
                            {#<input type="hidden" name="card_id" value="{{ card.id }}">#}
                            {#<div class="uk-width-1-1">#}
                                {#<button class="uk-button uk-button-default uk-width-1-1">{% trans %}Отправить{% endtrans %}</button>#}
                            {#</div>#}
                            {#<div id="recap_1" class="g-recaptcha"#}
                                 {#data-callback="capcha_filled"#}
                                 {#data-expired-callback="capcha_expired"#}
                                 {#data-sitekey="6LcGCzUUAAAAADpeaCQhkXWZqdhnB6_ZEGRm7Z2m"></div>#}
                            {#<input type="hidden" name="g-recaptcha-response">#}
                            {#<div id="recap1"></div>#}
                        {#</form>#}
                    {#</div>#}
                {#</div>#}


                {% if card.user.isNew == 1 %}
                    {{ include('card/order_forms/new_order_form.html.twig') }}
                {% else %}
                    {{ include('card/order_forms/old_order_form.html.twig') }}
                {% endif %}




                <div id="user_phone_form" uk-modal>
                    <div class="uk-modal-dialog uk-modal-body">
                        <button class="uk-modal-close-default" type="button" uk-close></button>
                        <div class="modal_name"><i class="fa fa-user"></i> {{ card.user.header }}</div>
                        <a class="modal_phone" href=""></a>
                        <hr>
                        <div class="modal_text tx_19">
                            {% trans %}Не забудьте сообщить владельцу, что звоните с сайта Мультипрокат и спросить скидку!{% endtrans %}
                        </div>
                    </div>
                </div>


                <div uk-toggle="target: #share_butons" class="share_button uk-margin-bottom"><i uk-icon="icon:social"></i> {% trans %}Поделиться{% endtrans %}</div>

                <div id="share_butons" uk-modal>
                    <div class="uk-modal-dialog uk-modal-body">
                        <h2 class="uk-modal-title">{% trans %}Расскажи всем!{% endtrans %}</h2>
                        <button class="uk-modal-close-default" type="button" uk-close></button>
                        <div class="">
                            <div class="">
                                <div uk-grid class="uk-flex uk-flex-center uk-grid-small">
                                    <div><!-- VK like -->
                                        <div id="vk_like"></div>
                                        <script type="text/javascript">VK.Widgets.Like("vk_like", {type: "button"});</script>
                                    </div>
                                    <div class="  vk_share"><!-- VK share -->
                                        <script type="text/javascript">document.write(VK.Share.button(false,{type: "round", text: "Поделиться"}));</script>
                                    </div>
                                    <div class="uk-width-2-3">
                                        <div class="fb-like" data-href="{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                                    </div>
                                    <div>
                                        <script src="https://apis.google.com/js/platform.js" async defer></script>
                                        <g:plusone></g:plusone>
                                        <div class="g-plus" data-action="share" data-height="24"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="uk-visible@s">
                    <h3 class="pf_style_header"><span>{% trans %}Поиск{% endtrans %}</span></h3>
                    {{ include('search/search_form.html.twig') }}

                    <h3 class="pf_style_header"><span>{% trans %}Лучшие предложения{% endtrans %}</span></h3>
                    {% for card in t3_new.getTop3 %}
                        {{ include('search/one_grid_view.html.twig', {'card':card, 'height':'150px'}) }}
                        <hr>
                    {% endfor %}

                    <div class="uk-text-center">
                        {% if app.session.has('logged_user') %}
                            <a href="/card/new" class="" title="Хотите сюда?<br>Разместите объявление!" uk-tooltip>{% trans %}Разместить объявление в ТОП{% endtrans %}</a>
                        {% else %}
                            <a class="" title="Хотите сюда?<br>Разместите объявление!" uk-tooltip uk-toggle="target: #sign_in_or_up">{% trans %}Разместить объявление в ТОП{% endtrans %}</a>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>

        {% if is_mobile() %}
        <div class="uk-width-1-1 uk-text-center">
                    <button type="button" class="uk-button uk-button-default uk-width-1-1" uk-toggle="target: #user_abuse">{% trans %}Пожаловаться{% endtrans %}</button>
                </div>
        {% endif %}

        <div class="uk-margin-large">

        </div>

    </div>

    {% if app.session.has('first_card') %}
        {{ app.session.remove('first_card') }}
    {% endif %}

    <div id="user_abuse" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <h2 class="uk-modal-title">{% trans %}Жалоба{% endtrans %}</h2>
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <form action="/user/sendAbuse" uk-grid class="uk-grid-small" method="POST" >
                <div class="uk-width-1-1">
                    <label><input type="checkbox" name="abuse[]" value="Телефон не отвечает">{% trans %}Телефон не отвечает{% endtrans %}</label>
                </div>
                <div class="uk-width-1-1">
                    <label><input type="checkbox" name="abuse[]" value="Объявление больше не актуально">{% trans %}Объявление больше не актуально{% endtrans %}</label>
                </div>
                <div class="uk-width-1-1">
                    <label><input type="checkbox" name="abuse[]" value="Ворованные фото">{% trans %}Ворованные фото{% endtrans %}</label>
                </div>
                <div class="uk-width-1-1">
                    <label><input type="checkbox" name="abuse[]" value="Грубый владелец">{% trans %}Грубый владелец{% endtrans %}</label>
                </div>
                <input type="hidden" name="card_id" value="{{ card.id }}">
                <div class="uk-width-1-1">
                    <button class="uk-button uk-button-default uk-width-1-1">{% trans %}Отправить{% endtrans %}</button>
                </div>
                {#<div id="recap_2" class="g-recaptcha"#}
                     {#data-callback="capcha_filled"#}
                     {#data-expired-callback="capcha_expired"#}
                     {#data-sitekey="6LcGCzUUAAAAADpeaCQhkXWZqdhnB6_ZEGRm7Z2m"></div>#}
                <div id="recap2"></div>
                <input type="hidden" name="g-recaptcha-response">
            </form>
        </div>
    </div>

    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async defer>
    </script>

    <div id="nonreged_user_book_form" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <h2 class="uk-modal-title"></h2>
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div>
                Подача заявок доступна только зарегистрированным пользователям<br><br>
                <button uk-toggle="target: #sign_up" class="uk-button uk-button-success "><span uk-icon="icon:lock" class="uk-icon"></span>Регистрация</button>
            </div>
        </div>
    </div>



{% endblock %}