{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/owl.carousel.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/css/owl.theme.default.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/css/auto-complete.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('assets/js/city_general_mark_selector.js') }}"></script>
    <script src="{{ asset('assets/js/showCard.js') }}"></script>
    <script src="{{ asset('assets/js/sliderSettings.js') }}"></script>
    <script src="{{ asset('assets/js/auto-complete.min.js') }}"></script>
    <script src="{{ asset('assets/js/mark_autocomplete.js') }}"></script>
{% endblock %}

{% block socialScripts %}
    <!-- VK -->
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?149"></script>
    <script type="text/javascript">VK.init({apiId: 6213461, onlyWidgets: true});</script>
    <script type="text/javascript" src="https://vk.com/js/api/share.js?95" charset="windows-1251"></script>
    <!-- VK -->
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}


{% block openGraph %}
    {{ parent() }}
    <meta property="og:image" content="{{ app.request.getSchemeAndHttpHost() ~ mainFoto }}">
    <meta property="og:title" content="{{ include(':seo_templates:p_h1.html.twig') }}">
    <meta property="og:url" content="{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}">
{% endblock %}

{% block metaTags %}
    {{ parent() }}
    <meta name="description" content="{% include ':seo_templates:p_description.html.twig' %}">
{% endblock %}

{% block title %}{{ include(':seo_templates:p_title.html.twig') }}{% endblock %}

{% block content %}

    <!-- FB -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.10&appId=1747516202216504";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <!-- FB -->

    <div class="uk-flex uk-flex-bottom card_cover {{  app.session.has('share') ? 'share' }}"
         style="background:url('{{ mainFoto }}') center center;
                 background-size: cover;
                 height: 500px;
                 position: relative;">
        <div class="cover_gradient">
            <div class="card_cover_description">
                <div class="standard_wide">
                    <h1>{{ include(':seo_templates:p_h1.html.twig') }}</h1>
                    <div>
                        {% if card.address != '' %}
                            <i class="fa fa-map-marker"></i> {{ card.address }}
                        {% else %}
                            <i class="fa fa-map-marker"></i> {{ card.getCity.header }}, {{ card.getCity.getParent.header }}, {{ card.getCity.country }}
                        {% endif %}
                     </div>
                    <div><i class="fa fa-calendar"></i> {{ card.dateCreate|date("d.m.Y") }} <i class="fa fa-eye"></i> {{ card.views }}</div>
                </div>
            </div>
        </div>
    </div>

    {% if app.session.has('share') %}
        {{ app.session.remove('share') }}
    {% endif %}


    <div class="breadcrumbs uk-margin-bottom">
        <div class="standard_wide">
            <a href="/">Главная</a>
            <i uk-icon="icon:chevron-right"></i>
            <a href="/rent/{{ card.city.url }}">{{ card.city.header }}</a>
            <i uk-icon="icon:chevron-right"></i>
            <a href="/rent/{{ card.city.url }}/all/{{ card.generalType.url }}">{{ card.generalType.header }}</a>

            {% if bodyType %}
                <i uk-icon="icon:chevron-right"></i>
                <a href="/rent/{{ card.city.url }}/all/{{ card.generalType.url }}/{{ bodyType.url }}">{{ bodyType.header }}</a>
            {% endif %}

            <i uk-icon="icon:chevron-right"></i>
            <a href="/rent/{{ card.city.url }}/all/{{ card.generalType.url }}/{{ card.markModel.mark.header }}">{{ card.markModel.mark.header }}</a>
            <i uk-icon="icon:chevron-right"></i>
            <a href="/rent/{{ card.city.url }}/all/{{ card.generalType.url }}/{{ card.markModel.mark.header }}/{{ card.markModel.header }}">{{ card.markModel.header }}</a>
        </div>
    </div>

    <div class="standard_wide">

        <div uk-grid>
            <div class="uk-width-3-4@s uk-position-relative">

                <div class="likes" data-card_id="{{ card.id }}">
                    {% if app.session.has('likes') and app.session.get('likes')[card.id] is defined %}
                        <i class="fa fa-heart c_red"></i>
                    {% else %}
                        <i class="fa fa-heart-o c_white t_shadowed"></i>
                    {% endif %}
                </div>

                <div id="page_slider" class="owl-carousel owl-theme" data-items="1">
                    {% for foto in card.getFotos %}
                        <div uk-lightbox>
                        <a href="/assets/images/cards/{{ foto.folder }}/{{ foto.id }}.jpg" class="slide uk-width-1-1" style="
                                background:url('/assets/images/cards/{{ foto.folder }}/{{ foto.id }}.jpg') center center;
                                background-size: cover;
                                display: block;
                                height: {% if is_mobile() %}150px{% else %}500px{% endif %};
                                ">
                            {#<img src="/assets/images/cards/{{ foto.folder }}/{{ foto.id }}.jpg" alt="" style="max-height: auto">#}
                        </a>
                        </div>
                    {% endfor %}
                </div>


                <ul id="tt" uk-tab>
                    <li><a href="#">Информация</a></li>
                    {% if card.coords != NULL and card.coords != ''%}
                    <li><a href="#">Карта</a></li>
                    {% endif %}
                    {% if streetView %}
                        <li><a href="#">Местность</a></li>
                    {% endif %}
                    {% if video %}
                        <li><a href="#">Видео</a></li>
                    {% endif %}
                </ul>

                <ul id="cardTabs" class="uk-switcher uk-margin">
                    <li class="card_blanc">
                        <div uk-grid>
                            <div class="uk-width-1-2@s">

                                {% if card.prodYear != 0 %}<div>Год выпуска: {{ card.prodYear }}</div>{% endif %}

                                <div>Состояние: {{ card.getCondition.header }}</div>

                                <div>Цвет: {{ card.getColor.header }}</div>


                                {% for subfield in sub_fields if subfield.value is not null %}
                                    <div>
                                        {{ subfield.label }}:
                                        {% if subfield.type == 'subfield' %}
                                            {{ subfield.value.getHeader }}
                                        {% else %}
                                            {{ subfield.value.getValue }}
                                        {% endif %}
                                    </div>
                                {% endfor %}


                            </div>
                            <div class="uk-width-1-2@s">
                                <div id="card_content">{{ card.content|raw }}</div>
                            </div>
                        </div>

                    </li>

                    {% if card.coords != NULL and card.coords != ''%}
                    <li id="card_tab" class="card_blanc">
                            {% set coords = card.coords|split(',') %}
                            <div id="map" data-lat="{{ coords[0] }}" data-lng="{{ coords[1] }}"></div>
                            <script async defer
                                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWdm1zrblFjsdUfi1-6fsPvj30ACCiCxk">
                            </script>
                    </li>
                    {% endif %}

                    {% if streetView and card.coords != NULL %}
                        <li class="card_blanc">
                            <iframe
                                    width="100%"
                                    height="400"
                                    frameborder="0" style="border:0"
                                    src="https://www.google.com/maps/embed/v1/streetview?key=AIzaSyDWdm1zrblFjsdUfi1-6fsPvj30ACCiCxk&location={{ coords[0] }},{{ coords[1] }}&heading={{ streetView.heading }}&pitch={{ streetView.pitch }}&fov=35"
                                    allowfullscreen>
                            </iframe>
                        </li>
                    {% endif %}
                    {% if video %}
                        <li class="card_blanc">
                            <iframe width="100%" height="400"
                                    src="https://www.youtube.com/embed/{{ video }}?feature=oembed" frameborder="0"
                                    allowfullscreen></iframe>
                        </li>
                    {% endif %}
                </ul>


                {% if card.getCardFeatures is not empty%}
                    <h2 class="pf_style_header"><span>Характеристики</span></h2>

                    <div class="card_blanc">
                        <div uk-grid>
                            {% for feature in card.getCardFeatures %}
                                <div class="">
                                    <span class="check_icon"
                                          uk-icon="icon:check; ratio: 1"></span>{{ feature.getFeature.header }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                <h2 class="pf_style_header"><span>Комментарии</span></h2>

                <div class="card_blanc">
                    {% if app.session.has('logged_user') %}
                        <form action="/userAddComment" method="POST">
                            <textarea name="comment" class="uk-textarea" placeholder="Ваш комментарий" required></textarea>
                            <input type="hidden" name="user_id" value="{{ app.session.get('logged_user').id }}">
                            <input type="hidden" name="card_id" value="{{ card.id }}">
                            <input type="hidden" name="return" value="{{ app.request.requestUri }}">
                            <button class="uk-button uk-button-primary uk-margin-top">Отправить</button>
                        </form>

                        <div class="uk-margin-top">
                            {% for comment in card.comments %}
                                <div class="uk-margin-bottom">
                                    <i class="fa fa-calendar"></i> {{ comment.dateCreate|date('d.m.Y H:i') }}
                                    <i class="fa fa-user"></i> {{ comment.user.header }}
                                    <div><i class="fa fa-comment-o"></i> {{ comment.content }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div>
                            <a uk-toggle="target: #sign_in">Войдите</a> или <a uk-toggle="target: #sign_up">зарегистрируйтесь</a>, чтобы написать комментарий.
                        </div>
                    {% endif %}
                </div>

                <h2 class="pf_style_header"><span>Отзывы</span></h2>

                <div class="card_blanc">
                    {% if app.session.has('logged_user') %}
                        <form action="/userAddOpinion" method="POST">
                            <div class="stars uk-margin-bottom">
                                {% for i in 1..5 %}
                                    <span class="star {{ i == 1 ? 'active' }}" data-star="{{ i }}"><i class="fa fa-star"></i></span>
                                {% endfor %}
                                <span id="stars">1</span>
                            </div>
                            <textarea name="content" class="uk-textarea" placeholder="Ваш отзыв" required></textarea>
                            <input type="hidden" name="stars" value="1">
                            <input type="hidden" name="user_id" value="{{ app.session.get('logged_user').id }}">
                            <input type="hidden" name="card_id" value="{{ card.id }}">
                            <input type="hidden" name="return" value="{{ app.request.requestUri }}">
                            <button class="uk-button uk-button-primary uk-margin-top">Отправить</button>
                        </form>
                        <div class="uk-margin-top">
                            {% for opinion in card.opinions %}
                                <div class="uk-margin-bottom">
                                    <i class="fa fa-calendar"></i> {{ opinion.dateCreate|date('d.m.Y H:i') }}
                                    <i class="fa fa-user"></i> {{ opinion.user.header }}
                                    <i class="fa fa-star c_gold"></i> {{ opinion.stars }}
                                    <div><i class="fa fa-comment-o"></i> {{ opinion.content }}</div>
                                </div>
                            {% endfor %}
                        </div>

                    {% else %}
                        <div>
                            <a uk-toggle="target: #sign_in">Войдите</a> или <a uk-toggle="target: #sign_up">зарегистрируйтесь</a>, чтобы оставить отзыв.
                        </div>
                    {% endif %}
                </div>



                {% if app.session.has('admin') or ( app.session.has('logged_user') and card.user.id == app.session.get('logged_user').id ) %}
                    <hr>
                    <a class="uk-button uk-button-primary" href="/user/edit/card/{{ card.id }}">Редактировать объявление</a>
                {% endif %}
            </div>
            <div class="uk-width-1-4@s">



                <div class="user_block uk-text-center uk-margin-bottom">
                    <div class="uk-text-small">Собственник</div>
                    {% if user_foto %}
                    <div style="background: url('{{ user_foto }}') center center no-repeat;
                            background-size: contain;
                            width: 155px;
                            height: 155px;
                            display: inline-block;
                            ">
                    </div>
                    {% else %}
                    {% endif %}

                    <h3 class="uk-margin-remove"><a href="/user/{{ card.user.id }}">{{ card.user.header }}</a></h3>
                    <div class="uk-margin-top">
                        {% for info in card.user.information %}
                            {% if info.uiKey == 'vk' and info.uiValue != '' %}<a rel="nofollow" href="{{ info.uiValue }}" class="card_soc_icon s_vk"><i class="fa fa-vk"></i></a>{% endif %}
                            {% if info.uiKey == 'fb' and info.uiValue != '' %}<a rel="nofollow" href="{{ info.uiValue }}" class="card_soc_icon s_fb"><i class="fa fa-facebook"></i></a>{% endif %}
                            {% if info.uiKey == 'ok' and info.uiValue != '' %}<a rel="nofollow" href="{{ info.uiValue }}" class="card_soc_icon s_ok"><i class="fa fa-odnoklassniki"></i></a>{% endif %}
                            {% if info.uiKey == 'tw' and info.uiValue != '' %}<a rel="nofollow" href="{{ info.uiValue }}" class="card_soc_icon s_tw"><i class="fa fa-twitter"></i></a>{% endif %}
                            {% if info.uiKey == 'gp' and info.uiValue != '' %}<a rel="nofollow" href="{{ info.uiValue }}" class="card_soc_icon s_gp"><i class="fa fa-google-plus"></i></a>{% endif %}
                            {% if info.uiKey == 'ig' and info.uiValue != '' %}<a rel="nofollow" href="{{ info.uiValue }}" class="card_soc_icon s_ig"><i class="fa fa-instagram"></i></a>{% endif %}
                            {% if info.uiKey == 'yt' and info.uiValue != '' %}<a rel="nofollow" href="{{ info.uiValue }}" class="card_soc_icon s_yt"><i class="fa fa-youtube"></i></a>{% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div class="uk-margin-bottom card_page_phone ">
                    <div uk-grid class="uk-grid-collapse uk-grid-match b_shadowed">
                        <div class="phone_block uk-width-5-6">
                            {% if app.session.get('phone')[card.user.id] is not defined %}
                                <div class="hidden_phone bg_green show_phone uk-text-center c_white" data-card_id="{{ card.id }}" data-profile="0">
                                    <div class="uk-text-center">Показать телефон</div>
                                    <i class="fa fa-phone"></i> {% for info in card.user.information if info.uiKey == 'phone' %}{{ info.uiValue|slice(0,5) }} XXX-XX-XX{% endfor %}
                                </div>

                            {% else %}
                                <a class="opened_phone bg_green c_white uk-text-center" href="tel:{% for info in card.user.information if info.uiKey == 'phone' %}{{ info.uiValue }}{% endfor %}">
                                    <i class="fa fa-phone"></i> {% for info in card.user.information if info.uiKey == 'phone' %}{{ info.uiValue }}{% endfor %}
                                </a>
                            {% endif %}
                        </div>
                        <div class="uk-width-1-6">
                            <div class="bg_green user_form_button" uk-toggle="target: #user_message_form"><i class="fa fa-commenting"></i></div>
                        </div>
                    </div>
                </div>


                <div class="uk-margin-bottom card_blanc">
                    <div><i class="fa fa-eye c_green"></i> {{ card.views }} <span class="uk-text-small c_grey">просмотров</span></div>
                    <div><i class="fa fa-heart c_red"></i> <span id="card_likes">{{ card.likes }}</span> <span class="uk-text-small c_grey">лайков</span></div>
                    <div>
                        <i class="fa fa-star c_gold"></i> {{ opinions }}/5 <span class="uk-text-small c_grey">звезд из</span> {{ total_opinions }}
                        <span class="uk-text-small c_grey">отзывов</span>
                    </div>
                    <hr>
                    <div class="uk-text-center"><a href="/user/{{ card.user.id }}">Все объявления<br>пользователя ({{ card.user.cards|length }})</a></div>

                </div>


                <div class="uk-margin-bottom card_blanc">
                    {% for price in card.getCardPrices %}
                        <div class="uk-text-center {{ price.priceId == 2 ? 'price_highlighted' : ''}}">
                            <span class="price_value">{{ price.value|number_format(0,'.','<span class="thousand_separator"></span>')|raw }}</span>
                            <span class="price_descriptor"> ₽ / {{ price.getPrice.header }}</span>
                        </div>
                    {% endfor %}
                </div>

                <div id="user_message_form" uk-modal>
                    <div class="uk-modal-dialog uk-modal-body">
                        <h2 class="uk-modal-title">Сообщение пользователю</h2>
                        <button class="uk-modal-close-default" type="button" uk-close></button>
                        <form action="/user/sendMessage" uk-grid class="uk-grid-small" method="POST">
                            <div class="uk-width-1-1"><input type="text" name="name" class="uk-input" placeholder="Имя"></div>
                            <div class="uk-width-1-1"><input type="text" name="phone" class="uk-input uk-width-1-1" placeholder="Телефон"></div>
                            <div class="uk-width-1-1"><input type="text" name="email" class="uk-input" placeholder="Email" required></div>
                            <div class="uk-width-1-1"><textarea name="message" class="uk-width-1-1 short_textarea" placeholder="Сообщение" required></textarea>
                            </div>
                            <input type="hidden" name="card_id" value="{{ card.id }}">
                            <div class="uk-width-1-1">
                                <button class="uk-button uk-button-default uk-width-1-1">Отправить</button>
                            </div>
                            <div class="g-recaptcha" data-sitekey="6LcGCzUUAAAAADpeaCQhkXWZqdhnB6_ZEGRm7Z2m"></div>
                        </form>
                    </div>
                </div>

                <div id="user_phone_form" uk-modal>
                    <div class="uk-modal-dialog uk-modal-body">
                        <button class="uk-modal-close-default" type="button" uk-close></button>
                        <div class="modal_name"><i class="fa fa-user"></i> {{ card.user.header }}</div>
                        <a class="modal_phone" href=""></a>
                        <hr>
                        <div class="modal_text tx_19">
                            Не забудьте сообщить владельцу, что звоните с сайта Мультипрокат и спросить скидку!
                        </div>
                    </div>
                </div>


                <div uk-toggle="target: #share_butons" class="share_button uk-margin-bottom"><i uk-icon="icon:social"></i> Поделиться</div>

                <div id="share_butons" uk-modal>
                    <div class="uk-modal-dialog uk-modal-body">
                        <h2 class="uk-modal-title">Расскажи всем!</h2>
                        <button class="uk-modal-close-default" type="button" uk-close></button>
                        <div class="">
                            <div class="">
                                <div uk-grid class="uk-flex uk-flex-center uk-grid-small">
                                    <div><!-- VK like -->
                                        <div id="vk_like"></div>
                                        <script type="text/javascript">VK.Widgets.Like("vk_like", {type: "button"});</script>
                                    </div>
                                    <div class="  vk_share"><!-- VK share -->
                                        <script type="text/javascript">document.write(VK.Share.button(false,{type: "round", text: "Поделиться"}));</script>
                                    </div>
                                    <div class="uk-width-2-3">
                                        <div class="fb-like" data-href="{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                                    </div>
                                    <div>
                                        <script src="https://apis.google.com/js/platform.js" async defer></script>
                                        <g:plusone></g:plusone>
                                        <div class="g-plus" data-action="share" data-height="24"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="uk-visible@s">
                    <h3 class="pf_style_header"><span>Поиск</span></h3>
                    {{ include('search/search_form.html.twig') }}

                    <h3 class="pf_style_header"><span>Лучшие предложения</span></h3>
                    {% for card in t3_new.getTop3 %}
                        {{ include('search/one_grid_view.html.twig', {'card':card, 'height':'150px'}) }}
                        <hr>
                    {% endfor %}

                    <div class="uk-text-center">
                        {% if app.session.has('logged_user') %}
                            <a href="/card/new" class="" title="Хотите сюда?<br>Разместите объявление!" uk-tooltip>Разместить объявление в ТОП</a>
                        {% else %}
                            <a class="" title="Хотите сюда?<br>Разместите объявление!" uk-tooltip uk-toggle="target: #sign_in_or_up">Разместить объявление в ТОП</a>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>

        <div class="uk-margin-large">
            <h2 class="pf_style_header"><span>Похожие объявления</span></h2>
            <div class="owl-carousel in_row_4 owl-theme uk-width-1-1" data-items="4">
                {% for card in similar %}
                    {{ include('search/one_grid_view.html.twig', {'card':card, 'height':'150px'}) }}
                {% endfor %}
            </div>
        </div>

    </div>

{% endblock %}