<div uk-grid class="tariff_selector uk-grid-small">
    <div class="uk-width-1-3" ><div class="selector_item t_3 {{ tariffId == 3 or tariffId == 0 ? 'active' : '' }}" data-id="3">{% trans %}Премиум размещение{% endtrans %} 399 руб.</div></div>
    <div class="uk-width-1-3" ><div class="selector_item t_2 {{ tariffId == 2 ? 'active' : '' }}" data-id="2">{% trans %}Экспресс продвижение{% endtrans %} 199 руб.</div></div>
    <div class="uk-width-1-3" ><div class="selector_item t_1 {{ tariffId == 1 ? 'active' : '' }}" data-id="1">{% trans %}Обычная публикация{% endtrans %} &nbsp;&nbsp;&nbsp;</div></div>
</div>


<div id="tariff_3" class="tariff_block {{ tariffId == 3 ? 'active' : '' }}">
    <div class="tariff_block_inner">
    <h3>{% trans %}Премиум размещение{% endtrans %} <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
        {{ card.tariffId is defined and card.tariffId == 3 ? ' - <span class="current_tariff_pointer">'~'ваш текущий тариф'|trans~'</span>' : '' }}
    </h3>
    <div uk-grid>
        <div class="uk-width-1-2@s">
            {% trans %}Ваше объявление на самом заметном месте сайта: на главной странице, на первом месте в выбранной вами категории.<br>Премиум размещение дает плюс 1000 просмотров.<br>Размещение объявления на главной странице сайта привлекает больше просмотров, вы повысите количество клиентов за короткий срок.{% endtrans %}
        </div>
        <div class="uk-width-1-2@s uk-text-center"><img src="{{ asset('assets/images/interface/premium.png') }}" alt=""></div>
    </div>
    </div>
    <button class="uk-button pay_tariff_button" name="change_tariff">Разместить и оплатить 399 руб.</button>
</div>
{% if edit is not defined %}
<button class="uk-button pay_tariff_button temp_button" name="change_tariff">{% trans %}Разместить и оплатить{% endtrans %} 399 руб.</button>
{% endif %}


<div id="tariff_2" class="tariff_block {{ tariffId == 2 ? 'active' : '' }}">
    <div class="tariff_block_inner">
    <h3>{% trans %}Экспресс продвижение{% endtrans %} <i class="fa fa-star"></i> <i class="fa fa-star"></i>
    {{ card.tariffId is defined and card.tariffId == 2 ? ' - <span class="current_tariff_pointer">'~'ваш текущий тариф'|trans~'</span>' : '' }}
    </h3>
    <div uk-grid>
        <div class="uk-width-1-2@s">
            {% trans %}Разместите ваше объявление в разделе «похожие объявления».<br>Ваше объявление в течении 7-ми дней будет размещено в карточках похожих объявлений выбранного региона.<br>Будьте лидером в своем регионе!{% endtrans %}
        </div>
        <div class="uk-width-1-2@s uk-text-center"><img src="{{ asset('assets/images/interface/express.png') }}" alt=""></div>
    </div>
    </div>
    <button class="uk-button pay_tariff_button" name="change_tariff">{% trans %}Разместить и оплатить{% endtrans %} 199 руб.</button>
</div>



<div id="tariff_1" class="tariff_block {{ tariffId == 1 ? 'active' : '' }}">
    <div class="tariff_block_inner">
    <h3>{% trans %}Обычная публикация{% endtrans %}
        {{ card.tariffId is defined and card.tariffId == 1 ? ' - <span class="current_tariff_pointer">'~'ваш текущий тариф'|trans~'</span>' : '' }}
    </h3>
    <div uk-grid>
        <div class="uk-width-1-2@s">
            {% trans %}Бесплатное размещение вашего объявления на 365 дней<br>Объявление вытесняется другими, не участвует в продвижении на сайте.<br>Нужно больше клиентов в вашем городе?<br>Воспользуйтесь тарифами{% endtrans %} <a class="selector_item" data-id="3">«{% trans %}Премиум размещение{% endtrans %}»</a> {% trans %}или{% endtrans %} <a class="selector_item" data-id="2">«{% trans %}Экспресс продвижение{% endtrans %}»</a>
        </div>
        <div class="uk-width-1-2@s"></div>
    </div>
    </div>
    <button class="uk-button pay_tariff_button" name="change_tariff">{% trans %}Разместить бесплатно{% endtrans %}</button>
</div>



