
<select name="subField[{{ options[0].fieldId }}]" data-id="{{ options[0].fieldId }}"
        class="sub_field_field subFieldSelect {{ options[0].getChildren is empty ? 'is_last' : '' }}">
        <option value="0">- выберите -</option>
    {% for option in options %}
        <option value="{{ option.id }}">{{ option.header }}</option>
    {% endfor %}
</select>