<div uk-grid>
    <div class="uk-width-1-5">
        {% trans %}Адрес{% endtrans %} <span class="red_star">*</span>
        <div class="help_text">{% trans %}Укажите адрес размещения вашего транспорта{% endtrans %}</div>
    </div>
    <div class="uk-width-3-5">
        <span class="expander_button" uk-toggle="target: #city_selector"><span id="xpb_name">{{ city.header }}</span> <i uk-icon="icon:chevron-down"></i></span>

        <div class="uk-display-inline-block uk-margin-left">
            Доставка транспорта клиенту:
            <label><input type="radio" name="deliveryStatus" value="0"> нет</label>
            <label><input type="radio" name="deliveryStatus" value="1"> да</label>
            <label><input type="radio" name="deliveryStatus" value="2" checked> возможна</label>
        </div>

        <div class="expandable_block" id="city_selector" hidden>
            <div class="uk-text-small">{% trans %}Страна{% endtrans %}</div>
            <select name="countryCode" id="countryCode" class="uk-select">
                {#<option value="0">-выберите страну-</option>#}
                {#{% for country_code, country_title in countries %}#}
                {#<option value="{{ country_code }}" {{ country_code == countryCode ? 'selected' : '' }}>{{ country_title }}</option>#}
                {#{% endfor %}#}
                {#{{ include( 'common/ajax_edit_options.html.twig', { 'options': countries, 'id': countryCode }) }}#}

                <option value="0">-выберите страну-</option>
                <option value="RUS">Россия</option>
                <option value="CAN">Canada</option>
                <option value="USA">USA</option>
            </select>
            <div class="uk-text-small">{% trans %}Регион{% endtrans %}</div>
            <select name="regionId" id="regionId" class="uk-select">
                {{ include( 'common/ajax_edit_options.html.twig', { 'options': regions, 'id': regionId }) }}
            </select>
            <div class="uk-text-small">{% trans %}Город{% endtrans %}</div>
            <select name="cityId" id="cityId" class="uk-select cityIdSelect">
                {{ include( 'common/ajax_edit_options.html.twig', { 'options': cities, 'id': cityId }) }}
            </select>
            <div class="uk-text-small">{% trans %}Адрес{% endtrans %}</div>
            <div>
                <textarea name="address" class="uk-textarea"></textarea>
            </div>
            <div class="uk-text-small" uk-toggle="target: #map_selector" id="show_map">{% trans %}Карта{% endtrans %} <i uk-icon="icon:chevron-down"></i></div>
            <div id="map_selector" hidden>
                {% if app.session.has('admin') %}
                    <input name="coords" type="hidden" value="">
                    <div id="map" data-lat="55.753410" data-lng="37.620285"></div>
                {% else %}
                    {% if app.session.get('city').coords == NULL %}
                        {% set lat = 55.753410 %}
                        {% set lon = 37.620285 %}
                    {% else %}
                        {% set crd = app.session.get('city').coords|split(',') %}
                        {% set lat = crd[0] %}
                        {% set lon = crd[1] %}
                    {% endif %}
                    <input name="coords" type="hidden" value="{{ lat }},{{ lon }}">
                    <div id="map" data-lat="{{ lat }}" data-lng="{{ lon }}"></div>
                {% endif %}
            </div>
            <input type="hidden" name="streetView">
        </div>
    </div>
    <div class="uk-width-1-5">

    </div>
</div>