<h3 class="uk-align theme-required">Укажите свои расценки по периодам</h3>
<div class="uk-width-1-1 uk-width-1-2@m">

    <div class="uk-grid-medium uk-child-width-1-1 uk-child-width-1-2@m" uk-grid>
        <div>
            <div class="uk-form-stacked">
                <label class="uk-form-label">{% trans %}Валюта{% endtrans %}</label>
                <div class="uk-form-controls">
                    <select name="currency" class="uk-select select-border-bottom">
                        <option value="EUR">EUR</option>
                        <option value="USD" {{ city.country == 'USA' or city.country == 'CAN' ? 'selected' }}>USD</option>
                        <option value="RUB" {{ city.country == 'RUS' or city.country == 'RUS' ? 'selected' }}>RUB</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-grid-medium uk-child-width-1-1 uk-child-width-1-2@m" uk-grid>
        <div>
            <!-- За час -->
            {% for price in prices if price.id == 1%}
            <div class="uk-form-stacked uk-align">
                <label class="uk-form-label">{{ price.header|trans }}</label>
                <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon uk-flex-right@m uk-form-icon-flip"><i class="fa fa-rub"></i></span>
                    <input type="text"
                           class="uk-input js-pay-per-hour"
                           name="price[{{ price.id }}]"
                           value="{% for cardPrice in card.getCardPrices if cardPrice.priceId == price.id %}{{ cardPrice.value }}{% endfor %}">

                </div>
            </div>
            {% endfor %}
            <!-- За час -->

            <!-- За день -->
            {% for price in prices if price.id == 2%}
            <div class="uk-form-stacked uk-align">
                <label class="uk-form-label">{{ price.header|trans }}</label>
                <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon uk-flex-right@m uk-form-icon-flip"><i class="fa fa-rub"></i></span>
                    <input type="text"
                           class="uk-input js-pay-per-day"
                           name="price[{{ price.id }}]"
                           value="{% for cardPrice in card.getCardPrices if cardPrice.priceId == price.id %}{{ cardPrice.value }}{% endfor %}">

                </div>
            </div>
            {% endfor %}
            <!-- За день -->

            <!-- Error Alert -->
            <div class="uk-padding-small uk-padding-remove-horizontal uk-padding-remove-top uk-text-danger uk-text-small theme-d-none js-step-five-error">
                Укажите одну из расценок: в час/в день!</div>
            <!-- /Error Alert -->

            <div class="js-price-list-toggle uk-align uk-margin-top uk-text-right">
                <a class="link-underline" href="javascript:;" uk-toggle="target: .js-price-list-toggle; animation: uk-animation-fade; queued: true; duration: 300">Добавить расценку</a>
            </div>

            <div class="js-price-list-toggle" hidden>
                {% for price in prices if price.id > 2 and price.id < 7 %}
                <div class="uk-form-stacked uk-align">
                    <label class="uk-form-label">{{ price.header|trans }}</label>
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon uk-flex-right@m uk-form-icon-flip"><i class="fa fa-rub"></i></span>
                        <input type="text"
                               class="uk-input"
                               name="price[{{ price.id }}]"
                               value="{% for cardPrice in card.getCardPrices if cardPrice.priceId == price.id %}{{ cardPrice.value }}{% endfor %}">

                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
        <div class="uk-margin-remove">
            <p class="uk-text-muted">{% trans %}Одна из расценок в час или в день обязательна{% endtrans %}</p>
            <p class="uk-text-muted uk-visible@m">{% trans %}Платформа Мультипрокат добавляет от{% endtrans %} <a style="color: var(--purple-color);" href="#price_info" uk-toggle>10 {% trans %}до{% endtrans %} 20 %</a> {% trans %}к вашей стоимости{% endtrans %}</p>
            <p class="uk-text-muted uk-hidden@m">{% trans %}Указывая добавление стоимости{% endtrans %} <a style="color: var(--purple-color);" href="#price_info" uk-toggle>{% trans %}забронирования{% endtrans %}</a>, {% trans %}учитывайте сервисный сбор системы{% endtrans %} - 15%</p>
        </div>
    </div>

    <div class="uk-flex-bottom uk-grid-medium uk-grid-row-small uk-child-width-1-1 uk-child-width-1-2@m" uk-grid>
        <div>
            <div class="uk-form-stacked uk-align">
                <label class="uk-form-label">{% trans %}Залог{% endtrans %}</label>
                <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon uk-flex-right@m uk-form-icon-flip"><i class="fa fa-rub"></i></span>
                    <input type="text"
                           class="uk-input"
                           name="price[10]"
                           value="{% for cardPrice in card.getCardPrices if cardPrice.priceId == 10 %}{{ cardPrice.value }}{% endfor %}">

                </div>
            </div>
        </div>
        <div><p class="uk-text-muted uk-margin-small-bottom">{% trans %}Укажите, если это необходимо{% endtrans %}.</p></div>
    </div>

</div>

<div id="price_info" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Сервисный сбор</h2>
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div>
            На что идет сервисный сбор?<br>
<br>
Реклама вашего транспорта в интернете.<br>
Мы привлекаем дополнительный рекламный трафик из внешних источников именно на ваш транспорт  <br>
Вы зарабатываете больше денег.<br>
<br>
Владельцы, чей транспорт бронируется через нашу платформу, автоматически получают аккаунт PRO<br>
<br>
В сервисный сбор также входят: расходы на банковские переводы и обслуживание платежей.<br>
Также вы как владелец транспорта сможете проверить арендатора по нашей базе «безопасных арендаторов» и запросить
дополнительную информацию о безопасности сделки.
        </div>
    </div>
</div>
