<div class="uk-padding-small uk-padding-remove-horizontal">
    <a href="javascript:;" class="uk-text-primary" uk-toggle="target: .js-additional-toggle; animation: uk-animation-fade">
        <span>Указать дополнительную информацию</span>
        <span class="js-additional-toggle" uk-icon="chevron-down"></span>
        <span class="js-additional-toggle" uk-icon="chevron-up" hidden></span>
    </a>
</div>

<div class="js-additional-toggle" hidden>
    <div><a href="javascript:;" uk-toggle="target: #features_selector" class="uk-button uk-button-link">Указать характеристики</a></div>
    <div class="expandable_block uk-card uk-background-muted uk-card-body uk-padding-small uk-margin-small-bottom" id="features_selector" hidden>
        <ul class="uk-list uk-list-divider">
            {% for feature in features %}
            <li>
                <h5 class="uk-heading-bullet">{{ lang == 'ru' ? feature.header : feature.headerEn }}</h5>
                <div>
                    {% for item in feature.getChildren %}
                    <div>
                        <label>
                            <input type="checkbox" name="feature[{{ item.id }}]"> {{ lang == 'ru' ? item.header : item.headerEn }}
                        </label>
                    </div>
                    {% endfor %}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="uk-width-1-1 uk-width-2-3@m">
        <div class="uk-grid-medium uk-child-width-1-1 uk-child-width-1-2@m" uk-grid>
            <div>
                <div class="uk-form-stacked">
                    <label class="uk-form-label">{% trans %}Состояние{% endtrans %}</label>
                    <div class="uk-form-controls">
                        <select name="conditionId" class="uk-select select-border-bottom">
                            {% for condition in conditions %}
                            <option value="{{ condition.id }}" {{ condition.id == 2 ? 'selected' }}>{{ lang == 'ru' ? condition.header : condition.headerEn }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div>
                <div class="uk-form-stacked">
                    <label class="uk-form-label">{% trans %}Видео транспорта{% endtrans %}</label>
                    <div class="uk-form-controls">
                        <input type="text" name="video" class="uk-input" placeholder="Например: https://youtu.be/10WEWgAdDKk">
                    </div>
                </div>
            </div>

            <div>
                <div class="uk-form-stacked">
                    <label class="uk-form-label">{% trans %}Цвет{% endtrans %}</label>
                    <div class="uk-form-controls">
                        <select name="colorId" class="uk-select select-border-bottom">
                            <option value="0" hidden disabled selected>{% trans %}Значение не выбрано{% endtrans %}</option>
                            {% for color in colors %}
                            <option value="{{ color.id }}">{{ lang == 'ru' ? color.header : color.headerEn }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div>
                <div class="uk-form-stacked">
                    <label class="uk-form-label">{% trans %}Год выпуска{% endtrans %}</label>
                    <div class="uk-form-controls">
                        <select name="prodYear" class="uk-select select-border-bottom">
                            <option value="0" hidden disabled selected>{% trans %}Значение не выбрано{% endtrans %}</option>
                            {% for year in 'now'|date('Y')..1950 %}
                            <option value="{{ year }}">{{ year }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="js-subfields-area uk-grid-medium uk-child-width-1-1 uk-child-width-1-2@m" id="subfields" uk-grid></div>
    </div>
</div>
