<div uk-grid>
    <div class="uk-width-1-5">Характеристики</div>
    <div class="uk-width-4-5">
        <div class=""><span class="expander_button" uk-toggle="target: #features_selector">Показать  <i uk-icon="icon:chevron-down"></i></span></div>

        <div class="expandable_block" id="features_selector" hidden>
            <div >
                {% for feature in features %}
                    <div>
                        <b>{{ feature.header }}</b>
                        <div>
                            {% for item in feature.getChildren %}
                                <div>
                                    <label>
                                        <input type="checkbox" name="feature[{{ item.id }}]"> {{ item.header }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div uk-grid>
    <div class="uk-width-1-5">Дополнительно</div>
    <div class="uk-width-4-5">
        <div class="">
            <span class="expander_button" uk-toggle="target: #subfields">Показать <i uk-icon="icon:chevron-down"></i></span>
            <span class="uk-margin-left help_text"> Дополнительные параметры объявления будут участвовать в фильтрации</span>
        </div>
        <div class="expandable_block" id="subfields" hidden></div>
    </div>
</div>

<div uk-grid>
    <div class="uk-width-1-5">Состояние</div>
    <div class="uk-width-4-5">
        <select name="conditionId" class="uk-select uk-width-1-5">
            {% for condition in conditions %}
                <option value="{{ condition.id }}" {{ condition.id == 2 ? 'selected' }}>{{ condition.header }}</option>
            {% endfor %}
        </select>
    </div>
</div>

<div uk-grid>
    <div class="uk-width-1-5">Цвет</div>
    <div class="uk-width-4-5">
        <select name="colorId" class="uk-select uk-width-1-5">
            <option value="0">- выберите -</option>
            {% for color in colors %}
                <option value="{{ color.id }}">{{ color.header }}</option>
            {% endfor %}
        </select>
    </div>
</div>

<div uk-grid>
    <div class="uk-width-1-5">Год выпуска</div>
    <div class="uk-width-4-5">
        <select name="prodYear" class="uk-select uk-width-1-5">
            <option value="0" selected>- выберите -</option>
            {% for year in 1950..'now'|date('Y') %}
                <option value="{{ year }}">{{ year }}</option>
            {% endfor %}
        </select>
    </div>
</div>

<div uk-grid>
    <div class="uk-width-1-5">Видео</div>
    <div class="uk-width-4-5">
        <input name="video" class="uk-input">
        <div class="uk-text-small">например: https://www.youtube.com/watch?v=10WEWgAdDKk</div>
    </div>
</div>