<div uk-grid>
    <div class="uk-width-1-5">
        {% trans %}Цены{% endtrans %} <span class="red_star">*</span>
        <div class="help_text">{% trans %}Укажите свои расценки по периодам{% endtrans %}</div>
    </div>
    <div class="uk-width-3-5">

        <div class="uk-margin-bottom">
            <select name="currency" class="uk-width-1-5 uk-select">
                <option value="EUR">EUR</option>
                <option value="USD" {{ city.country == 'USA' or city.country == 'CAN' ? 'selected' }}>USD</option>
                <option value="RUB" {{ city.country == 'RUS' or city.country == 'RUS' ? 'selected' }}>RUB</option>
            </select>
        </div>




        <div class="non_plane">
            <div uk-grid>
                <div class="uk-width-1-2">
                    <div class="">
                        <div class="">
                            {% for price in prices if price.id < 3 %}
                                <div class="uk-margin-small-bottom">
                                    <input type="number" name="price[{{ price.id }}]" class="uk-input uk-width-1-3 one_of"> / <span>{{ price.header|trans }}</span>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="uk-text-small"><span class="red_star">*</span> {% trans %}Одна из расценок: в час/в день обязательна!{% endtrans %}</div>
                        <div class="uk-text-small"><span class="red_star">*</span> Указывая стоимость, учитывайте сервисный сбор системы - 15% <span uk-icon="info" uk-toggle="target: #price_info" ></span></div>
                    </div>
                </div>
                <div class="uk-width-1-2">
                    <div id="counted_prices"></div>
                </div>
            </div>

            <div class="uk-margin-top">
                <span class="expander_button" uk-toggle="target: #price_selector">{% trans %}Еще расценки{% endtrans %} <i uk-icon="icon:chevron-down"></i></span>
            </div>
            <div class="expandable_block uk-margin-top" id="price_selector" hidden>
                {% for price in prices if price.id > 2 and price.id != 6 and price.id < 7%}
                    <div>
                        <input type="number" name="price[{{ price.id }}]" class="uk-input uk-width-1-3"> / <span>{{ price.header|trans }} </span>
                    </div>
                {% endfor %}
            </div>

            <div class="uk-margin-top">
                Залог <input type="number" name="price[10]" class="uk-input uk-width-1-3 one_of" value="0"> ₽ - <span> (укажите, если необходимо) </span>
            </div>

        </div>
        <div class="plane" style="display: none">
            <input type="number" name="price[6]" class="uk-input uk-width-1-3 one_of"> ₽ - <span>{% trans %}Ориентировочная{% endtrans %}</span>
        </div>


    </div>
    <div class="uk-width-1-5">

    </div>
</div>

<div id="price_info" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Сервисный сбор</h2>
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div>
            На что идет сервисный сбор?<br>
<br>
Реклама вашего транспорта в интернете.<br>
Мы привлекаем дополнительный рекламный трафик из внешних источников именно на ваш транспорт  <br>
Вы зарабатываете больше денег.<br>
<br>
Владельцы, чей транспорт бронируется через нашу платформу, автоматически получают аккаунт PRO<br>
<br>
В сервисный сбор также входят: расходы на банковские переводы и обслуживание платежей.<br>
Также вы как владелец транспорта сможете проверить арендатора по нашей базе «безопасных арендаторов» и запросить
дополнительную информацию о безопасности сделки.
        </div>
    </div>
</div>