<div uk-grid>
    <div class="uk-width-1-5">Адрес <span class="red_star">*</span></div>
    <div class="uk-width-3-5">
        <span class="expander_button" uk-toggle="target: #city_selector">{{ city.header }} <i uk-icon="icon:chevron-down"></i></span>

        <div class="expandable_block" id="city_selector" hidden>
            <div class="uk-text-small">Страна</div>
            <select name="countryCode" id="countryCode" class="uk-select">
                {#<option value="0">-выберите страну-</option>#}
                {#{% for country_code, country_title in countries %}#}
                {#<option value="{{ country_code }}" {{ country_code == countryCode ? 'selected' : '' }}>{{ country_title }}</option>#}
                {#{% endfor %}#}
                {{ include( 'common/ajax_edit_options.html.twig', { 'options': countries, 'id': countryCode }) }}
            </select>
            <div class="uk-text-small">Регион</div>
            <select name="regionId" id="regionId" class="uk-select">
                {{ include( 'common/ajax_edit_options.html.twig', { 'options': regions, 'id': regionId }) }}
            </select>
            <div class="uk-text-small">Город</div>
            <select name="cityId" id="cityId" class="uk-select">
                {{ include( 'common/ajax_edit_options.html.twig', { 'options': cities, 'id': cityId }) }}
            </select>
            <div class="uk-text-small">Адрес</div>
            <div>
                <textarea name="address" class="uk-textarea"></textarea>
            </div>
            <div class="uk-text-small" uk-toggle="target: #map_selector" id="show_map">Карта <i uk-icon="icon:chevron-down"></i></div>
            <div id="map_selector" hidden>
                {% if app.session.has('admin') %}
                    <input name="coords" type="hidden" value="">
                    <div id="map" data-lat="55.753410" data-lng="37.620285"></div>
                {% else %}
                    {% if app.session.get('city').coords == NULL %}
                        {% set lat = 55.753410 %}
                        {% set lon = 37.620285 %}
                    {% else %}
                        {% set crd = app.session.get('city').coords|split(',') %}
                        {% set lat = crd[0] %}
                        {% set lon = crd[1] %}
                    {% endif %}
                    <input name="coords" type="hidden" value="{{ lat }},{{ lon }}">
                    <div id="map" data-lat="{{ lat }}" data-lng="{{ lon }}"></div>
                {% endif %}
            </div>
            <input type="hidden" name="streetView">
        </div>
    </div>
    <div class="uk-width-1-5">
        <div class="help_text">Укажите адрес размещения вашего транспорта</div>
    </div>
</div>