<h3 class="uk-h3 uk-margin-top-remove theme-required">{% trans %}Укажите адрес размещения вашего транспорта{% endtrans %}</h3>
<div class="uk-grid-medium uk-width-1-1 uk-width-2-3@m uk-child-width-1-1 uk-child-width-1-2@m" uk-grid>
    <div>
        <div class="uk-form-stacked">
            <label class="uk-form-label">{% trans %}Страна{% endtrans %}</label>
            <div class="uk-form-controls">
                <select name="countryCode" class="uk-select select-border-bottom js-address-country-select">
                    <option hidden disabled value>{% trans %}Значение не выбрано{% endtrans %}</option>
                    {% if app.session.has('admin') %}
                    {% for cntr in countries %}
                    <option value="{{ cntr.iso3 }}" {{ city.country == cntr.iso3 ? 'selected' }}>{{ cntr.header }}</option>
                    {% endfor %}
                    {% else %}
                    <option value="RUS" selected>{% trans %}Россия{% endtrans %}</option>
                    {% endif %}
                </select>
            </div>
        </div>

        <div class="uk-padding-small uk-padding-remove-horizontal uk-padding-remove-bottom uk-text-danger uk-text-small theme-d-none js-address-country-select-error js-step-two-error">
            {% trans %}Выберите значение!{% endtrans %}
        </div>
    </div>

    <div>
        <div class="uk-form-stacked">
            <label class="uk-form-label">{% trans %}Регион{% endtrans %}</label>
            <div class="uk-form-controls">
                <select name="regionId" class="uk-select select-border-bottom js-address-region-select">
                    {{ include( 'common/ajax_edit_options.html.twig', { 'options': regions, 'id': regionId, 'hideOptionAll' : true }) }}
                </select>
            </div>
        </div>
        {% if app.session.has('admin') %}
        <div class="uk-form-stacked">
            <div class="uk-padding-small uk-padding-remove-horizontal uk-padding-remove-bottom">
                <label class="uk-flex-inline uk-flex-middle" uk-toggle="target: .js-new-region-field">
                    <input class="uk-checkbox switch js-is-region" type="checkbox" name="is_region">
                    <span uk-toggle="target: .js-new-region-field">{% trans %}Нет региона{% endtrans %}</span>
                </label>
            </div>
            <input type="text" name="new_region" placeholder="{% trans %}Впишите свой регион{% endtrans %}" class="uk-input js-new-region-field" hidden>
        </div>
        {% endif %}
        <div class="uk-padding-small uk-padding-remove-horizontal uk-padding-remove-bottom uk-text-danger uk-text-small theme-d-none js-address-region-select-error js-step-two-error">
            {% trans %}Выберите значение!{% endtrans %}
        </div>
    </div>

    <div>
        <div class="uk-form-stacked">
            <label class="uk-form-label">{% trans %}Город{% endtrans %}</label>
            <div class="uk-form-controls">
                <select name="cityId" class="uk-select select-border-bottom js-address-city-select">
                    {{ include( 'common/ajax_edit_options.html.twig', { 'options': cities, 'id': cityId, 'hideOptionAll' : true }) }}
                </select>
            </div>
        </div>
        {% if app.session.has('admin') %}
        <div class="uk-form-stacked">
            <div class="uk-padding-small uk-padding-remove-horizontal uk-padding-remove-bottom">
                <label class="uk-flex-inline uk-flex-middle" uk-toggle="target: .js-new-city-field">
                    <input class="uk-checkbox switch js-is-city" type="checkbox" name="is_city">
                    <span uk-toggle="target: .js-new-city-field">{% trans %}Нет города{% endtrans %}</span>
                </label>
            </div>
            <input type="text" name="new_city" placeholder="{% trans %}Впишите свой город{% endtrans %}" class="uk-input js-new-city-field" hidden>
        </div>
        {% endif %}

        <div class="uk-padding-small uk-padding-remove-horizontal uk-padding-remove-bottom uk-text-danger uk-text-small theme-d-none js-address-city-select-error js-step-two-error">
            {% trans %}Выберите значение!{% endtrans %}
        </div>
    </div>

</div>

<div class="uk-grid-medium uk-width-1-1 uk-width-2-3@m uk-child-width-1-1 uk-padding uk-padding-remove-horizontal uk-padding-remove-top" uk-grid>
    <div>
        <div class="uk-form-stacked">
            <label class="uk-form-label">{% trans %}Адрес{% endtrans %}</label>
            <div class="uk-form-controls">
                <textarea name="address" rows="2" class="uk-textarea js-address-textarea"></textarea>
            </div>
        </div>

        <div class="uk-padding-small uk-padding-remove-horizontal uk-padding-remove-bottom uk-text-danger uk-text-small theme-d-none js-address-textarea-error js-step-two-error">
            {% trans %}Введите адрес!{% endtrans %}
        </div>
    </div>
</div>

<h3 class="uk-h3 uk-align uk-margin-small-top">{% trans %}Доставка транспорта клиенту{% endtrans %}</h3>
<ul class="uk-list theme-radio-list">
    <li><label><input class="uk-radio theme-radio" type="radio" name="deliveryStatus" value="1"><span>{% trans %}Да с доставкой{% endtrans %}</span></label></li>
    <li><label><input class="uk-radio theme-radio" type="radio" name="deliveryStatus" value="2"><span>{% trans %}Возможно{% endtrans %}</span></label></li>
    <li><label><input class="uk-radio theme-radio" type="radio" name="deliveryStatus" value="0" checked><span>{% trans %}Без доставки{% endtrans %}</span></label></li>
</ul>
