{% extends 'user/user_base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/simplebar.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/alex/user/mobile-user-orders-list.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/image_upload_preview.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.maskedinput.js') }}"></script>
    <script src="{{ asset('assets/js/phone_validate.js') }}"></script>
    <script src="{{ asset('assets/js/order.js') }}"></script>
{% endblock %}

{% block bodyClass %}
    big_order_list
{% endblock %}

{% block content %}
<div class="uk-container">
    <h2 class="uk-align">Мои сообщения</h2>

    <ul class="contacts-list">
        {% for o in orders %}

            {% set card = getcard(o.cardId) %}
            {% set rightuser = getuser(o.userId) %}
            {% set rating = o.ownerRating %}

            {% if app.session.get('logged_user').id == o.userId %}
                {% set rightuser = getuser(o.renterId) %}
                {% set rating = o.renterRating %}
            {% endif %}

            {% if card %}
                {% set main_foto = main_foto(card.getFotos) %}
            {% endif %}

            {% set url = '/assets/images/interface/no_image.jpg' %}

            {% if main_foto is defined and main_foto.folder is defined and main_foto.id is defined %}
                {% set url = '/assets/images/cards/'~main_foto.folder~'/t/'~main_foto.id~'.jpg' %}
            {% elseif card is defined and card.fotos is defined and card.fotos[0] is defined and card.fotos[0].folder is defined and card.fotos[0].id is defined%}
                {% set url = '/assets/images/cards/'~card.fotos[0].folder~'/t/'~card.fotos[0].id~'.jpg' %}
            {% else %}
                {% set url = '/assets/images/interface/no_image.jpg' %}
            {% endif %}

        <li class="contacts-item">
            <a class="contacts-link" href="/user/order_page/{{ o.id }}">
                <div class="avatar">
                    <img src="{{ url }}" alt="">

                    {% if o.ownerStatus == 'wait_for_accept' and app.session.get('logged_user').id == o.renterId %}
                    <div class="contacts-order-notify secondary">
                        <span class="uk-icon uk-icon-image" style="background-image: url('/assets/images/icons/order-list/chat-icon_awaiting.svg');"></span>
                    </div>
                    {% endif %}

                    {% if o.ownerStatus == 'wait_for_accept' and app.session.get('logged_user').id == o.userId %}
                    <div class="contacts-order-notify secondary">
                        <span class="uk-icon uk-icon-image" style="background-image: url('/assets/images/icons/order-list/chat-icon_awaiting.svg');"></span>
                    </div>
                    {% endif %}

                    {#---- after accept#}

                    {% if o.renterStatus == 'wait_for_pay' and app.session.get('logged_user').id == o.renterId %}
                    <div class="contacts-order-notify secondary">
                        <span uk-icon="credit-card"></span>
                    </div>
                    {% endif %}

                    {% if o.ownerStatus == 'accepted' and app.session.get('logged_user').id == o.userId %}
                    <div class="contacts-order-notify secondary">
                        <span uk-icon="credit-card"></span>
                    </div>
                    {% endif %}

                    {#---- after payment#}

                    {% if o.renterStatus == 'wait_for_finish' and app.session.get('logged_user').id == o.renterId %}
                    <div class="contacts-order-notify success">
                        <span uk-icon="happy"></span>
                    </div>
                    {% endif %}

                    {% if o.ownerStatus == 'wait_for_rent' and app.session.get('logged_user').id == o.userId %}
                    <div class="contacts-order-notify success">
                        <span uk-icon="credit-card"></span>
                    </div>
                    {% endif %}

                    {#---- after pincode#}

                    {% if o.renterStatus == 'rent_in_process' and app.session.get('logged_user').id == o.renterId %}
                    <div class="contacts-order-notify danger">
                        <span uk-icon="future"></span>
                    </div>
                    {% endif %}

                    {% if o.ownerStatus == 'rent_in_process' and app.session.get('logged_user').id == o.userId %}
                    <div class="contacts-order-notify danger">
                        <span uk-icon="future"></span>
                    </div>
                    {% endif %}

                    {#----- messages#}
                    {% if o.renterStatus == 'wait_for_answer' and app.session.get('logged_user').id == o.renterId %}
                    <div class="contacts-order-notify primary">
                        <span class="uk-icon uk-icon-image" style="background-image: url('/assets/images/icons/order-list/chat-icon_message.svg');"></span>
                    </div>
                    {% endif %}

                    {% if o.ownerStatus == 'wait_for_answer' and app.session.get('logged_user').id == o.userId %}
                    <div class="contacts-order-notify primary">
                        <span class="uk-icon uk-icon-image" style="background-image: url('/assets/images/icons/order-list/chat-icon_message.svg');"></span>
                    </div>
                    {% endif %}

                    {#----- rejected#}
                    {% if o.renterStatus == 'rejected' and app.session.get('logged_user').id == o.renterId %}
                    <div class="contacts-order-notify danger">
                        <span uk-icon="ban"></span>
                    </div>
                    {% endif %}

                    {% if o.ownerStatus == 'rejected' and app.session.get('logged_user').id == o.userId %}
                    <div class="contacts-order-notify danger">
                        <span uk-icon="ban"></span>
                    </div>
                    {% endif %}

                </div>

                <div class="contacts-content">
                    <div class="contacts-info">
                        <h6 class="chat-name uk-text-truncate">{{ rightuser.header is defined ? rightuser.header}}</h6>
                        <div class="chat-time">
                            {% if o.messages != '' %}
                                {% for m in jsond(o.messages) %}
                                    {% if loop.last %}
                                        {{ m.date }} {{ m.time }}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="contacts-texts">
                        <p class="uk-text-truncate">
                            {% if o.ownerStatus == 'wait_for_accept' and app.session.get('logged_user').id == o.renterId %}
                            <span class="message-status blue">Ожидает одобрения</span>
                            {% endif %}

                            {% if o.ownerStatus == 'wait_for_accept' and app.session.get('logged_user').id == o.userId %}
                            <span class="message-status blue">Ожидает одобрения</span>
                            {% endif %}

                            {#---- after accept#}

                            {% if o.renterStatus == 'wait_for_pay' and app.session.get('logged_user').id == o.renterId %}
                            <span class="message-status blue">Ожидает оплаты</span>
                            {% endif %}

                            {% if o.ownerStatus == 'accepted' and app.session.get('logged_user').id == o.userId %}
                            <span class="message-status blue">Ожидает оплаты</span>
                            {% endif %}

                            {#---- after payment#}

                            {% if o.renterStatus == 'wait_for_finish' and app.session.get('logged_user').id == o.renterId %}
                            <span class="message-status green">Заявка оплачена</span>
                            {% endif %}

                            {% if o.ownerStatus == 'wait_for_rent' and app.session.get('logged_user').id == o.userId %}
                            <span class="message-status green">Заявка оплачена</span>
                            {% endif %}

                            {#---- after pincode#}

                            {% if o.renterStatus == 'rent_in_process' and app.session.get('logged_user').id == o.renterId %}
                            <span class="message-status red">Идет аренда</span>
                            {% endif %}

                            {% if o.ownerStatus == 'rent_in_process' and app.session.get('logged_user').id == o.userId %}
                            <span class="message-status red">Идет аренда</span>
                            {% endif %}

                            {#----- messages#}
                            {% if o.renterStatus == 'wait_for_answer' and app.session.get('logged_user').id == o.renterId %}
                            <span class="message-status red">Есть ответ</span>
                            {% endif %}

                            {% if o.ownerStatus == 'wait_for_answer' and app.session.get('logged_user').id == o.userId %}
                            <span class="message-status red">Есть ответ</span>
                            {% endif %}

                            {#----- rejected#}
                            {% if o.renterStatus == 'rejected' and app.session.get('logged_user').id == o.renterId %}
                            <span class="message-status red">Заявка отклонена</span>
                            {% endif %}

                            {% if o.ownerStatus == 'rejected' and app.session.get('logged_user').id == o.userId %}
                            <span class="message-status red">Заявка отклонена</span>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>

</div>
{% endblock %}

