{% extends 'user/user_base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('assets/css/simplebar.css') }}" rel="stylesheet">
<link href="{{ asset('assets/css/alex/user/mobile-user-orders-page.css?dev') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('assets/js/image_upload_preview.js') }}"></script>
<script src="{{ asset('assets/js/jquery.maskedinput.js') }}"></script>
<script src="{{ asset('assets/js/phone_validate.js') }}"></script>
<script src="{{ asset('assets/js/order.js') }}"></script>
<script src="{{ asset('assets/js/alex/mobile-user-order-page.js') }}"></script>
{% endblock %}

{% block bodyClass %}
user__order-page_mobile
{% endblock %}

{% block content %}

{% set card = getcard(o.cardId) %}
{% set rightuser = getuser(o.userId) %}
{% set rating = o.ownerRating %}
{% if app.session.get('logged_user').id == o.userId %}
    {% set rightuser = getuser(o.renterId) %}
    {% set rating = o.renterRating %}
{% endif %}

{% set avatar_url = '/assets/images/users/t/user_'~o.renterId~'.jpg' %}
{% if(m.from == 'owner') %}
    {% set avatar_url = '/assets/images/users/t/user_'~o.userId~'.jpg' %}
{% endif %}
{% if not file_exists('.'~url) %}
    {% set avatar_url = '/assets/images/interface/default-user.png' %}
{% endif %}

<div class="messenger">
    <div class="messenger__layer">
        <!-- top -->
        <div class="messenger__header">
            <div class="uk-flex mailHat">
                <!-- Button Return to Previous Page -->
                <div class="uk-flex uk-flex-middle mailHat__left">
                    <a href="/user/transport_orders" class="mailHat__back uk-flex uk-flex-middle uk-flex-center">
                        <span uk-icon="icon: chevron-left; ratio: 1.5"></span>
                    </a>
                </div>
                <!-- /Button Return to Previous Page -->

                <!-- Dialog Info: Avatar, Username, theme -->
                <div class="mailHat__center">
                    <div class="uk-flex uk-flex-middle mailHat__convo">
                        <a class="mailHat__convoAvatar"
                            style="background-image: url('{{ avatar_url }}')"
                            href="/user/{{  m.from == 'owner' ? o.userId : o.renterId }}">
                        </a>

                        <div class="mailHat__convoBody">
                            <div class="mailHat__convoTitleWrapper">
                                <div class="mailHat__convoTitle">{{ rightuser.header }}</div>
                            </div>

                            <div class="mailHat__convoDetails">
                                <div class="mailHat__convoDetailsText">
                                    <span class="mailHat__convoDetailsTextTheme">Тема:</span>
                                    <a class="mailHat__convoDetailsTextThemeLink" href="/card/{{ o.cardId }}">{{ o.transport }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Dialog Info: Avatar, Username, theme -->

                <!-- safe deal -->
                <div class="mailHat__right">
                    <div class="uk-flex uk-flex-column uk-height-1-1 uk-flex-middle uk-flex-center mailHat__safeDeal">
                        <div class="mailHat__safeDealIcon">
                            <span class="uk-icon uk-icon-image mailHat__safeDealIconImage" style="background-image: url('/assets/images/icons/order-list/chat-header_surface.svg');"></span>
                        </div>
                        <div class="mailHat__safeDealText">Безопасная сделка</div>
                    </div>
                </div>
                <!-- /safe deal -->

            </div>
        </div>
        <!-- /top -->

        <!-- chat -->
        <div id="ord_desc_{{ o.id }}" class="messenger__content ord_content">

            <div class="messenger__body ScrollView">
                <!-- messenger messages -->
                {% if o.messages != '' %}
                    {% set cur_date = ''  %}
                    <div class="ord_messages uk-padding uk-padding-remove-horizontal">
                    {% for m in jsond(o.messages) %}

                        {% set dir = 'left' %}

                        {% if app.session.get('logged_user').id == o.userId and m.from == 'owner' %}
                            {% set dir = 'right' %}
                        {% endif %}

                        {% if app.session.get('logged_user').id == o.userId and m.from == 'renter' %}
                            {% set dir = 'left' %}
                        {% endif %}

                        {% if app.session.get('logged_user').id == o.renterId and m.from == 'renter' %}
                            {% set dir = 'right' %}
                        {% endif %}

                        {% if app.session.get('logged_user').id == o.renterId and m.from == 'owner' %}
                            {% set dir = 'left' %}
                        {% endif %}

                        {% if m.from == 'system' or m.from == 'system_renter' or m.from == 'system_owner' %}
                            {% set dir = 'system' %}
                        {% endif %}

                        {% if m.from == 'system_ok' %}
                            {% set dir = 'system_ok' %}
                        {% endif %}

                        {% if cur_date != m.date %}
                            {% set cur_date = m.date %}
                            <div class="msg msg_date"><div class="date_message">{{ m.date }}</div></div>
                        {% endif %}

                        <div class="msg msg_{{ dir }}">
                            <div class="msg__content">
                                {% if (dir == 'left') or (dir == 'right') %}
                                    <div class="msg__head">
                                        <div class="msg__headTitle">
                                            <a class="msg__headLink" href="/user/{{  m.from == 'owner' ? o.userId : o.renterId }}">
                                                {% if dir == 'left' %}{{ rightuser.header }}{% endif %}
                                                {% if dir == 'right' %}{{ app.session.get('logged_user').header }}{% endif %}
                                            </a>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="msg__text">{{ m.message|raw }}</div>
                                <div class="msg__date">{{ m.time }}</div>
                            </div>
                        </div>

                    {% endfor %}

                        <!-- buttons here -->
                        <!-- Buttons -->
                        {% if o.renterStatus == 'wait_for_pay' and app.session.get('logged_user').id == o.renterId %}
                        <div class="messenger__footerButtons">
                            <a href="/pay_for_order/{{ o.id }}" class="btn btn-solid ok_btn">Оплатить бронирование: {{ o.reservation }}</b> <i class="fa fa-ruble"></i></a>
                        </div>

                        {% endif %}


                        {% if o.ownerStatus in ['wait_for_accept','answered','wait_for_answer'] and app.session.get('logged_user').id == o.userId %}
                        <div class="messenger__footerButtons">
                            <button type="button" class="btn btn-solid owner_accept ok_btn ok_big uk-width-auto uk-margin-medium-bottom" value="{{ o.id }}">Одобрить</button>
                            <button type="button" class="btn btn-outline owner_reject nt_btn uk-width-auto" value="{{ o.id }}">Отклонить</button>
                        </div>

                        {% endif %}

                        {% if o.renterStatus == 'wait_for_finish' and app.session.get('logged_user').id == o.renterId %}
                        <div class="messenger__footerButtons">
                            <button type="button" uk-toggle="target: #renter_modal_{{ o.id }}" class="btn btn-solid ok_btn uk-width-auto">Завершить</button>
                        </div>

                        {% endif %}

                        {% if o.ownerStatus == 'wait_for_rent' and app.session.get('logged_user').id == o.userId %}
                        <div class="messenger__footerButtons">
                            <button type="button" uk-toggle="target: #owner_modal_{{ o.id }}" class="btn btn-solid ok_btn uk-width-auto">Завершить</button>
                        </div>

                        {% endif %}
                        <!-- ///Buttons -->

                    </div>
                {% endif %}
                <!-- /messenger messages -->

            </div>
            <!-- type here -->
            <div class="messenger__footer js-messenger-footer">

                <!-- messanger footer content -->
                {% set btm = 0 %}
                {% set btm_prog = 36 %}

                {% if o.ownerStatus in ['wait_for_accept','answered','wait_for_answer'] and app.session.get('logged_user').id == o.userId %}
                {% set btm = 65 %}
                {% set btm_prog = 101 %}
                {% endif %}

                {% if o.renterStatus == 'wait_for_pay' and app.session.get('logged_user').id == o.renterId %}
                {% set btm = 82 %}
                {% set btm_prog = 118 %}
                {% endif %}

                {% if app.session.get('logged_user').id == o.renterId %}
                <div id="js-attachfiles" class="attach-back-chat uk-card uk-card-default" hidden>
                    <button id="attach_files_clear" type="button" uk-close></button>
                    <b>Файлы для отправки: </b><br>
                    <div class="mp-list-files active" uk-grid></div>
                </div>

                <div style="position: fixed; bottom: {{ btm_prog }}px; width: 100%; z-index: 100; left:0;">
                    <progress id="js-progressbar" class="uk-progress" value="0" max="100" hidden></progress>
                </div>
                {% endif %}

                <div>
                    <div class="uk-grid uk-flex-middle uk-grid-small">

                        {% if app.session.get('logged_user').id == o.renterId %}
                        <div class="js-upload" uk-form-custom>
                            {# <input id="attach_files" type="file" name="atfiles[]" multiple data-allow="*.jpg" data-concurrent="5" data-id="{{ o.id }}"> #}
                            <input id="attach_files" type="file" multiple data-allow="*.jpg" data-concurrent="5" data-id="{{ o.id }}">
                            <button class="uk-button uk-button-link" type="button" tabindex="-1" style="padding: 0; color: #aaa">
                                <span class="uk-icon uk-icon-image" style="background-image: url('/assets/images/interface/attach.svg');"></span>
                            </button>
                        </div>
                        {% endif %}

                        <div class="uk-width-expand uk-flex uk-flex-middle msgb">
                            <textarea name="answer"
                                      class="uk-width-1-1 autoExpand message-input-field js-message-input-field"
                                      rows="1"
                                      data-min-rows="1"
                                      placeholder="Написать сообщение"></textarea>
                        </div>

                        <div class="uk-width-auto">
                            <button type="button"
                                    id="{{ app.session.get('logged_user').id == o.userId ? 'owner' : 'renter' }}_answer"
                                    class="snd_btn {{ app.session.get('logged_user').id == o.userId ? 'owner' : 'renter' }}_answer"
                                    value="{{ o.id }}"
                                    style="border: 0; color: #4629D3; background: transparent" disabled><i class="fa fa-send"></i></button>
                        </div>
                    </div>
                </div>
                <!-- /messanger footer content -->
            </div>
        </div>
        <!-- /chat -->
    </div>
</div>


{{ include('card/order_forms/owner_anketa.html.twig') }}
{{ include('card/order_forms/renter_anketa.html.twig') }}


{% endblock %}

