{% extends 'user/user_base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/image_upload_preview.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.maskedinput.js') }}"></script>
    <script src="{{ asset('assets/js/phone_validate.js') }}"></script>
    <script src="{{ asset('assets/js/order.js') }}"></script>
{% endblock %}

{% block bodyClass %}
    big_order_list
{% endblock %}

{% block content %}

    <h2>Заявки</h2>

<div class="">
                {% for o in orders %}
                    <div class="uk-margin-bottom">

                        <a class="uk-grid uk-grid-small" href="/user/order_page/{{ o.id }}">
                            <div style="width: 60px;">
                                {% set card = getcard(o.cardId) %}

                                {% if card %}
                                {% set main_foto = main_foto(card.getFotos) %}
                                {% endif %}

                                {% set bgrnd = 'white' %}

                                {% if main_foto  %}
                                    {% set bgrnd = 'url(/assets/images/cards/'~main_foto.folder~'/t/'~main_foto.id~'.jpg)' %}
                                {% elseif card.fotos[0] is defined %}
                                    {% set bgrnd = 'url(/assets/images/cards/'~card.fotos[0].folder~'/t/'~card.fotos[0].id~'.jpg)' %}
                                {% else %}
                                    {% set bgrnd = 'url(/assets/images/interface/no_image.jpg)' %}
                                {% endif %}

                                <div style="background: {{ bgrnd }} center center;background-size: cover;height: 60px;position: relative;">
                                </div>
                            </div>

                            <div class="uk-width-expand">
                                <div>{{ o.transport }}</div>
                                <div class="uk-text-small">{{ o.dateIn|date('d.m.Y') }} - {{ o.dateOut|date('d.m.Y') }}</div>
                            </div>
                        </a>
                    </div>
                {% endfor %}

            </div>


{% endblock %}

