{% extends 'user/user_base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('assets/css/simplebar.css') }}" rel="stylesheet">
<link href="{{ asset('assets/css/alex/user/user-orders-list.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('assets/js/simplebar.min.js') }}"></script>
<script src="{{ asset('assets/js/image_upload_preview.js') }}"></script>
<script src="{{ asset('assets/js/jquery.maskedinput.js') }}"></script>
<script src="{{ asset('assets/js/phone_validate.js') }}"></script>
<script src="{{ asset('assets/js/order.js') }}"></script>
{% endblock %}

{% block bodyClass %}
big_order_list
{% endblock %}

{% block content %}

<div class="uk-container">

    <div class="chat-layout">

        <!-- SideBar -->
        <div class="chat-sidebar">
            <div class="uk-height-1-1 uk-flex uk-flex-column hide-scrollbar chat-sidebar-inner" data-simplebar>

                <ul class="uk-tab-left contacts-list" uk-tab="connect: #component-tab-left; animation: uk-animation-fade">
                    {% for o in orders %}

                    {% set url = '/assets/images/users/t/user_'~o.renterId~'.jpg' %}

                    {% if( app.session.get('logged_user').id == o.renterId) %}
                        {% set url = '/assets/images/users/t/user_'~o.userId~'.jpg' %}
                    {% endif %}

                    {% if not file_exists('.'~url) %}
                        {% set url = '/assets/images/interface/default-user.png' %}
                    {% endif %}

                    {% set card = getcard(o.cardId) %}
                    {% set rightuser = getuser(o.userId) %}
                    {% set rating = o.ownerRating %}

                    {% if app.session.get('logged_user').id == o.userId %}
                        {% set rightuser = getuser(o.renterId) %}
                        {% set rating = o.renterRating %}
                    {% endif %}

                    <li class="contacts-item">
                        <a class="contacts-link" href="javascript:;">
                            <div class="avatar">
                                <img src="{{ url }}" alt="">

                                {% if o.ownerStatus == 'wait_for_accept' and app.session.get('logged_user').id == o.renterId %}
                                <div class="contacts-order-notify secondary">
                                    <span class="uk-icon uk-icon-image" style="background-image: url('/assets/images/icons/order-list/chat-icon_awaiting.svg');"></span>
                                </div>
                                {% endif %}

                                {% if o.ownerStatus == 'wait_for_accept' and app.session.get('logged_user').id == o.userId %}
                                <div class="contacts-order-notify secondary">
                                    <span class="uk-icon uk-icon-image" style="background-image: url('/assets/images/icons/order-list/chat-icon_awaiting.svg');"></span>
                                </div>
                                {% endif %}

                                {#---- after accept#}

                                {% if o.renterStatus == 'wait_for_pay' and app.session.get('logged_user').id == o.renterId %}
                                <div class="contacts-order-notify secondary">
                                    <span uk-icon="credit-card"></span>
                                </div>
                                {% endif %}

                                {% if o.ownerStatus == 'accepted' and app.session.get('logged_user').id == o.userId %}
                                <div class="contacts-order-notify secondary">
                                    <span uk-icon="credit-card"></span>
                                </div>
                                {% endif %}

                                {#---- after payment#}

                                {% if o.renterStatus == 'wait_for_finish' and app.session.get('logged_user').id == o.renterId %}
                                <div class="contacts-order-notify success">
                                    <span uk-icon="happy"></span>
                                </div>
                                {% endif %}

                                {% if o.ownerStatus == 'wait_for_rent' and app.session.get('logged_user').id == o.userId %}
                                <div class="contacts-order-notify success">
                                    <span uk-icon="credit-card"></span>
                                </div>
                                {% endif %}

                                {#---- after pincode#}

                                {% if o.renterStatus == 'rent_in_process' and app.session.get('logged_user').id == o.renterId %}
                                <div class="contacts-order-notify danger">
                                    <span uk-icon="future"></span>
                                </div>
                                {% endif %}

                                {% if o.ownerStatus == 'rent_in_process' and app.session.get('logged_user').id == o.userId %}
                                <div class="contacts-order-notify danger">
                                    <span uk-icon="future"></span>
                                </div>
                                {% endif %}

                                {#----- messages#}
                                {% if o.renterStatus == 'wait_for_answer' and app.session.get('logged_user').id == o.renterId %}
                                <div class="contacts-order-notify primary">
                                    <span class="uk-icon uk-icon-image" style="background-image: url('/assets/images/icons/order-list/chat-icon_message.svg');"></span>
                                </div>
                                {% endif %}

                                {% if o.ownerStatus == 'wait_for_answer' and app.session.get('logged_user').id == o.userId %}
                                <div class="contacts-order-notify primary">
                                    <span class="uk-icon uk-icon-image" style="background-image: url('/assets/images/icons/order-list/chat-icon_message.svg');"></span>
                                </div>
                                {% endif %}

                                {#----- rejected#}
                                {% if o.renterStatus == 'rejected' and app.session.get('logged_user').id == o.renterId %}
                                <div class="contacts-order-notify danger">
                                    <span uk-icon="ban"></span>
                                </div>
                                {% endif %}

                                {% if o.ownerStatus == 'rejected' and app.session.get('logged_user').id == o.userId %}
                                <div class="contacts-order-notify danger">
                                    <span uk-icon="ban"></span>
                                </div>
                                {% endif %}
                            </div>

                            <div class="contacts-content">
                                <div class="contacts-info">
                                    <h6 class="chat-name uk-text-truncate">{{ rightuser.header is defined ? rightuser.header}}</h6>
                                    <div class="chat-time">
                                        {% if o.messages != '' %}
                                            {% for m in jsond(o.messages) %}
                                                {% if loop.last %}
                                                    {{ m.date }} {{ m.time }}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="contacts-texts">
                                    <p class="uk-text-truncate">
                                        {% if o.ownerStatus == 'wait_for_accept' and app.session.get('logged_user').id == o.renterId %}
                                        <span class="message-status blue">Ожидает одобрения</span>
                                        {% endif %}

                                        {% if o.ownerStatus == 'wait_for_accept' and app.session.get('logged_user').id == o.userId %}
                                        <span class="message-status blue">Ожидает одобрения</span>
                                        {% endif %}

                                        {#---- after accept#}

                                        {% if o.renterStatus == 'wait_for_pay' and app.session.get('logged_user').id == o.renterId %}
                                        <span class="message-status blue">Ожидает оплаты</span>
                                        {% endif %}

                                        {% if o.ownerStatus == 'accepted' and app.session.get('logged_user').id == o.userId %}
                                        <span class="message-status blue">Ожидает оплаты</span>
                                        {% endif %}

                                        {#---- after payment#}

                                        {% if o.renterStatus == 'wait_for_finish' and app.session.get('logged_user').id == o.renterId %}
                                        <span class="message-status green">Заявка оплачена</span>
                                        {% endif %}

                                        {% if o.ownerStatus == 'wait_for_rent' and app.session.get('logged_user').id == o.userId %}
                                        <span class="message-status green">Заявка оплачена</span>
                                        {% endif %}

                                        {#---- after pincode#}

                                        {% if o.renterStatus == 'rent_in_process' and app.session.get('logged_user').id == o.renterId %}
                                        <span class="message-status red">Идет аренда</span>
                                        {% endif %}

                                        {% if o.ownerStatus == 'rent_in_process' and app.session.get('logged_user').id == o.userId %}
                                        <span class="message-status red">Идет аренда</span>
                                        {% endif %}

                                        {#----- messages#}
                                        {% if o.renterStatus == 'wait_for_answer' and app.session.get('logged_user').id == o.renterId %}
                                        <span class="message-status red">Есть ответ</span>
                                        {% endif %}

                                        {% if o.ownerStatus == 'wait_for_answer' and app.session.get('logged_user').id == o.userId %}
                                        <span class="message-status red">Есть ответ</span>
                                        {% endif %}

                                        {#----- rejected#}
                                        {% if o.renterStatus == 'rejected' and app.session.get('logged_user').id == o.renterId %}
                                        <span class="message-status red">Заявка отклонена</span>
                                        {% endif %}

                                        {% if o.ownerStatus == 'rejected' and app.session.get('logged_user').id == o.userId %}
                                        <span class="message-status red">Заявка отклонена</span>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>

            </div>
        </div>

        <!-- Main -->
        <div class="chat-main">
            <div class="uk-height-1-1 uk-width-1-1 uk-flex uk-flex-column chat-main-inner">
                <ul id="component-tab-left" class="uk-switcher uk-height-1-1 uk-width-1-1 uk-flex uk-flex-column chats">
                    {% for o in orders %}


                    {% set user = getuser(o.userId) %}
                    {% if app.session.get('logged_user').id == o.userId %}
                        {% set user = getuser(o.renterId) %}
                    {% endif %}

                    {% set rightuser = getuser(o.userId) %}
                    {% set rating = o.ownerRating %}
                    {% if app.session.get('logged_user').id == o.userId %}
                        {% set rightuser = getuser(o.renterId) %}
                        {% set rating = o.renterRating %}
                    {% endif %}

                    <li class="uk-height-1-1 uk-width-1-1">
                        <div class="chat-body uk-height-1-1 uk-width-1-1">
                            <div class="chat-header">
                                <div class="media chat-name align-items-center uk-text-truncate">
                                    <div class="media-body align-self-center">
                                        <p class="uk-text-small uk-text-truncate uk-text-muted uk-margin-small-bottom">Ваш запрос: <a class="link-underline small" href="javascript:;">{{ o.transport }}</a>, {{ o.dateIn|date('d.m.Y') }} - {{ o.dateOut|date('d.m.Y') }}</p>
                                        <p class="uk-text-small uk-text-truncate uk-text-muted uk-margin-remove">
                                            <span class="uk-margin-right">Заявка №{{ o.id }}</span>
                                            <span>Оплата производится через партнера: <a href="javascript:;" class="link-underline small">Mandarin Pay</a></span>
                                        </p>
                                    </div>
                                </div>

                                <div class="chat-header-surface">
                                    <span class="uk-icon uk-icon-image uk-margin-small-right" style="background-image: url('/assets/images/icons/order-list/chat-header_surface.svg');"></span> Безопасная сделка
                                </div>
                            </div>
                            <div class="chat-content hide-scrollbar">
                                <div>
                                    <ul class="uk-comment-list chat-messages-list">

                                    {% for m in jsond(o.messages) %}

                                    <!-- message settings -->
                                    {% set dir = 'left' %}

                                    {% if app.session.get('logged_user').id == o.userId and m.from == 'owner' %}
                                    {% set dir = 'right' %}
                                    {% endif %}

                                    {% if app.session.get('logged_user').id == o.userId and m.from == 'renter' %}
                                    {% set dir = 'left' %}
                                    {% endif %}

                                    {% if app.session.get('logged_user').id == o.renterId and m.from == 'renter' %}
                                    {% set dir = 'right' %}
                                    {% endif %}

                                    {% if app.session.get('logged_user').id == o.renterId and m.from == 'owner' %}
                                    {% set dir = 'left' %}
                                    {% endif %}

                                    {% if m.from == 'system' or m.from == 'system_renter' or m.from == 'system_owner' %}
                                    {% set dir = 'system' %}
                                    {% endif %}

                                    {% if m.from == 'system_ok' %}
                                    {% set dir = 'system_ok' %}
                                    {% endif %}

                                    {% if (dir == 'left') or (dir == 'right') %}

                                    {% set url = '/assets/images/users/t/user_'~o.renterId~'.jpg' %}

                                    {% if(m.from == 'owner') %}
                                    {% set url = '/assets/images/users/t/user_'~o.userId~'.jpg' %}
                                    {% endif %}

                                    {% if not file_exists('.'~url) %}
                                    {% set url = '/assets/images/interface/default-user.png' %}
                                    {% endif %}

                                    {% endif %}
                                    <!-- /message settings -->

                                    <li class="message-{{ dir }}">

                                        <div class="uk-grid-small" uk-grid>
                                            {% if (dir == 'left') or (dir == 'right') %}
                                            <div class="uk-width-auto">
                                                <div
                                                        class="uk-background-cover uk-overflow-hidden uk-border-circle message-avatar"
                                                        style="background-image: url('{{ url }}'); width: 50px; height: 50px;"
                                                >
                                                </div>
                                            </div>
                                            {% endif %}

                                            <div class="uk-width-expand">
                                                <div class="message-box">
                                                    {% if (dir == 'left') or (dir == 'right') %}
                                                    <div class="uk-comment-meta">
                                                        <a class="uk-link-reset" href="/user/{{  m.from == 'owner' ? o.userId : o.renterId }}">
                                                            {% if dir == 'left' %}{{ rightuser.header }}{% endif %}
                                                            {% if dir == 'right' %}{{ app.session.get('logged_user').header }}{% endif %}
                                                        </a>
                                                    </div>
                                                    {% endif %}
                                                    <div class="message-body">{{ m.message|raw }}</div>
                                                    <div class="uk-comment-meta uk-text-right">
                                                        {{ m.date }} {{ m.time }}
                                                    </div>
                                                </div>
                                            </div>

                                        </div>



                                    </li>
                                    {% endfor %}
                                </ul>
                                </div>
                            </div>
                            <div class="chat-footer ord_content">

                                <!-- Buttons -->
                                {% if o.renterStatus == 'wait_for_pay' and app.session.get('logged_user').id == o.renterId %}
                                <div class="control-buttons">
                                    <a href="/pay_for_order/{{ o.id }}" class="uk-button uk-button-primary ok_btn">Оплатить бронирование: {{ o.reservation }}</b> <i class="fa fa-ruble"></i></a>
                                </div>
                                <style>.chat-body .chat-content {padding-bottom: 100px;}</style>
                                {% endif %}


                                {% if o.ownerStatus in ['wait_for_accept','answered','wait_for_answer'] and app.session.get('logged_user').id == o.userId %}
                                <div class="control-buttons">
                                    <button type="button" class="uk-button uk-button-primary owner_accept ok_btn ok_big uk-width-auto uk-margin-small-right" value="{{ o.id }}">Одобрить</button>
                                    <button type="button" class="uk-button uk-button-default owner_reject nt_btn uk-width-auto uk-margin-small-left" value="{{ o.id }}">Отклонить</button>
                                </div>
                                <style>.chat-body .chat-content {padding-bottom: 100px;}</style>
                                {% endif %}

                                {% if o.renterStatus == 'wait_for_finish' and app.session.get('logged_user').id == o.renterId %}
                                <div class="control-buttons">
                                    <button type="button" uk-toggle="target: #renter_modal_{{ o.id }}" class="uk-button uk-button-primary ok_btn uk-width-auto">Завершить</button>
                                </div>
                                <style>.chat-body .chat-content {padding-bottom: 100px;}</style>
                                {% endif %}

                                {% if o.ownerStatus == 'wait_for_rent' and app.session.get('logged_user').id == o.userId %}
                                <div class="control-buttons">
                                    <button type="button" uk-toggle="target: #owner_modal_{{ o.id }}" class="uk-button uk-button-primary ok_btn uk-width-auto">Завершить</button>
                                </div>
                                <style>.chat-body .chat-content {padding-bottom: 100px;}</style>
                                {% endif %}
                                <!-- ///Buttons -->


                                <div class="uk-grid-small uk-flex-middle" uk-grid>
                                    <div class="uk-width-auto">
                                        <span uk-icon="upload"></span>
                                    </div>

                                    <div class="uk-width-expand msgb">
                                        <textarea name="answer" class="uk-width-1-1 autoExpand chat-textarea-answer" placeholder="Написать сообщение"></textarea>
                                    </div>

                                    <div class="uk-width-auto">
                                        <button type="button" class="{{ app.session.get('logged_user').id == o.userId ? 'owner' : 'renter' }}_answer snd_btn uk-icon-button uk-icon" value="{{ o.id }}"><i class="fa fa-send"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ include('card/order_forms/owner_anketa.html.twig') }}
                        {{ include('card/order_forms/renter_anketa.html.twig') }}
                    </li>

                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>



</div>
{% endblock %}

