{% extends 'user/user_base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/image_upload_preview.js') }}"></script>
    {# <script src="{{ asset('assets/js/jquery.maskedinput.js') }}"></script>
    <script src="{{ asset('assets/js/phone_validate.js') }}"></script> #}
    <script src="{{ asset('assets/js/common.js') }}"></script>
    <script src="{{ asset('assets/js/inputmask.min.js') }}"></script>
    <script src="{{ asset('assets/js/country.js') }}"></script>
{% endblock %}

{% block content %}
    <h1>{{ app.session.get('logged_user').whois == 'new_renter' ? 'Заполните профиль!' : 'Мой профиль' }}</h1>

    {% if user.isNew == 0 %}
        <form action="/user_go_new" class="uk-margin-large-bottom padding20 bg_white bordered" method="POST">
            <div class="uk-margin-bottom">
                Мультипрокат предлагает вам перейти на новую систему заказов,<br>
                а также получить  PRO аккаунт - Бесплатно!<br>
                PRO аккаунт подтверждает вашу деятельность и дает больше клиентов.<br><br>

                PRO аккаунт действует бессрочно и дает больше возможностей, в том числе: размещать больше объявлений и получать больше звонков от клиентов
            </div>

            <div class="uk-margin-bottom">
                <label>Я ознакомлен и согласен с условиями
                    <a class="underline" href="/assets/docs/oferta.pdf" target="_blanc" uk-tooltip="title:откроется в новом окне">оферты</a>
                    <input checked name="oferta_check" type="checkbox">
                </label>
            </div>
            <div class="uk-margin-bottom">
                <label>Активировать бесплатно PRO аккаунт
                    <input checked name="pro_check" type="checkbox">
                </label>
            </div>
            <input type="hidden" name="id" value="{{ user.id }}">
            <button class="uk-button uk-button-primary">Перейти</button>
        </form>
    {% endif %}


    {% set phone = '' %}
    {% set website = '' %}
    {% set foto = '' %}
    {% set about = '' %}

    {% set vk = '' %}
    {% set fb = '' %}
    {% set ig = '' %}
    {% set ok = '' %}
    {% set tw = '' %}
    {% set gp = '' %}
    {% set yt = '' %}

    {% for info in user.information %}
        {% if info.uiKey == 'phone' %}
            {% set phone = info.uiValue %}
        {% endif %}
        {% if info.uiKey == 'website' %}
            {% set website = info.uiValue %}
        {% endif %}
        {% if info.uiKey == 'foto' %}
            {% set foto = info.uiValue %}
        {% endif %}
        {% if info.uiKey == 'about' %}
            {% set about = info.uiValue %}
        {% endif %}

        {% if info.uiKey == 'vk' %}
            {%  set vk = info.uiValue %}
        {% endif %}
        {% if info.uiKey == 'fb' %}
            {%  set fb = info.uiValue %}
        {% endif %}
        {% if info.uiKey == 'ig' %}
            {%  set ig = info.uiValue %}
        {% endif %}
        {% if info.uiKey == 'ok' %}
            {%  set ok = info.uiValue %}
        {% endif %}
        {% if info.uiKey == 'tw' %}
            {%  set tw = info.uiValue %}
        {% endif %}
        {% if info.uiKey == 'gp' %}
            {%  set gp = info.uiValue %}
        {% endif %}
        {% if info.uiKey == 'yt' %}
            {%  set yt = info.uiValue %}
        {% endif %}

    {% endfor %}


    <div class="" style="margin-bottom: 300px">
        <div uk-grid>
            <div class="uk-width-2-3@s">

                {% if user.header=='' or user.email=='' or phone == '' %}
                    <div style="background: white;padding: 20px;margin-bottom: 30px">
                        <span style="color:red;font-weight: bold">Пожалуйста</span>
                        заполните имя, email, и мобильный номер.<br>
                        Это нужно для автоматических уведомлений от сайта.<br>
                        Данные не предоставляются третьим лицам.
                    </div>
                {% endif %}

                <form action="/profile/save" class="uk-form-stacked" id="save_profile" method="POST">
                    <fieldset class="uk-fieldset">

                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-stacked-text">{% trans %}Имя{% endtrans %}</label>
                            <div class="uk-form-controls uk-width-1-1">
                                <input name="header" value="{{ user.header }}" class="uk-input" type="text" required>
                            </div>
                        </div>

                        {# <div>{% trans %}Имя{% endtrans %}: <input name="header" value="{{ user.header }}" class="uk-input"></div> #}
                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-stacked-text">Email</label>
                            <div class="uk-form-controls uk-width-1-1">
                                <input name="email" value="{{ user.email }}" class="uk-input" type="text" required>
                            </div>
                        </div>
                        {# <div>Email: <input name="email" value="{{ user.email }}" class="uk-input"></div> #}
                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-stacked-text">{% trans %}Телефон{% endtrans %}</label>
                            <div class="uk-inline uk-form-controls uk-width-1-1">
                                <a class="uk-form-icon" href="#modal-phone-edit" uk-icon="icon: pencil" uk-toggle></a>
                                <input class="uk-input" type="text" value="{{ phone }}" disabled>
                            </div>
                        </div>
                        {#<div>Website: <input name="info[website]" value="{{ website }}" class="uk-input"></div>#}
                        {#<div>{% trans %}Кратко о себе/компании{% endtrans %}: <textarea name="info[about]" class="uk-textarea">{{ about }}</textarea></div>#}


                        <div class="uk-hidden">
                            <h2>{% trans %}Ссылки на соцсети{% endtrans %}</h2>

                            <div>Вконтакте:
                                <input name="info[vk]" value="{{ vk }}" class="uk-input"></div>
                            <div>Facebook:
                                <input name="info[fb]" value="{{ fb }}" class="uk-input"></div>
                            <div>Instagram:
                                <input name="info[ig]" value="{{ ig }}" class="uk-input"></div>
                            <div>Одноклассники:
                                <input name="info[ok]" value="{{ ok }}" class="uk-input"></div>
                            <div>Twitter:
                                <input name="info[tw]" value="{{ tw }}" class="uk-input"></div>
                            <div>Google+:
                                <input name="info[gp]" value="{{ gp }}" class="uk-input"></div>
                            <div>Youtube:
                                <input name="info[yt]" value="{{ yt }}" class="uk-input"></div>
                        </div>
                        <input type="hidden" name="back_url" value="{{ user.tempPassword }}">
                        <button class="uk-button uk-button-primary uk-margin-top">{% trans %}Сохранить{% endtrans %}</button>
                    </fieldset>
                </form>
            </div>
            <div class="uk-width-1-3@s {{ app.session.get('logged_user').whois == 'new_renter' ? 'uk-hidden' }}">
                <div class="uk-position-relative">
                    {% if foto != '' %}
                        <img alt="" src="/assets/images/users/t/{{ foto }}.jpg" style="height: 150px">
                        <button class="c_white bg_red uk-position-top-left" form="profile_foto_upload" name="delete">
                            <i class="fa fa-close"></i>
                        </button>
                    {% endif %}

                </div>
                <form action="/profile/saveFoto" enctype="multipart/form-data" id="profile_foto_upload" method="POST">
                    {% trans %}Фото{% endtrans %}:
                    <input id="foto_upload" name="foto" type="file">
                    <div class="uk-grid-small" id="foto_list_view" uk-grid></div>
                    <input type="hidden" name="user_id" value="{{ user.id }}">
                    <button class="uk-button uk-button-primary uk-margin-top">{% trans %}Сохранить{% endtrans %}</button>
                </form>
            </div>


        </div>
    </div>

    <div id="modal-phone-edit" uk-modal="bg-close:false">
        <div class="uk-modal-dialog uk-modal-body">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <h2 class="uk-modal-title">Новый номер телефона</h2>
            <form >

                    <div class="uk-grid" uk-grid>
                        <div class=" uk-width-1-1 uk-width-auto@s uk-inline">
                            <div uk-form-custom="target: > * > span:last-child">
                                <select class="country-select" name="country">
                                    <option data-code="+7" data-filter="(999) 999-99-99" data-pattern="^\(\d{3}\)\s\d{3}[-]\d{2}[-]\d{2}$" data-plshold="(###)###-##-##" selected value="RU">Россия</option>
                                    {# {% for countr in country %}
                                                                                                                                            <option value="2">Абхазия</option>
                                                                                                                                        {% endfor %} #}

                                    <option data-code="+7 840" data-filter="999-99-99" data-pattern="^\d{3}[-]\d{2}[-]\d{2}$" data-plshold="###-##-##" value="AB">Абхазия</option>
                                    <option data-code="+7" data-filter="(999) 999-99-99" data-pattern="^\(\d{3}\)\s\d{3}[-]\d{2}[-]\d{2}$" data-plshold="(###)###-##-##" value="KZ">Казахстан</option>
                                    <option data-code="+380" data-filter="(99) 999-99-99" data-pattern="^\(\d{2}\)\s\d{3}[-]\d{2}[-]\d{2}$" data-plshold="(##)###-##-##" value="UK">Украина</option>
                                    <option data-code="+1" data-filter="(999) 999-99-999" data-pattern="^\(\d{3}\)\s\d{3}[-]\d{2}[-]\d{3}$" data-plshold="(###)###-##-###" value="US">США</option>
                                </select>
                                <span class="uk-link">
                                    <span uk-icon="icon: pencil"></span>
                                    <span></span>
                                </span>
                            </div>
                        </div>
                        <div class=" uk-width-1-1 uk-width-expand@s">
                            <div class="uk-inline uk-width-expand">
                                <span class="uk-form-icon mp-country-code mp-form-span">+7</span>
                                <input class="uk-input mp-country-phone" name="phone" pattern="^\(\d{3}\)\s\d{3}[-]\d{2}[-]\d{2}$" placeholder="(###)###-##-##" required type="tel">
                            </div>
                        </div>
                    </div>

                    <div class="uk-margin-top">
                        <button class="uk-button uk-button-primary" id="btn-pes-1">Отправить СМС с кодом</button>
                    </div>
            </form>
        </div>
    </div>

    <div id="modal-phone-edit_code" class="uk-modal" uk-modal bg-close="false">
        <div class="uk-modal-dialog uk-modal-body">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <h2 class="uk-modal-title">Подтверждение</h2>
            <form >
                <div>
                    <input type="text" name="regcode" class="uk-input" placeholder="пароль из СМС">
                </div>
                <div class="uk-margin-top">
                    <button class="uk-button uk-button-primary" id="btn-pes-2">Подтвердить смену телефона</button>
                </div>
            </form>
        </div>
    </div>

</div>{% endblock %}
