{% extends 'user/user_base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
    <link href="{{ asset('assets/css/auto-complete.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/alex/profile/profile-main.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('assets/js/image_upload_preview.js') }}"></script>
{# <script src="{{ asset('assets/js/jquery.maskedinput.js') }}"></script>
<script src="{{ asset('assets/js/phone_validate.js') }}"></script> #}
<script src="{{ asset('assets/js/common.js') }}"></script>
<script src="{{ asset('assets/js/inputmask.min.js') }}"></script>
<script src="{{ asset('assets/js/country.js') }}"></script>
    <script src="{{ asset('assets/js/city_general_mark_selector.js') }}"></script>
    <script src="{{ asset('assets/js/showCard.js') }}"></script>
    <script src="{{ asset('assets/js/left_selector.js') }}"></script>
    <script src="{{ asset('assets/js/recapthcha_validate.js') }}"></script>

{% endblock %}

{% block content %}

{% if user.isNew == 0 %}
<form action="/user_go_new" class="uk-margin-large-bottom padding20 bg_white bordered" method="POST">
    <div class="uk-margin-bottom">
        Мультипрокат предлагает вам перейти на новую систему заказов,<br>
        а также получить  PRO аккаунт - Бесплатно!<br>
        PRO аккаунт подтверждает вашу деятельность и дает больше клиентов.<br><br>

        PRO аккаунт действует бессрочно и дает больше возможностей, в том числе: размещать больше транспорта и получать больше звонков от клиентов
    </div>

    <div class="uk-margin-bottom">
        <label>Я ознакомлен и согласен с условиями
            <a class="underline" href="/assets/docs/oferta.pdf" target="_blanc" uk-tooltip="title:откроется в новом окне">оферты</a>
            <input checked name="oferta_check" type="checkbox">
        </label>
    </div>
    <div class="uk-margin-bottom">
        <label>Активировать бесплатно PRO аккаунт
            <input checked name="pro_check" type="checkbox">
        </label>
    </div>
    <input type="hidden" name="id" value="{{ user.id }}">
    <button class="uk-button uk-button-primary">Перейти</button>
</form>
{% endif %}

{% set phone = '' %}
{% set website = '' %}
{% set foto = '' %}
{% set about = '' %}

{% set vk = '' %}
{% set fb = '' %}
{% set ig = '' %}
{% set ok = '' %}
{% set tw = '' %}
{% set gp = '' %}
{% set yt = '' %}

{% for info in user.information %}
{% if info.uiKey == 'phone' %}
{% set phone = info.uiValue %}
{% endif %}
{% if info.uiKey == 'website' %}
{% set website = info.uiValue %}
{% endif %}
{% if info.uiKey == 'foto' %}
{% set foto = info.uiValue %}
{% endif %}
{% if info.uiKey == 'about' %}
{% set about = info.uiValue %}
{% endif %}

{% if info.uiKey == 'vk' %}
{%  set vk = info.uiValue %}
{% endif %}
{% if info.uiKey == 'fb' %}
{%  set fb = info.uiValue %}
{% endif %}
{% if info.uiKey == 'ig' %}
{%  set ig = info.uiValue %}
{% endif %}
{% if info.uiKey == 'ok' %}
{%  set ok = info.uiValue %}
{% endif %}
{% if info.uiKey == 'tw' %}
{%  set tw = info.uiValue %}
{% endif %}
{% if info.uiKey == 'gp' %}
{%  set gp = info.uiValue %}
{% endif %}
{% if info.uiKey == 'yt' %}
{%  set yt = info.uiValue %}
{% endif %}

{% endfor %}

<div class="uk-container uk-margin-large-bottom">

{#    {% if user.isNew == 0 %}#}
{#    <form action="/user_go_new" class="uk-margin-large-bottom padding20 bg_white bordered" method="POST">#}
{#        <div class="uk-margin-bottom">#}
{#            Мультипрокат предлагает вам перейти на новую систему заказов,<br>#}
{#            а также получить  PRO аккаунт - Бесплатно!<br>#}
{#            PRO аккаунт подтверждает вашу деятельность и дает больше клиентов.<br><br>#}

{#            PRO аккаунт действует бессрочно и дает больше возможностей, в том числе: размещать больше транспорта и получать больше звонков от клиентов#}
{#        </div>#}

{#        <div class="uk-margin-bottom">#}
{#            <label>Я ознакомлен и согласен с условиями#}
{#                <a class="underline" href="/assets/docs/oferta.pdf" target="_blanc" uk-tooltip="title:откроется в новом окне">оферты</a>#}
{#                <input checked name="oferta_check" type="checkbox">#}
{#            </label>#}
{#        </div>#}
{#        <div class="uk-margin-bottom">#}
{#            <label>Активировать бесплатно PRO аккаунт#}
{#                <input checked name="pro_check" type="checkbox">#}
{#            </label>#}
{#        </div>#}
{#        <input type="hidden" name="id" value="{{ user.id }}">#}
{#        <button class="uk-button uk-button-primary">Перейти</button>#}
{#    </form>#}
{#    {% endif %}#}

    <div class="uk-grid-medium" uk-grid>
        <div class="uk-width-1-1 uk-width-1-4@m">
            {% if app.session.get('logged_user').accountTypeId == 0 %}
            <div class="uk-h4">{% trans %}Ваш аккаунт{% endtrans %}: <span class="uk-text-danger">{% trans %}стандартный{% endtrans %}</span></div>
            <p class="uk-text-muted">{% trans %}Вы можете разместить не более 2-х транспортов{% endtrans %}</p>
            <a href="/userPayPro/{{ app.session.get('logged_user').id }}" class="uk-button button button-outline-primary button-lg uk-width-1-1 uk-padding-remove-horizontal">
                <span class="uk-icon uk-icon-image" style="background-image: url('/assets/images/icons/medal-pro-icon.svg'); width: 24px; height: 24px"></span>
                <span>{% trans %}Купить PRO аккаунт{% endtrans %}</span>
            </a>

            <div class="uk-margin-top">
                {% trans %}PRO аккаунт действует бессрочно и дает возможность сдавать больше транспорта в аренду{% endtrans %}
            </div>
            {% else %}
            {% trans %}Ваш аккаунт{% endtrans %}: <img src="/assets/images/interface/fb3.svg" alt="" style="width: 16px"><span class="c_red uk-text-bold">PRO</span>
            <div class="uk-margin-top">{% trans %}Вы можете разместить неограниченное количество транспорта{% endtrans %}</div>
            {% endif %}
        </div>

        <div class="uk-width-1-1 uk-width-3-4@m">
            <!-- new profile -->
            <div class="uk-grid-medium uk-child-width-1-1" uk-grid>
                <div>
                    <h1 class="uk-h2">{{ app.session.get('logged_user').whois == 'new_renter' ? 'Заполните профиль!' : 'Мой профиль' }}</h1>
                </div>
            </div>
            <div class="uk-grid-medium" uk-grid>

                <div class="uk-width-1-1 uk-width-auto@m">

                    <div class="uk-margin-auto uk-panel uk-background-cover uk-background-norepeat uk-overflow-hidden uk-border-circle avatar-profile"
                         style="{% if foto|length %}background-image: url('/assets/images/users/t/{{ foto }}.jpg');{% else %}background-image: url('/assets/images/icons/user.svg'); border: 1px solid #cecece;{% endif %}">
                        <a href="#modal-avatar-upload" class="edit-toggle uk-position-cover uk-overlay-default uk-flex uk-flex-column uk-flex-center uk-flex-middle uk-text-center uk-border-circle edit-avatar" hidden uk-toggle>
                            <span class="uk-icon uk-icon-image edit-avatar__icon" style="background-image: url('/assets/images/icons/camera.svg');"></span>
                            <span class="uk-margin-small-top uk-visible@m">{% trans %}Изменить фото{% endtrans %}</span>
                        </a>
                    </div>
                </div>

                <div class="uk-width-1-1 uk-width-expand@m">
                    <h2 class="uk-margin-small-bottom uk-text-center uk-text-left@m">{{ user.header }}</h2>

                    <div class="uk-grid-small uk-child-width-1-1 uk-child-width-auto@m uk-flex uk-flex-between uk-flex-middle uk-margin-bottom" uk-grid>
                        <div class="rating uk-flex-center uk-flex-left@m">
                            <div class="rating-list">
                                <div class="rating-item"><span class="rating-icon{% if (total_stars >= 1) %} rating-icon_active{% endif %}"></span></div>
                                <div class="rating-item"><span class="rating-icon{% if (total_stars >= 2) %} rating-icon_active{% endif %}"></span></div>
                                <div class="rating-item"><span class="rating-icon{% if (total_stars >= 3) %} rating-icon_active{% endif %}"></span></div>
                                <div class="rating-item"><span class="rating-icon{% if (total_stars >= 4) %} rating-icon_active{% endif %}"></span></div>
                                <div class="rating-item"><span class="rating-icon{% if (total_stars == 5) %} rating-icon_active{% endif %}"></span></div>
                            </div>
                            <span class="uk-text-muted uk-margin-small-left">({{ user.opinions|length }})</span>
                        </div>
                        <div class="uk-text-muted uk-text-center uk-text-right@m">Заработано: {{ totalSum }} ₽</div>
                        <div class="uk-text-muted uk-text-center uk-text-right@m">Cделок: {{ totalOrd }} </div>
                    </div>

                    <div class="uk-hr"></div>

                    <div class="uk-flex uk-flex-wrap uk-flex-between uk-flex-top edit-toggle">

                        <div class="uk-width-1-1 uk-width-2-3@m uk-width-1-2@l">
                            <ul class="uk-list uk-list-small uk-margin-remove uk-column-1-1">
                                <li class="uk-flex uk-flex-between uk-flex-left@m"><span class="uk-text-muted">{% trans %}Телефон{% endtrans %}<span class="uk-visible@m">:</span></span>&nbsp;{{ phone }}</li>
                                <li class="uk-flex uk-flex-between uk-flex-left@m"><span class="uk-text-muted">{% trans %}E-Mail{% endtrans %}<span class="uk-visible@m">:</span></span>&nbsp;{{ user.email }}</li>
                                <li class="uk-flex uk-flex-between uk-flex-left@m"><span class="uk-text-muted">{% trans %}Город{% endtrans %}<span class="uk-visible@m">:</span></span>&nbsp;{% trans %}Москва{% endtrans %}</li>
                            </ul>
                        </div>

                        <div class="uk-width-auto uk-visible@m">
                            <a href="javascript:;" class="uk-link uk-flex-inline uk-flex-middle" uk-toggle="target: .edit-toggle">
                                <span class="uk-icon uk-icon-image uk-margin-small-right" style="background-image: url('/assets/images/icons/edit.svg'); width: 22px; height: 22px;"></span>
                                {% trans %}Редактировать профиль{% endtrans %}
                            </a>
                        </div>

                        <div class="uk-width-1-1 uk-padding uk-padding-remove-horizontal uk-padding-remove-bottom uk-hidden@m">
                            <a href="javascript:;" class="uk-button button button-outline-primary button-lg uk-width-1-1 uk-padding-remove-horizontal" uk-toggle="target: .edit-toggle">
                                <span class="uk-icon uk-icon-image uk-margin-small-right" style="background-image: url('/assets/images/icons/edit.svg'); width: 22px; height: 22px;"></span>
                                {% trans %}Редактировать профиль{% endtrans %}
                            </a>
                        </div>

                    </div>


                    <!-- edit -->
                    <form action="/profile/save" class="uk-form-stacked uk-flex uk-flex-between uk-flex-top edit-toggle" id="save_profile" method="post" hidden>
                        <div class="uk-grid-row-collapse" uk-grid>
                        <div class="uk-width-1-1 uk-width-3-5@m">
                            <div class="uk-grid-row-collapse  uk-child-width-1-1" uk-grid>

                                <div>
                                    <div class="mat-group {% if user.header|length %}is-completed{% endif %}">
                                        <label class="mat-label">{% trans %}Имя{% endtrans %}</label>
                                        <input class="mat-input" id="form-profile-name" name="header" type="text" value="{{ user.header }}" required>
                                    </div>
                                </div>

                                <div>
                                    <div class="mat-group {% if user.email|length %}is-completed{% endif %}">
                                        <label class="mat-label">E-mail</label>
                                        <input class="mat-input" id="form-profile-email" name="email" type="email" value="{{ user.email }}" required>
                                    </div>
                                </div>

                                <div>
                                    <div class="uk-form-stacked mat-group">
                                        <label class="uk-form-label">{% trans %}Телефон{% endtrans %}</label>
                                        <div class="uk-inline uk-width-1-1">
                                            <a class="uk-form-icon uk-link" href="#modal-phone-edit" uk-icon="pencil" uk-toggle></a>
                                            <input class="uk-input" type="text" value="{{ phone }}" readonly>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="uk-width-1-1 uk-width-2-5@m uk-text-center uk-text-right@m">

                            <button class="uk-visible@m uk-button uk-button-link uk-link uk-text-capitalize uk-flex-inline uk-flex-middle">
                                <span class="uk-icon uk-icon-image uk-margin-small-right" style="background-image: url('/assets/images/icons/edit.svg'); width: 22px; height: 22px;"></span>
                                {% trans %}Сохранить{% endtrans %}
                            </button>

                            <button class="uk-hidden@m uk-width-1-1 uk-margin-medium-top uk-margin-small-bottom uk-button uk-button-default uk-link uk-text-capitalize uk-flex-inline uk-flex-center uk-flex-middle">
                                <span class="uk-icon uk-icon-image uk-margin-small-right" style="background-image: url('/assets/images/icons/edit.svg'); width: 22px; height: 22px;"></span>
                                {% trans %}Сохранить{% endtrans %}
                            </button>
                            <a href="javascript:;" class="uk-hidden@m uk-button uk-button-primary uk-width-1-1 uk-text-center" uk-toggle="target: .edit-toggle">
                                {% trans %}Отменить редактирование{% endtrans %}
                            </a>
                            <br>
                            <a href="javascript:;" class="uk-visible@m uk-link" uk-toggle="target: .edit-toggle">
                                {% trans %}Отменить редактирование{% endtrans %}
                            </a>
                        </div>

                        </div>

                        <input type="hidden" name="back_url" value="{{ user.tempPassword }}">
                    </form>
                    <!-- /edit -->

                </div>
            </div>

            <div class="edit-toggle" uk-grid hidden>
                <div class="uk-width-1-1">
                    <div class="uk-margin">
                        <h3 class="uk-heading-divider uk-card-header uk-padding-remove-horizontal uk-margin-remove">{% trans %}Настройки{% endtrans %}</h3>
                    </div>

                    <div class="uk-grid-medium uk-child-width-1-1 uk-child-width-1-2@m" uk-grid>

                        <div>
                            <div class="uk-padding-small uk-padding-remove-horizontal uk-padding-remove-top">
                                <label class="uk-flex-inline uk-flex-middle">
                                    <input class="uk-checkbox switch" type="checkbox" name="notifications" checked>
                                    <span>{% trans %}Уведомления от пользоватей{% endtrans %}</span>
                                </label>
                            </div>
                            <p class="uk-text-muted uk-margin-remove">{% trans %}Уведомления помогут вам узнать когда пришла заявка на аренду вашего транспорта{% endtrans %}</p>
                        </div>

                        <div>
                            <div class="uk-padding-small uk-padding-remove-horizontal uk-padding-remove-top">
                                <label class="uk-flex-inline uk-flex-middle">
                                    <input class="uk-checkbox switch" type="checkbox" name="newsletter">
                                    <span>{% trans %}Рассылка{% endtrans %}</span>
                                </label>
                            </div>
                            <p class="uk-text-muted uk-margin-remove">{% trans %}Оставаться в курсе эксклюзивных предложений и последних новостей{% endtrans %}</p>
                        </div>


                    </div>
                </div>
            </div>

            <div class="uk-grid-medium uk-child-width-1-1" uk-grid>

                <!-- Мой транспорт -->
                <div>

                    <div class="uk-child-width-1-1 uk-grid uk-grid-medium" uk-grid>
                        <div>
                            <div class="uk-flex uk-flex-between uk-flex-middle uk-margin-small-bottom uk-card-header uk-padding-remove-horizontal">
                                <h2 class="uk-margin-remove">{% trans %}Мой транспорт{% endtrans %}</h2>
                                <div class="uk-visible@m"><a href="/user/cards" class="uk-link link-underline">{% trans %}Весь транспорт{% endtrans %}</a></div>
                            </div>
                            <div class="uk-child-width-1-2 uk-child-width-1-4@m uk-grid-medium" uk-grid>
                                {% for card in user.cards %}
                                {{ include('search/one_grid_view_alex.html.twig', {'card':card, 'height':'150px'}) }}
                                {% endfor %}
                            </div>
                            <div class="uk-child-width-1-1 uk-hidden@m" uk-grid>
                                <div>
                                    <a href="/user/cards" class="uk-button button button-outline-primary button-lg uk-width-1-1 uk-padding-remove-horizontal">{% trans %}Показать больше{% endtrans %}</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /Мой транспорт -->

                <!-- Отзывы -->
                <div class="uk-flex-first@m">

                    <!-- Загловок: Отзывы -->
                    <div uk-grid class="edit-toggle">
                        <div class="uk-width-1-1">
                            <div class="uk-flex uk-flex-between uk-flex-middle uk-card-header uk-padding-remove-horizontal">
                                <h2 class="uk-margin-remove">{% trans %}Отзывы{% endtrans %}<span class="uk-hidden@m"> {{ user.opinions|length }}</span><span class="uk-visible@m"> обо мне</span></h2>
                                <div class="uk-visible@m"><a href="#" class="uk-link link-underline">{% trans %}Все отзывы {% endtrans %}({{ user.opinions|length }})</a></div>
                            </div>
                        </div>
                    </div>

                    <!-- Список: Отзывы -->
                    <div class="uk-grid-medium edit-toggle" uk-grid>
                        <div class="uk-width-1-1">
                            {% if user.opinions is not empty %}
                                <ul class="uk-comment-list uk-margin-remove review-list review-list__user-page">
                                    {% for opinion in user.opinions %}
                                        <li>
                                            <article class="uk-comment review">
                                                <header class="uk-comment-header review-header">
                                                    <h4 class="uk-comment-title uk-margin-remove review-title">{{ opinion.user.header }}</h4>
                                                </header>
                                                <div class="uk-comment-body review-body uk-width-1-1 uk-width-1-2@m">
                                                    {{ opinion.content }}
                                                </div>
                                                <footer class="uk-comment-footer review-footer">
                                                    <div class="uk-flex uk-flex-between uk-comment-meta uk-flex-middle">

                                                        <div class="rating">

                                                            <div class="rating-item"><span class="rating-icon{% if (opinion.stars >= 1) %} rating-icon_active{% endif %}"></span></div>
                                                            <div class="rating-item"><span class="rating-icon{% if (opinion.stars >= 2) %} rating-icon_active{% endif %}"></span></div>
                                                            <div class="rating-item"><span class="rating-icon{% if (opinion.stars >= 3) %} rating-icon_active{% endif %}"></span></div>
                                                            <div class="rating-item"><span class="rating-icon{% if (opinion.stars >= 4) %} rating-icon_active{% endif %}"></span></div>
                                                            <div class="rating-item"><span class="rating-icon{% if (opinion.stars == 5) %} rating-icon_active{% endif %}"></span></div>
                                                        </div>

                                                        <div class="uk-flex-first@m">{{ opinion.dateCreate|date('d.m.Y H:i') }}</div>

                                                    </div>
                                                </footer>
                                            </article>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <div class="uk-comment-body comment__body">
                                    Никто пока не оставил отзыв
                                </div>

                            {% endif %}




                        </div>
                    </div>

                </div>
                <!-- ///Отзывы -->
            </div>

            <!-- /new profile -->
        </div>
    </div>

</div>

<!-- Modal: Avatar Upload -->
<div id="modal-avatar-upload" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-width-1-1 uk-width-1-2@s uk-width-2-5@l">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h2 class="uk-modal-title uk-text-center">{% trans %}Загрузка новой фотографии{% endtrans %}</h2>
        <p>Друзьям будет проще узнать Вас, если Вы загрузите свою настоящую фотографию.<br>
            Вы можете загрузить изображение в формате JPG, GIF или PNG.</p>

        <div class="uk-width-1-1">
            <div class="uk-position-relative">
                {% if foto != '' %}
                <img alt="" src="/assets/images/users/t/{{ foto }}.jpg" style="height: 150px">
                <button class="c_white bg_red uk-position-top-left" form="profile_foto_upload" name="delete">
                    <i class="fa fa-close"></i>
                </button>
                {% endif %}
            </div>

            <form action="/profile/saveFoto" enctype="multipart/form-data" id="profile_foto_upload" method="POST">
                <div class="uk-margin-medium-bottom">
                    {% trans %}Фото{% endtrans %}:
                    <input id="foto_upload" name="foto" type="file">
                    <div class="uk-grid-small" id="foto_list_view" uk-grid></div>
                    <input type="hidden" name="user_id" value="{{ user.id }}">
                </div>
                <div class="uk-text-center">
                    <button class="uk-button uk-button-primary">{% trans %}Сохранить{% endtrans %}</button>
                </div>
            </form>
        </div>


    </div>
</div>

<!-- Modal: Phone Edit -->
<div id="modal-phone-edit" uk-modal="bg-close: false">
    <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h2 class="uk-modal-title uk-text-center">Новый номер телефона</h2>
        <form>
            <div class="uk-grid uk-grid-column-collapse uk-margin-medium-bottom" uk-grid>
                <div class="uk-width-auto">
                    <select class="uk-select select-border-bottom select-phone-code" id="phoneSelect">
                        <option value="russia"></option>
                        <option value="abkhazia"></option>
                        <option value="belarus"></option>
                        <option value="kazakhstan"></option>
                        <option value="ukraine"></option>
                        <option value="usa"></option>
                    </select>
                </div>

                <div class="uk-width-expand">
                    <input type="text" name="phone" class="uk-input phone-input" id="phoneInput" required>
                </div>
            </div>

            <div class="uk-text-center">
                <button class="uk-button uk-button-primary" id="btn-pes-1">Отправить СМС с кодом</button>
            </div>
        </form>
    </div>
</div>

<!-- Modal: Phone Edit / Confirmation Code -->
<div id="modal-phone-edit_code" uk-modal="bg-close: false">
    <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h2 class="uk-modal-title uk-text-center uk-margin-remove-bottom">Подтверждение</h2>

        <form>
            <div class="mat-group uk-margin-medium-bottom">
                <label class="mat-label">Код активации</label>
                <input type="text" name="regcode" class="mat-input">
            </div>
            <div class="uk-text-center">
                <button class="uk-button uk-button-primary" id="btn-pes-2">Подтвердить смену телефона</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
