<input type="hidden" name="gtURL" id="gtURL" value="{{ general.url }}">

<div uk-toggle="target: #gt_popular">
    <span  class="pop_gt_selector">{%  if general is defined %}{{ lang == 'ru' ? general.header : general.url|capitalize }}{% else %}{% trans %}Тип транспорта{% endtrans %}{% endif %}</span>
    <i uk-icon="icon:chevron-down"></i>
</div>

<div id="gt_popular" class="uk-modal-container uk-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h2 class="uk-modal-title">{% trans %}Выберите тип транспорта{% endtrans %}</h2>

        <div class="uk-column-1-1 uk-column-1-5@s">
            <a class="gt_selector uk-display-block c_grey uk-margin-bottom"  href="/rent/{{ city.url }}">{% trans %}Любой тип транспорта{% endtrans %}</a>
            {% for gt in generalTypes if gt.total>0 %}
                <a class="gt_selector uk-display-block c_grey uk-margin-bottom" href="/rent/{{ city.url }}/all/{{ gt.url }}"><i class="fa fa-{{ gt.icon }}"></i> {{ lang == 'ru' ? gt.header : gt.url|capitalize }}</a>
            {% endfor %}
        </div>

    </div>
</div>