<div id="gt_city_popular" class="uk-modal-container" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h2 class="uk-modal-title"><a class="gt_city_block" href="/show/{{ city.url }}/all" data-def="/show/{{ city.url }}/all">В {{ city.gde }}</a></h2>
        <div class="uk-column-1-5">
            <div class="city_block uk-margin-bottom" data-url="rus" data-header="Россия"><a class="gt_city_block" href="/show/rus/all" data-def="/show/rus/all">В России</a></div>
            {% for city in popular_city if  city.total >= 10 %}
                <a class="gt_city_block uk-display-block" href="/show/{{ city.url }}/all" data-def="/show/{{ city.url }}/all">В {{ city.gde }}</a>
            {% endfor %}
        </div>
        <hr>
        <button uk-toggle="target: #more_cities2" type="button" class="more_cities_button">показать все города</button>
        <div id="more_cities2" hidden>
            <div class="uk-column-1-5">
                {% for city in popular_city if  city.total < 10 %}
                    <a class="gt_city_block uk-display-block" href="/show/{{ city.url }}/all" data-def="/show/{{ city.url }}/all">В {{ city.gde }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>