{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/main_page/top_slider.css') }}" rel="stylesheet" />

    <link href="{{ asset('assets/css/auto-complete.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('assets/js/mainPage.js') }}"></script>
    <script src="{{ asset('assets/js/city_general_mark_selector.js') }}"></script>
    <script src="{{ asset('assets/js/sliderSettings.js') }}"></script>
    <script src="{{ asset('assets/html5_banner/createjs-2015.11.26.min.js') }}"></script>
    <script src="{{ asset('assets/html5_banner/body.js') }}"></script>
    <script src="{{ asset('assets/html5_banner/init.js') }}"></script>
    <script src="{{ asset('assets/js/mark_autocomplete.js') }}"></script>
    <script src="{{ asset('assets/js/search_form_main.js') }}"></script>
    {# <script src="{{ asset('assets/js/uikit.min.js') }}"></script> #}


{% endblock %}

{% block metaTags %}
    {{ parent() }}
    {% if custom_seo and custom_seo.description != ''%}
        <meta name="description" content="{% include(template_from_string(custom_seo.description)) %}">
    {% endif %}
{% endblock %}

{% block title %}
    {% if custom_seo and custom_seo.title != ''%}
        {% include(template_from_string(custom_seo.title)) %}{% else %}Мультипрокат
    {% endif %}
{% endblock %}

{% block bodyVars %}onload="html5_init();"
{% endblock %}
{% block bodyClass %}main_page
{% endblock %}

{% block content %}

    {# begin верхний блок быстрого выбора и заставки #}
    <div class="uk-text-center bg_blue  uk-margin-remove" uk-grid>
        <div class="uk-grid-collapse uk-child-width-expand@s uk-text-center uk-width-1-1 uk-padding-remove" uk-grid>
            <div class="uk-tile uk-tile-primary bg_blue">
                <div class="uk-padding-large uk-light uk-h4">Аренда и прокат транспорта от владельцев</div>
                {% if total is defined %}
                    <div class="uk-padding-remove-top uk-light uk-h4 uk-text-small">
                        <b>{{ total.cards }}</b>
                        единиц транспорта в
                        <b>{{ total.cities }}</b>
                        городах</div>
                {% endif %}
            </div>
        </div>
        {% if app.session.has('logged_user') %}

            <div class="uk-width-1-2 " style="margin: 0px 0px 30px 0px;">
                <a class=" uk-button uk-button-danger" href="/sl_page" style="border-radius: 30px;"></i>Арендовать</a>
        </div>
        <div class="uk-width-1-2 uk-padding-remove-left" style="margin: 0px 0px 30px 0px;">
            <a class=" uk-button uk-button-default bg_white " href="/card/new" style="border-radius: 30px;">Сдать в аренду</a>
        </div>

    {% else %}
        <div class="uk-width-1-2 uk-padding-remove-left uk-margin-bottom uk-margin-remove-top" style="margin: 0px 0px 30px 0px;">
            <a class=" uk-button uk-button-danger" href="/sl_page" style="border-radius: 30px;"></i>Арендовать</a>
        {# <button class=" uk-button uk-button-danger" style="border-radius: 30px; " uk-toggle="target: #sign_up">{% trans %}Арендовать{% endtrans %}</button> #}
    </div>
    <div class="uk-width-1-2 uk-padding-remove-left uk-margin-bottom uk-margin-remove-top" style="margin: 0px 0px 30px 0px;">
        <a class=" uk-button uk-button-default bg_white " href="/card/new" style="border-radius: 30px;">Сдать в аренду</a>
        {# <button class=" uk-button uk-button-default bg_white " style="border-radius: 30px; " uk-toggle="target: #sign_up">Сдать в аренду</button> #}
    </div>

{% endif %}</div>
{# end верхний блок быстрого выбора и заставки #}

{# begin блок поиска #}
{{ include('search_form.html.twig') }}
{# end блок поиска #}

{# begin блок выбора города #}
{{ include('selector/main_city_selector.html.twig',{'main_city':true}) }}
{# end блок выбора города #}

{# {{dump(t3_new.getGt)}} #}

{# begin блок слайдера ТОП оплаченных #}

<div class="uk-width-1-1" style="padding: 10px 0 15px 0; background: #eaeaea;"> 
    <div class="owl-carousel owl-carousel-all owl-theme uk-width-1-1" data-dots="0" data-items="5">
        {% for card in top10Slider %}
            {{ include('search/one_grid_view.html.twig', {'card':card, 'height':'250px', 'micro':true}) }}
        {% endfor %}
    </div>
    <div class="uk-text-center">
        {% if app.session.has('logged_user') %}
            <a class="" href="/card/new" title="Хотите сюда?<br>Разместите объявление!" uk-tooltip>{% trans %}Разместить объявление в ТОП{% endtrans %}</a>
        {% else %}
            <a class="after_top" title="Хотите сюда?<br>Разместите объявление!" uk-toggle="target: #sign_in_or_up" uk-tooltip>{% trans %}Разместить объявление в ТОП{% endtrans %}</a>
        {% endif %}
    </div>

</div>

{# <div class="top_slider_block">
    <div>
        <div class="uk-position-relative uk-visible-toggle" finite="1" tabindex="-1" uk-slider="center: true">
            <ul class="mp-slider-show-all uk-slider-items uk-grid uk-child-width-3-4 uk-child-width-1-5@s uk-child-width-1-6@m uk-child-width-expand@l" data-dots="0" data-items="10">
                {% for card in topSlider %}
                    <li class="">
                        {{ include('search/one_grid_view.html.twig', {'card':card, 'height':'130px', 'micro':true}) }}
                    </li>
                {% endfor %}
            </ul>

            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

        </div>
        
        <div class="uk-text-center">
            {% if app.session.has('logged_user') %}
                <a class="" href="/card/new" title="Хотите сюда?<br>Разместите объявление!" uk-tooltip>{% trans %}Разместить объявление в ТОП{% endtrans %}</a>
            {% else %}
                <a class="after_top" title="Хотите сюда?<br>Разместите объявление!" uk-toggle="target: #sign_in_or_up" uk-tooltip>{% trans %}Разместить объявление в ТОП{% endtrans %}</a>
            {% endif %}
        </div>
    </div>
</div> #}
{# end блок слайдера ТОП оплаченных #}

{# begin блок слайдера ТОП активных арендаторов #}

{# end блок слайдера ТОП активных арендаторов #}

{# begin блок слайдера ТОП ?? #}

{# end блок слайдера ТОП ?? #}

<div class="uk-visible@s" id="animation_container" style="background-color:rgba(255, 255, 255, 1.00); width:100%; height:90px">
    <canvas height="90" id="canvas" style="position: absolute; display: block; background-color:rgba(255, 255, 255, 1.00);" width="100%"></canvas>
    <div id="dom_overlay_container" style="pointer-events:none; overflow:hidden; width:100%; height:90px; position: absolute; left: 0px; top: 0px; display: block;"></div>
</div>


<div class="uk-visible@s" id="top_selector_block">
    <div class="standard_wide top_selector_all">

        {% if custom_seo and custom_seo.h1 != ''%}
            <h1 class="uk-text-center main_h1">{% include(template_from_string(custom_seo.h1)) %}</h1>
        {% else %}
            <h1 class="uk-text-center main_h1">{% trans %}Большой выбор транспорта в аренду{% endtrans %}</h1>
        {% endif %}

        {% if is_mobile() %}
            <button class="uk-button uk-width-1-1" id="button_main_search">Поиск</button>
        {% endif %}

        <div id="the_main_selector" class="main_search" {% if is_mobile() %} hidden {% endif %}>


            <div class="uk-margin-auto uk-width-3-4@s uk-margin-bottom">
                <form class="uk-flex uk-flex-center uk-grid-small" id="main_search_form" uk-grid>
                    {#<div class="uk-width-1-1 uk-width-auto@s uk-position-relative">#}
                    {#<div class="uk-hidden@s uk-text-small c_white">Город</div>#}
                    {#<div class="top_selector_box">{{ include('selector/adress_block.html.twig') }}</div>#}
                    {#</div>#}

                    <input id="gtURL" name="gtURL" type="hidden" value="cars"> <div class="uk-width-1-1 uk-width-auto@s uk-position-relative">
                        <div class="uk-hidden@s uk-text-small c_white">Марка</div>
                        <div class="top_selector_box" id="mark_placement">{{ include('selector/mark_block.html.twig', {'mark_arr':mark_arr_sorted, 'type':'1'}) }}</div>
                    </div>

                    <div class="uk-width-1-1 uk-width-auto@s uk-position-relative">
                        <div class="uk-hidden@s uk-text-small c_white">Модель</div>
                        <div class="top_selector_box" id="model_placement">{{ include('selector/model_block.html.twig', {'model_arr':models_in_mark, 'mark_id':mark.id}) }}</div>
                    </div>

                    <div class="uk-width-1-2 uk-width-auto@s">
                        <button class="uk-button uk-button-primary uk-width-1-1" id="main_search_button" type="button">{% trans %}Найти{% endtrans %}</button>
                    </div>
                </form>
            </div>

            <hr>
            <div class="uk-margin-top main_gt_block">
                <div class="uk-flex uk-flex-center uk-grid-small" uk-grid>
                    {% for gt in generalTypes|slice(0,4) if gt.carTypeIds%}
                        <div class="gt_selector" data-url="{{ gt.url }}" data-header="{{ gt.header }}">
                            <a class="inner c_white" href="/rent/{{ in_city }}/all/{{ gt.url }}">
                                <i class="fa fa-{{ gt.icon }}"></i>
                                {{ lang == 'ru' ? gt.header : gt.url }}</a>
                        </div>
                    {% endfor %}
                </div>
                <div class="uk-text-center uk-margin-top cursor-pointer c_white" uk-toggle="target: #more_gt">{% trans %}еще категории{% endtrans %}
                    <i uk-icon="icon:chevron-down"></i>
                </div>
                <div class="uk-flex uk-flex-center uk-margin-top uk-grid-medium" hidden id="more_gt" uk-grid>
                    {% for gt in generalTypes|slice(4) if gt.carTypeIds %}
                        <div class="gt_selector uk-width-1-2 uk-width-auto@s" data-url="{{ gt.url }}" data-header="{{ gt.header }}">
                            <a class="inner c_white" href="/rent/{{ in_city }}/all/{{ gt.url }}">
                                <i class="fa fa-{{ gt.icon }}"></i>
                                {{ lang == 'ru' ? gt.header : gt.url }}</a>
                        </div>
                    {% endfor %}
                </div>

                {#{{ include('selector/gt_adress_block.html.twig') }}#}

            </div>
        </div>
    </div>
    {#g#}
</div>
{# begin блок слайдера ТОП новых бесплатных #}
<div class="uk-width-1-1"> 
    <div class="uk-text-center ">
        <div class="uk-h2 uk-text-truncate">{% trans %}Новые на сайте{% endtrans %}</div>
    </div>
    {#<a class="cat_main_header padding20 c_grey bordered b_shadowed uk-display-block uk-text-center uk-margin-bottom" href="/rent/{{ in_city }}/all/wedding">{% trans %}Свадебные авто{% endtrans %}</a>#}
    {#<div>#}
    {#{{ include('search/one_grid_view.html.twig', {'card':moto, 'height':'150px'}) }}#}
    {#</div>#}
    <div class="owl-carousel owl-carousel-all owl-theme uk-width-1-1" data-dots="0" data-items="5"> {% for card in t3_new.getNew10 %}
            {{ include('search/one_grid_view.html.twig', {'card':card, 'height':'250px'}) }}
        {% endfor %}
    </div>
</div>
{# <div class="uk-width-1-5@l uk-visible@l">
    <div class="uk-margin-bottom uk-text-uppercase"><b>{% trans %}Новые на сайте{% endtrans %}</b></div>
    {% for card in t3_new.getNew %}
        {{ include(':footer:top_new_tpl.html.twig', {'card':card}) }}
    {% endfor %}
</div> #}
{# end блок слайдера ТОП новых бесплатных #}




{{ include('waytosuccess.html.twig') }}


<div class="standard_wide">

    {#<div class="uk-margin-large">#}
    {#<h2>Легковые авто <a class="tx_16 undln" href="/show/rus/all/cars">показать все</a></h2>#}
    {#<div class="owl-carousel owl-theme uk-width-1-1" data-items="4">#}
    {#{% for card in cars %}#}
    {#{{ include('search/one_grid_view.html.twig', {'card':card, 'height':'150px'}) }}#}
    {#{% endfor %}#}
    {#</div>#}
    {#</div>#}
        <div class="uk-grid-small uk-margin-large-bottom" uk-grid> <div class="uk-width-1-4@s">
            <div class="uk-text-center ">
                <div class="uk-h2 uk-text-truncate"><a href="/rent/{{ in_city }}/all/quadro"  class="uk-h2 uk-text-truncate">Квадроциклы</a></div>
            </div>
            {#<div>#}
            {#{{ include('search/one_grid_view.html.twig', {'card':cars, 'height':'150px'}) }}#}
            {#</div>#}
                <div class="owl-carousel owl-carousel-all owl-theme uk-width-1-1" data-dots="0" data-items="1"> {% for card in quadro %}
                    {{ include('search/one_grid_view.html.twig', {'card':card, 'height':'250px'}) }}
                {% endfor %}
                {{ include('search/all_more.html.twig', {'title':'Все квадроциклы', 'url':'/rent/'~in_city~'/all/quadro'}) }}
            </div>
        </div>
        <div class="uk-width-1-4@s">
            <div class="uk-text-center ">
                <div class="uk-h2 uk-text-truncate"><a href="/rent/{{ in_city }}/all/wedding"  class="uk-h2 uk-text-truncate">{% trans %}Свадебные авто{% endtrans %}</a></div>
            </div>
            {#<a class="cat_main_header padding20 c_grey bordered b_shadowed uk-display-block uk-text-center uk-margin-bottom" href="/rent/{{ in_city }}/all/wedding">{% trans %}Свадебные авто{% endtrans %}</a>#}
            {#<div>#}
            {#{{ include('search/one_grid_view.html.twig', {'card':moto, 'height':'150px'}) }}#}
            {#</div>#}
                <div class="owl-carousel owl-carousel-all owl-theme uk-width-1-1" data-dots="0" data-items="1"> {% for card in wedding %}
                    {{ include('search/one_grid_view.html.twig', {'card':card, 'height':'250px'}) }}
                {% endfor %}
                {{ include('search/all_more.html.twig', {'title':'Все свадебные авто', 'url':'/rent/'~in_city~'/all/wedding'}) }}
            </div>
        </div>
        <div class="uk-width-1-4@s">
            <div class="uk-text-center ">
                <div class="uk-h2 uk-text-truncate"><a href="/rent/{{ in_city }}/all/bikes"  class="uk-h2 uk-text-truncate">Мотоциклы</a></div>
            </div>
            {# <a class="cat_main_header padding20 c_grey bordered b_shadowed uk-display-block uk-text-center uk-margin-bottom" href="/rent/{{ in_city }}/all/bikes">Мотоциклы</a> #}
            {#<div>#}
            {#{{ include('search/one_grid_view.html.twig', {'card':trucks, 'height':'150px'}) }}#}
            {#</div>#}
                <div class="owl-carousel owl-carousel-all owl-theme uk-width-1-1" data-dots="0" data-items="1"> {% for card in bikes %}
                    {{ include('search/one_grid_view.html.twig', {'card':card, 'height':'250px'}) }}
                {% endfor %}
                {{ include('search/all_more.html.twig', {'title':'Все мотоциклы', 'url':'/rent/'~in_city~'/all/bikes'}) }}
            </div>
        </div>
        <div class="uk-width-1-4@s">
            <div class="uk-text-center ">
                <div class="uk-h2 uk-text-truncate"><a href="/rent/{{ in_city }}/all/trucks"  class="uk-h2 uk-text-truncate">Грузовые авто</a></div>
            </div>
            {# <a class="cat_main_header padding20 c_grey bordered b_shadowed uk-display-block uk-text-center uk-margin-bottom" href="/rent/{{ in_city }}/all/bikes">Грузовые авто</a> #}
            {#<div>#}
            {#{{ include('search/one_grid_view.html.twig', {'card':bicycles, 'height':'150px'}) }}#}
            {#</div>#}
                <div class="owl-carousel owl-carousel-all owl-theme uk-width-1-1" data-dots="0" data-items="1"> {% for card in trucks %}
                    {{ include('search/one_grid_view.html.twig', {'card':card, 'height':'250px'}) }}
                {% endfor %}
                {{ include('search/all_more.html.twig', {'title':'Все грузовые авто', 'url':'/rent/'~in_city~'/all/trucks'}) }}
            </div>
        </div>
    </div>

</div>
{# 
{% if not is_mobile() %}
    <div class="top_counter bg_white c_grey uk-margin-large-bottom">
        <div class="standard_wide">
            <div uk-grid class="{% if is_mobile() %}{% else %}uk-grid-divider{% endif %}">
                <div class="uk-width-1-4">
                    <div class="uk-text-center">
                        <i class="fa fa-file"></i><br>
                        <span class="top_counter_desc">{% trans %}Транспорта{% endtrans %}</span><br>
                        <b>{{ total.cards }}</b>
                    </div>
                </div>
                <div class="uk-width-1-4">
                    <div class="uk-text-center">
                        <i class="fa fa-eye"></i><br>
                        <span class="top_counter_desc">{% trans %}Просмотров{% endtrans %}</span><br>
                        <b>{{ total.views }}</b>
                    </div>
                </div>
                <div class="uk-width-1-4">
                    <div class="uk-text-center">
                        <i class="fa fa-home"></i><br>
                        <span class="top_counter_desc">{% trans %}Городов{% endtrans %}</span><br>
                        <b>{{ total.cities }}</b>
                    </div>
                </div>
                <div class="uk-width-1-4">
                    <div class="uk-text-center">
                        <i class="fa fa-list"></i><br>
                        <span class="top_counter_desc">{% trans %}Категорий{% endtrans %}</span><br>
                        <b>{{ total.categories }}</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %} #}


    <div class="top_counter bg_white c_grey uk-margin-large-bottom">
        <div class="standard_wide">
            <div uk-grid class="{% if is_mobile() %}{% else %}uk-grid-divider{% endif %}">
                <div class="uk-width-1-1 uk-width-1-4@s">
                    <div class="uk-text-center">
                        <i class="fa fa-eye"></i><br>
                        <span class="top_counter_desc">Просмотров</span><br>
                        <b>{{ total.views }}</b>
                    </div>
                </div>
                <div class="uk-width-1-3 uk-width-1-4@s">
                    <div class="uk-text-center">
                        <i class="fa fa-file"></i><br>
                        <span class="top_counter_desc">Транспорта</span><br>
                        <b>{{ total.cards }}</b>
                    </div>
                </div>
                <div class="uk-width-1-3 uk-width-1-4@s">
                    <div class="uk-text-center">
                        <i class="fa fa-home"></i><br>
                        <span class="top_counter_desc">Городов</span><br>
                        <b>{{ total.cities }}</b>
                    </div>
                </div>
                <div class="uk-width-1-3 uk-width-1-4@s">
                    <div class="uk-text-center">
                        <i class="fa fa-list"></i><br>
                        <span class="top_counter_desc">Категорий</span><br>
                        <b>{{ total.categories }}</b>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% set seo_text = '' %}
{% if custom_seo and custom_seo.seoText != ''%}
    {% set seo_text = custom_seo.seoText %}
{% endif %}
{% if seo_text != '' %}
    <hr>
    <div class="standard_wide">{{ seo_text }}</div>
{% endif %}{% endblock %}