{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('assets/css/main_page/top_slider.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/css/main_fix.css') }}" rel="stylesheet" />
<link href="{{ asset('assets/css/auto-complete.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
{{ parent() }}

<script src="{{ asset('assets/js/mainPage.js') }}"></script>
<script src="{{ asset('assets/js/city_general_mark_selector.js') }}"></script>
<script src="{{ asset('assets/js/sliderSettings.js') }}"></script>
<script src="{{ asset('assets/html5_banner/createjs-2015.11.26.min.js') }}"></script>
<script src="{{ asset('assets/html5_banner/body.js') }}"></script>
<script src="{{ asset('assets/html5_banner/init.js') }}"></script>
<script src="{{ asset('assets/js/mark_autocomplete.js') }}"></script>
<script src="{{ asset('assets/js/search_form_main.js') }}"></script>
<script src="{{ asset('assets/js/inputmask.min.js') }}"></script>
<script src="{{ asset('assets/js/country.js') }}"></script>
{# <script src="{{ asset('assets/js/uikit.min.js') }}"></script> #}
 

{% endblock %}

{% block openGraph %}
    {{ parent() }}
   	<link rel="shortcut icon" type="image/ico" href="/assets/favicon.ico" />
			<link rel="icon" type="image/ico" href="/assets/favicon.ico" />
			<link rel="canonical" href="https://multiprokat.com/" />
			<link rel="apple-touch-icon" href="https://multiprokat.com/apple-touch-icon.png">
			<link rel="shortcut icon" href="https://multiprokat.com/apple-touch-icon.png">
			<meta name="twitter:card" content="summary_large_image">
<meta property="og:type" content="website">

<meta property="og:url" content="https://multiprokat.com">
<meta property="og:title" content="Мультипрокат: аренда и прокат транспорта от владельцев.">
<meta property="og:description" content="Мультипрокат: аренда и прокат мотоциклов, автомобилей, катеров, яхт в 230 городах от владельцев. 4600 единиц транспорта в одном месте">
<meta property="og:image" content="https://multiprokat.com/logosnip.png">
{% endblock %}
{% block title %}
    {{ parent() }}
    Мультипрокат | Прокат и Аренда транспорта от владельцев

{% endblock %}
{% block metaTags %}
{{ parent() }}

<meta itemprop="description" name="description" content="Мультипрокат: аренда и прокат мотоциклов, автомобилей, катеров, яхт в 230 городах от владельцев. 4600 единиц транспорта в одном месте">

{% endblock %}



{% block bodyVars %}onload="html5_init();"
{% endblock %}
{% block bodyClass %}main_page
{% endblock %}

{% block content %}

{# begin верхний блок быстрого выбора и заставки #}
<section class="main">
    <div class="uk-container">
        <div class="inner">
            <div class="swiper-container main-slider">
                <div class="main-slider-bg">
                    <div class="round"></div>
                </div>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="main-slider-content">
                            <div class="text">
                                <div class="subtitle">Мотоциклы</div>
                                <div class="title">В Москве</div>
                            </div>
                            <div class="img">
                                <img src="assets/images/interface/main-slider1.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="main-slider-content">
                            <div class="text">
                                <div class="subtitle">Легковые автомобили</div>
                                <div class="title">В Санкт-Петербурге</div>
                            </div>
                            <div class="img">
                                <img src="assets/images/interface/main-slider2.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="main-slider-content">
                            <div class="text">
                                <div class="subtitle">Вездеходы</div>
                                <div class="title">В Самаре</div>
                            </div>
                            <div class="img">
                                <img src="assets/images/interface/main-slider3.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="main-slider-content">
                            <div class="text">
                                <div class="subtitle">Грузовые автомобили</div>
                                <div class="title">В Омске</div>
                            </div>
                            <div class="img">
                                <img src="assets/images/interface/main-slider4.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="main-slider-content">
                            <div class="text">
                                <div class="subtitle">Яхты</div>
                                <div class="title">В Сочи</div>
                            </div>
                            <div class="img">
                                <img src="assets/images/interface/main-slider5.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h1>Аренда и прокат транспорта</h1>
            {% if total is defined %}
            <p class="subheader">
                <span>{{ total.cards }}</span> единиц транспорта в <span>{{ total.cities }}</span> городах
            </p>
            {% endif %}
            {# begin блок поиска #}
            {{ include('search_form.html.twig') }}
            {# end блок поиска #}
        </div>
    </div>
</section>
{# end верхний блок быстрого выбора и заставки #}

{# {{dump(t3_new.getGt)}} #}

{# begin блок слайдера ТОП оплаченных #}

<section class="cards cards-slide">
    <div class="uk-container">
        <div class="cards-header">
            {# begin блок выбора города #}
          	<h2>Популярные в <a href="/rent/{{ in_city }}/" class="link">{{  app.session.has('city')  ? app.session.get('city').gde : city.gde }}</a></h2>	
            {# end блок выбора города #}
        </div>
        <div class="swiper-container">
            <div class="swiper-wrapper" itemscope itemtype="http://schema.org/ItemList">
                {% for card in top10Slider %}
                {{ include('search/one_grid_view.html.twig', {'card':card, 'micro':true}) }}
                {% endfor %}
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>


{# end блок слайдера ТОП оплаченных #}

{# begin блок слайдера ТОП активных арендаторов #}
{# {{ dump(top10OwnerSlider) }}  #}
{% if top10OwnerSlider is not empty and top10OwnerSlider|length > 3 %}

<section class="cards cards-slide">
    <div class="uk-container">
        <div class="swiper-container">
            <div class="swiper-wrapper" itemscope itemtype="http://schema.org/ItemList">
                {% for card in top10OwnerSlider %}
                {{ include('search/one_grid_view.html.twig', {'card':card, 'micro':true}) }}
                {% endfor %}
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>

{% endif %}

{# end блок слайдера ТОП активных арендаторов #}

{# begin блок слайдера ТОП ?? #}
{# {{ dump(top13_10Slider) }}  #}

<section class="cards cards-slide uk-margin-medium-bottom">
    <div class="uk-container">
        <div class="swiper-container">
            <div class="swiper-wrapper" itemscope itemtype="http://schema.org/ItemList">
                {% for card in top13_10Slider %}
                {{ include('search/one_grid_view.html.twig', {'card':card, 'micro':true}) }}
                {% endfor %}
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>


<section class="cards cards-slide">
    <div class="uk-container">
        <div class="cards-header">
            <h2>{% trans %}Новые на сайте{% endtrans %}</h2>
        </div>
        <div class="swiper-container">
            <div class="swiper-wrapper" itemscope itemtype="http://schema.org/ItemList">
                {% for card in t3_new.getNew10 %}
                {{ include('search/one_grid_view.html.twig', {'card':card}) }}
                {% endfor %}
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>


{{ include('waytosuccess.html.twig') }}


{% for kPosC, posC in positionCars %}
{{ include('grid_view_tops.html.twig', {'in_city':in_city, 'header':positionHeader[kPosC], 'posC':posC, 'cards':blockCars[kPosC], 'height':'250px', 'keyC':kPosC}) }}
{% endfor %}

{# begin блок лучших арендаторов #}
{{ include('owners_top.html.twig') }}
{# end блок лучших арендаторов #}



{% set seo_text = '' %}
{% if custom_seo and custom_seo.seoText != ''%}
{% set seo_text = custom_seo.seoText %}
{% endif %}
{% if seo_text != '' %}
<hr>
<div class="standard_wide">{{ seo_text }}</div>
{% endif %}

{% endblock %}
