{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block metaTags %}
    {{ parent() }}
{% endblock %}

{% block title %}Регионы работы Мультипрокат{% endblock %}

{% block content %}
<div class="uk-container uk-padding-large uk-padding-remove-horizontal">
    <h2>Регионы работы Мультипрокат</h2>
    <div class="uk-column-1-5">
        {% for region in regions %}
            <a class="uk-display-block" href="/region/{{ region.id }}">{{ region.header }} </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
