<button uk-toggle="target: #howtopay" type="button" style="color: #07d;
                                background: transparent;
                                text-decoration: underline;
                                padding: 0;
                                margin-bottom: 10px;">Как это работает?</button>

                        <form action="/user/bookMessage" uk-grid class="uk-grid-small" method="POST" onsubmit="return new_book_validate();">

                            <div class="uk-width-1-1">
                                <span class="uk-text-small">{% trans %}Транспортное средство{% endtrans %}</span>
                                <input type="text" name="header" class="uk-input" value="{{ card.markModel.mark.header }} {{ card.markModel.header }}" required>
                            </div>

                            <div class="uk-width-1-2">
                                <span class="uk-text-small">{% trans %}Дата приема{% endtrans %} <span class="c_red">{{ reserved ? 'с '~card.dateRentFinish|date_modify("+1 day")|date('d.m.Y') }}</span></span>
                                <input type="text" name="date_in" class="uk-input uk-width-1-1 datepicker-reserve" autocomplete="off" required>
                            </div>

                            <div class="uk-width-1-2">
                                <span class="uk-text-small">{% trans %}Дата возврата{% endtrans %} <span class="c_red">{{ reserved ? 'с '~card.dateRentFinish|date_modify("+1 day")|date('d.m.Y') }}</span></span>
                                <input type="text" name="date_out" class="uk-input uk-width-1-1 datepicker-reserve" autocomplete="off" required>
                            </div>

                            <div class="uk-width-1-2">
                                <span class="uk-text-small">Место приема</span>
                                <input type="text" name="city_in" class="uk-input uk-width-1-1" value="{{ card.city.header }}" autocomplete="off" required>
                            </div>

                            <div class="uk-width-1-2">
                                <span class="uk-text-small">Место возврата</span>
                                <input type="text" name="city_out" class="uk-input uk-width-1-1" value="{{ card.city.header }}" autocomplete="off" required>
                            </div>

                            <div class="uk-width-1-1">
                                <span class="uk-text-small">Текст сообщения</span>
                                <textarea name="content" class="uk-width-1-1 short_textarea"></textarea>
                            </div>

                            {% if not phone %}
                                <div class="uk-width-1-1">
                                    <div class="uk-margin-bottom uk-position-relative">
                                        <input type="text" name="phone" id="phone" placeholder="{% trans %}Заполните номер телефона{% endtrans %}" class="uk-input phone_validate">
                                        <div class="uk-position-absolute uk-position-top-left" style="left:5px;"><span class="red_star">*</span></div>
                                    </div>
                                </div>
                            {% else %}
                                <input type="hidden" name="phone" id="phone" value="{{ phone }}">
                            {% endif %}

                            <input type="hidden" name="card_id" value="{{ card.id }}">

                            <div class="uk-width-1-1">
                                Ожидайте ответ владельца транспорта:<br>
                                в личном кабинете + на ваш email + СМС на ваш номер телефона
                            </div>

                            <input type="hidden" name="g-recaptcha-response">
                            <div id="recap3"></div>

                            <div class="uk-width-1-1">
                                <button id="bookMessageButton" class="uk-button uk-button-default uk-width-1-1">{% trans %}Отправить{% endtrans %}</button>
                            </div>

                        </form>