<div id="nonreged_user_book_form" uk-modal="bg-close:false">
        <div class="uk-modal-dialog uk-modal-body">

            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div id="nrf">
            <form name="ver1">
                <div class="rb_1">
                    <h2 class="uk-modal-title">Быстрая регистрация</h2>
                    Пожалуйста, укажите Ваше имя, email и номер мобильного телефона для верификации в Мультипрокат
                    <fieldset class="uk-fieldset">
                    <div class="uk-grid uk-hidden" uk-grid id="auth_module">
                        <div class="uk-margin-top uk-width-1-1 uk-width-1-2@s">
                            <button  uk-toggle="target: #sign_in" class="uk-button uk-button-success "><span uk-icon="icon:lock"></span>{% trans %}Войти{% endtrans %}</button>
                        </div>
                        <div class="uk-margin-top uk-width-1-1 uk-width-1-2@s">
                            <div class="uk-float-right"><a uk-toggle="target: #pass_recover">{% trans %}Забыли пароль?{% endtrans %}</a></div>
                        </div>
                    </div>

                    <div class="mat-form">
                        <div class="uk-grid-row-collapse uk-grid-row-medium" uk-grid>
                            <div class="uk-width-1-1 uk-width-1-2@m">
                                <div class="mat-group">
                                    <label class="mat-label">Имя</label>
                                    <input type="text" name="name" class="mat-input" required>
                                </div>
                            </div>
                            <div class="uk-width-1-1 uk-width-1-2@m">
                                <div class="mat-group">
                                    <label class="mat-label">E-Mail</label>
                                    <input type="email" name="mail" class="mat-input" required>
                                </div>
                            </div>
                            <div class="uk-width-1-1">
                                <div class="mat-group">
                                    <label for="phoneFastInput" class="mat-label phone-label">Номер телефона</label>
                                    <select class="phone-select" id="phoneFastSelect">
                                        <option value="russia"></option>
                                        <option value="abkhazia"></option>
                                        <option value="belarus"></option>
                                        <option value="kazakhstan"></option>
                                        <option value="ukraine"></option>
                                        <option value="georgia"></option>
                                    </select>
                                    <input type="text" name="phone" class="mat-input phone-input" id="phoneFastInput" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="back_url" value="/rent/{{ card.city.url }}/all/{{ card.generalType.url }}/{{ card.markModel.mark.header }}/{{ card.markModel.header }}">

                    <div class="uk-margin-medium-top uk-grid-medium uk-child-width-1-1 uk-child-width-auto@m uk-flex-center uk-flex-middle uk-grid" uk-grid>
                        <div>
                            <button class="uk-button uk-button-primary" id="qreg_1">Отправить СМС с кодом</button>
                        </div>
                    </div>


                    </fieldset>
                </div>
            </form>
            <form name="ver2">
                <div class="rb_2 uk-hidden">
                    <h2 class="uk-modal-title">Подтверждение</h2>
                    <br><br>
                    <div>
                        <input type="hidden" name="phone_req" class="uk-input" value="">
                        <input type="text" name="regcode" class="uk-input" placeholder="пароль из СМС" required>
                    </div>
                    <div class="uk-margin-top">
                        <button class="uk-button uk-button-primary" id="qreg_2">Войти</button>
                    </div>
                </div>
            </form>
                <div class="rb_3 uk-hidden">
                    <h2 class="uk-modal-title">{% trans %}Заявка{% endtrans %}</h2>
                    {{ include('card/order_forms/new_order_form_content.html.twig',{'nonreged':true}) }}

                </div>
            
            </div>



        </div>
    </div>
