{% extends ':email:email_base.html.twig' %}
{% block content %}
    <h3>Добрый день!</h3>
    {{ header }}!<br>
    Наш администратор успешно зарегистрировал вашу компанию на сайте <a href="https://multiprokat.com">https://multiprokat.com</a>
    <br />
    <br />
    Мы знаем, что вам нужны клиенты и готовы дать их, используя наш портал аренды и проката любого транспорта в России.
    <br />
    <br />

    Мы разместили ваше первое объявление:
    <br />
    <br />

    <table>
        <tr>
            <td width="50%">
                <a href="{{ url('showCard',{'id': card.id}) }}" style="display:block;"><img src="{{ main_foto }}" alt="" width="200"></a>
            </td>
            <td width="50%" valign="top">
                {{ card.markModel.Mark.header }} {{ card.markModel.header }}<br><br>
                по цене: <b>{{ c_price|number_format(0,'.','&nbsp;')|raw }}</b> Р{{ c_ed }}<br><br>
                <a href="{{ url('showCard',{'id': card.id}) }}" style="background: green;color:white;text-decoration: none;padding: 5px;display: block;">посмотреть на сайте</a>
            </td>
        </tr>
    </table>

    <br>
    <br>
    Для входа в ваш аккаунт, используйте:
    <br /> - email: {{ email }}
    <br /> - пароль: {{ password }}
    <br /> (вы всегда можете сменить пароль через форму восстановления пароля)
{% endblock %}