{% if total_pages > 1 %}
    <hr>
    <div id="pager" class="uk-text-center uk-margin-medium-bottom">
        {# {% if total_pages > pages_in_center %} #}

            {% if current_page > 1 %}
                <button class="uk-button uk-button-default" name="page"  value="{{ current_page-1 }}"><i uk-icon="icon:arrow-left"></i></button>
            {% endif %}

            {# <button class="uk-button {{ 1 == current_page ? 'uk-button-primary' : 'uk-button-default' }}" name="page"  value="1">1</button>
            <span class="uk-display-inline-block"><i uk-icon="icon:more-vertical; ratio: 0.5"></i></span>
            {% for page in pager_center_start..pager_center_start+pages_in_center-1 %}
                <button class="uk-button {{ page == current_page ? 'uk-button-primary' : 'uk-button-default' }}" name="page"  value="{{ page }}">{{ page }}</button>
            {% endfor %}
            <span class="uk-display-inline-block"><i uk-icon="icon:more-vertical; ratio: 0.5"></i></span>
            <button class="uk-button {{ total_pages == current_page ? 'uk-button-primary' : 'uk-button-default' }}" name="page"  value="{{ total_pages }}">{{ total_pages }}</button> #}

            {% if current_page < total_pages %}
                <button class="uk-button uk-button-default" name="page"  value="{{ current_page+1 }}"><i uk-icon="icon:arrow-right"></i></button>
            {% endif %}

        {# {% else %}
            {% for page in 1..total_pages %}
                <button class="uk-button {{ page == current_page ? 'uk-button-primary' : 'uk-button-default' }}" name="page"  value="{{ page }}">{{ page }}</button>
            {% endfor %}
        {% endif %} #}

    </div>
    <div class="uk-grid-medium uk-flex-middle uk-flex-between uk-child-width-1-1 uk-child-width-auto@m" uk-grid>
        <div class="uk-flex uk-flex-middle uk-flex-center">
            <span class="uk-margin-small-right">{% trans %}На странице{% endtrans %}</span>
            <select name="onpage" id="onpage" class="uk-select select-border-bottom" form="searchForm">
                <option value="12" {{ 12 == onpage ? 'selected' : '' }}>12</option>
                <option value="24" {{ 24 == onpage ? 'selected' : '' }}>24</option>
                <option value="48" {{ 48 == onpage ? 'selected' : '' }}>48</option>
            </select>
            <span class="uk-margin-small-left">{% trans %}транспорта{% endtrans %}</span>
        </div>

        <div class="uk-flex uk-flex-middle uk-flex-center">
            {% trans %}Показать{% endtrans %}
            <button class="uk-margin-small-right uk-margin-small-left view_select {{ view == 'grid_view' ? 'uk-button-primary' : '' }}" type="button" value="grid_view" uk-icon="icon:grid"></button>
            {% trans %}или{% endtrans %}
            <button class="uk-margin-small-right uk-margin-small-left view_select {{ view == 'list_view' ? 'uk-button-primary' : '' }}" type="button" value="list_view" uk-icon="icon:list"></button>
        </div>
    </div>
{% endif %}
