<div class="bordered uk-position-relative">

    {% set main_foto = main_foto(card.getFotos) %}

    {% set bgrnd = 'white' %}

    {% if main_foto  %}
        {% set bgrnd = 'url(/assets/images/cards/'~main_foto.folder~'/t/'~main_foto.id~'.jpg)' %}
    {% else %}
        {% set bgrnd = 'url(/assets/images/interface/no_image.jpg)' %}
    {% endif %}



    <a id="card_img_{{ card.id }}" href="/card/{{ card.id }}" style="background: {{ bgrnd }} center center;
            background-size: cover;
            height: {{ height }};
            display: block;">
    </a>




    <div class="padding20">
        <a class="uk-text-truncate uk-display-block" href="/card/{{ card.id }}">{{ card.header }}</a>
        <div class="uk-text-truncate uk-text-small c_grey"><i class="fa fa-map-marker"></i> {{ card.city.header }}</div>
        <div class="uk-clearfix">
            <div class="uk-float-left uk-text-small {{ micro is defined ? 'micro' }}">
                {% for price in card.cardPrices if price.priceId == 2 %}
                    {{ price.value|number_format(0,'.','<span class="thousand_separator"></span>')|raw }} ₽/день
                {% endfor %}
            </div>

            <div class="uk-float-right uk-text-small {{ micro is defined ? 'micro' }}">
                <i class="fa fa-eye"></i> {{ card.views }}
            </div>
        </div>
    </div>

    {% if (
       ( app.session.has('admin') and card.adminId == app.session.get('admin').id )
       or ( app.session.has('admin') and app.session.get('admin').role == 'superadmin' )
       or ( app.session.has('logged_user') and card.user.id == app.session.get('logged_user').id )
    ) %}
        <form action="/card/update" method="POST" style="position: absolute;top:0;right:0;" onsubmit="return confirm('Вы уверены?');">
            <input type="hidden" name="cardId" value="{{ card.id }}">
            <button class="uk-button-danger c_white" name="delete" uk-close></button>
        </form>
        <a class="uk-button-primary uk-position-top-left icon_button" href="/user/edit/card/{{ card.id }}" ><i class="fa fa-pencil"></i></a>
    {% endif %}
</div>

