{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('assets/css/auto-complete.css') }}" rel="stylesheet">
	<link href="{{ asset('assets/css/nouislider.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('assets/js/city_general_mark_selector.js') }}"></script>
	<script src="{{ asset('assets/js/nouislider.min.js') }}"></script>
	<script src="{{ asset('assets/js/search_page.js') }}"></script>
	<script src="{{ asset('assets/js/auto-complete.min.js') }}"></script>
	<script src="{{ asset('assets/js/mark_autocomplete.js') }}"></script>
	<script src="{{ asset('assets/js/inputmask.min.js') }}"></script>
	<script src="{{ asset('assets/js/country.js') }}"></script>
{% endblock %}

{% block metaTags %}
	{{ parent() }}
	{% if custom_seo and custom_seo.description != ''%}
		<meta name="description" content="{% include(template_from_string(custom_seo.description)) %}">
	{% else %}
		<meta name="description" content="{% include '/seo_templates/c_description.html.twig' %}">
	{% endif %}
{% endblock %}

{% block title %}{% if custom_seo and custom_seo.title != '' %}{% include(template_from_string(custom_seo.title)) %}{% else %}{% include '/seo_templates/c_title.html.twig' %}{% endif %}{% endblock %}

{% block content %}

	{% set x_uri = app.request.pathinfo|split('/') %}

	{% if bodyTypes and model.id == null %}
		{% set body_url = '/rent/'~x_uri[2]~'/'~x_uri[3]~'/'~x_uri[4] %}
		{% if mark.id != null %}
			{% set body_url = '/rent/'~x_uri[2]~'/'~x_uri[3]~'/'~x_uri[4]~'/'~x_uri[5] %}
		{% endif %}
	{% endif %}

	<section class="categories-city">
		<div class="uk-container">
			{% if custom_seo and custom_seo.h1 != ''%}
				<h2>{% include(template_from_string(custom_seo.h1)) %}</h2>
			{% else %}
				<h2>{% include 'seo_templates/c_h1.html.twig' %}</h2>
			{% endif %}

			{% if x_uri[2] is defined and x_uri[2] != 'rus' and x_uri|length == 3 %}
				{{ include('search/gt_block.html.twig') }}
			{% endif %}

			{% if x_uri[2] is defined and x_uri[2] != 'rus' and x_uri|length > 4 and mark.id == null %}
				{{ include('search/mark_block.html.twig') }}
			{% endif %}

			{% if x_uri[2] is defined and x_uri[2] != 'rus' and x_uri|length > 5 and model.id == null %}
				{{ include('search/model_block.html.twig') }}
			{% endif %}

{#			{{ include('search/search_form.html.twig',{'top':true}) }}#}
		</div>
	</section>

	<section class="cards">
		<div class="uk-container">
			<div class="cards-header cards-header-center">
				{% if total_cards > 0 %}
					<p class="results">{% trans %}Найдено{% endtrans %}: {{ total_cards }} {% trans %}транспорта{% endtrans %}</p>
				{% else %}
					<p class="results">{% trans %}Транспорт не найден{% endtrans %}</p>
				{% endif %}

				{% if total_cards == 0 %}

					<div class="zero_text">
						{% trans %}Пока никто не разместил транспорт в этом городе и категории.{% endtrans %}<br>
						{% trans %}Будь первым - добавь свой транспорт и получай клиентов!{% endtrans %}
					</div>


					{% if app.session.has('logged_user') %}
						<a href="/card/new" class="uk-button uk-button-success zero_button">{% trans %}Разместить свой транспорт!{% endtrans %}</a>
					{% elseif app.session.has('admin') %}
						<a href="/card/new" class="uk-button uk-button-success zero_button">{% trans %}Разместить свой транспорт!{% endtrans %}</a>
					{% else %}
						<a href="#signIn" class="uk-button uk-button-success zero_button" uk-toggle>{% trans %}Разместить транспорт!{% endtrans %}</a>
					{% endif %}

{#					{% if similar %}#}
{#						<h2 class="pf_style_header"><span>{% trans %}Многим нравится{% endtrans %}</span></h2>#}

{#						<div uk-grid class="uk-grid-small uk-grid-match uk-margin-top">#}
{#							{% for card in similar %}#}
{#								<div class="uk-width-1-3@s">#}
{#									{{ include('search/one_grid_view.html.twig', {'card':card, 'height':'150px'}) }}#}
{#								</div>#}
{#							{% endfor %}#}
{#						</div>#}
{#					{% endif %}#}


				{% endif %}

				<div class="uk-flex uk-flex-middle uk-width-1-1 uk-width-auto@m">
					{% if is_mobile() %}
					<select class="select-inline" id="order" name="order" value="{{ app.request.get('order') is defined ? app.request.get('order') : 0 }}">
						<option value="price_asc">Сортировка: сначала дешевле</option>
						<option value="price_desc">Сортировка: сначала дороже</option>
					</select>
					{% else %}
					<p>Сортировка:</p>
					<select class="select-inline" id="order" name="order" value="{{ app.request.get('order') is defined ? app.request.get('order') : 0 }}">
						<option value="price_asc">сначала дешевле</option>
						<option value="price_desc">сначала дороже</option>
					</select>
					{% endif %}
				</div>
			</div>

			{% include 'search/' ~ view ~ '.html.twig' %}

			{% include 'search/mobile_search_pager.html.twig' %}
			{# <div class="row">
                <div class="col-lg-3 col-6">
                    <div class="card">
                        <div
                            class="image"
                            style="background-image: url(img/card-image.jpg);"
                        ></div>
                        <div class="content">
                            <h3><a href="#">Mercedes-Benz E-Class</a></h3>
                            <p class="owner">Владелец: <a href="#">RentaCAR26</a></p>
                            <p class="price">1 610 ₽ час</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="card">
                        <div
                            class="image"
                            style="background-image: url(img/card-image.jpg);"
                        ></div>
                        <div class="content">
                            <h3><a href="#">Mercedes-Benz E-Class</a></h3>
                            <p class="owner">Владелец: <a href="#">RentaCAR26</a></p>
                            <p class="price">1 610 ₽ час</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="card">
                        <div
                            class="image"
                            style="background-image: url(img/card-image.jpg);"
                        ></div>
                        <div class="content">
                            <h3><a href="#">Mercedes-Benz E-Class</a></h3>
                            <p class="owner">Владелец: <a href="#">RentaCAR26</a></p>
                            <p class="price">1 610 ₽ час</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="card">
                        <div
                            class="image"
                            style="background-image: url(img/card-image.jpg);"
                        ></div>
                        <div class="content">
                            <h3><a href="#">Mercedes-Benz E-Class</a></h3>
                            <p class="owner">Владелец: <a href="#">RentaCAR26</a></p>
                            <p class="price">1 610 ₽ час</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="show-more">
                <button class="btn btn-outline">Показать больше</button>
            </div> #}
		</div>
	</section>

	<section class="uk-text-center uk-margin-large-bottom">
		<div class="uk-container uk-margin-auto uk-width-1-1 uk-width-1-2@m">
			<h2>Примите участие в улучшении сервиса</h2>
			<p class="uk-margin-medium-bottom">Поделитесь своими впечатлениями от пользования<br class="uk-visible@m"> платформой, это поможет нам в улучшении.</p>
			<div class="uk-flex uk-flex-center"><a href="#" class="btn uk-width-1-1 uk-width-medium@m btn-solid">Оставить отзыв</a></div>
		</div>
	</section>

{% endblock %}
