{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/city_general_mark_selector.js') }}"></script>
    <script src="{{ asset('assets/js/search_page.js') }}"></script>
{% endblock %}


{% block content %}

    <div class="standard_wide">
        <div uk-grid>
            <div class="uk-width-3-4">
                <h3 class="pf_style_header"><span>Результаты: {{ total_cards }}</span></h3>
                <div uk-grid>
                    <div class="uk-width-3-4">
                        <span class="uk-display-inline-block">На странице</span>
                        <select name="onpage" id="onpage" class="uk-select" form="searchForm" style="width:50px">
                            <option value="12" {{ 12 == onpage ? 'selected' : '' }}>12</option>
                            <option value="24" {{ 24 == onpage ? 'selected' : '' }}>24</option>
                            <option value="48" {{ 48 == onpage ? 'selected' : '' }}>48</option>
                        </select>
                        <span class="uk-display-inline-block">Сортировать</span>
                        <select name="order" id="order" class="uk-select" form="searchForm" style="width:150px">
                            <option value="0" {{ not order ? 'selected' : '' }}>по умолчанию</option>
                            <option value="date_desc" {{ ('date_desc' == order) ? 'selected' : '' }}>по дате: сначала новые</option>
                            <option value="date_asc" {{ ('date_asc' == order) ? 'selected' : '' }}>по дате: сначала старые</option>
                            <option value="price_desc" {{ ('price_desc' == order) ? 'selected' : '' }}>по цене: сначала дороже</option>
                            <option value="price_asc" {{ ('price_asc' == order) ? 'selected' : '' }}>по цене: сначала дешевле</option>
                        </select>
                    </div>
                    <div class="uk-width-1-4 uk-text-right">
                        <button class="view_select {{ view == 'grid_view' ? 'uk-button-primary' : '' }}" type="button" value="grid_view" uk-icon="icon:grid"></button>
                        <button class="view_select {{ view == 'list_view' ? 'uk-button-primary' : '' }}" type="button" value="list_view" uk-icon="icon:list"></button>
                    </div>
                </div>

                {{ include('search/' ~ view ~ '.html.twig') }}

                {% if total_pages > 1 %}
                    <hr>
                    <div id="pager" class="uk-text-center">
                        {% if total_pages > pages_in_center %}

                        {% if current_page > 1 %}
                        <button class="uk-button uk-button-default" name="page"  value="{{ current_page-1 }}"><i uk-icon="icon:arrow-left"></i></button>
                        {% endif %}

                        <button class="uk-button {{ 1 == current_page ? 'uk-button-primary' : 'uk-button-default' }}" name="page"  value="1">1</button>
                            <span class="uk-display-inline-block"><i uk-icon="icon:more"></i></span>
                            {% for page in pager_center_start..pager_center_start+pages_in_center-1 %}
                                <button class="uk-button {{ page == current_page ? 'uk-button-primary' : 'uk-button-default' }}" name="page"  value="{{ page }}">{{ page }}</button>
                            {% endfor %}
                            <span class="uk-display-inline-block"><i uk-icon="icon:more"></i></span>
                        <button class="uk-button {{ total_pages == current_page ? 'uk-button-primary' : 'uk-button-default' }}" name="page"  value="{{ total_pages }}">{{ total_pages }}</button>

                        {% if current_page < total_pages %}
                        <button class="uk-button uk-button-default" name="page"  value="{{ current_page+1 }}"><i uk-icon="icon:arrow-right"></i></button>
                        {% endif %}

                        {% else %}
                            {% for page in 1..total_pages %}
                                <button class="uk-button {{ page == current_page ? 'uk-button-primary' : 'uk-button-default' }}" name="page"  value="{{ page }}">{{ page }}</button>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endif %}

            </div>
            <div class="uk-width-1-4">
                <h3 class="pf_style_header"><span>Поиск</span></h3>
                {{ include('search/search_form.html.twig') }}
            </div>
        </div>
    </div>



{% endblock %}



