{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/city_general_mark_selector.js') }}"></script>
    <script src="{{ asset('assets/js/search_page.js') }}"></script>
{% endblock %}

{% block metaTags %}
    {{ parent() }}
    {% if custom_seo and custom_seo.description != ''%}
        <meta name="description" content="{% include(template_from_string(custom_seo.description)) %}">
    {% else %}
        <meta name="description" content="{% include '/seo_templates/c_description.html.twig' %}">
    {% endif %}
{% endblock %}

{% block title %}{% if custom_seo and custom_seo.title != '' %}{% include(template_from_string(custom_seo.title)) %}{% else %}{% include '/seo_templates/c_title.html.twig' %}{% endif %}{% endblock %}

{% block content %}

    <div class="standard_wide">
        <div uk-grid>
            <div class="uk-width-3-4@s">

                {% if custom_seo and custom_seo.h1 != ''%}
                    <h1>{% include(template_from_string(custom_seo.h1)) %}</h1>
                {% else %}
                    <h1>{% include 'seo_templates/c_h1.html.twig' %}</h1>
                {% endif %}

                <div uk-grid>
                    <div class="uk-width-expand"><h3 class="pf_style_header"><span>Результаты: {{ total_cards }}</span></h3></div>
                    <div class="uk-width-auto uk-text-right">
                        <button class="view_select {{ view == 'grid_view' ? 'uk-button-primary' : '' }}" type="button" value="grid_view" uk-icon="icon:grid"></button>
                        <button class="view_select {{ view == 'list_view' ? 'uk-button-primary' : '' }}" type="button" value="list_view" uk-icon="icon:list"></button>
                    </div>
                </div>

                {% include 'search/search_top_sort.html.twig' %}
                {% include 'search/' ~ view ~ '.html.twig' %}
                {% include 'search/search_pager.html.twig' %}

                {#{% if app.request.pathinfo == '/rent/rus' %}#}
                    {#{{ include('search/city_block.html.twig') }}#}
                {#{% endif %}#}

                {% if total_cards == 0 %}
                    {% if app.session.has('logged_user') %}
                        <a href="/card/new" class="uk-button uk-button-success ">Будь первым - добавь объявление!</a>
                    {% elseif app.session.has('admin') %}
                        <a href="/card/new" class="uk-button uk-button-success ">Будь первым - добавь объявление!</a>
                    {% else %}
                        <a uk-toggle="target: #sign_in" class="uk-button uk-button-success ">Будь первым - добавь объявление!</a>
                    {% endif %}
                {% endif %}

                {% set x_uri = app.request.pathinfo|split('/') %}

                {% if x_uri[2] is defined and x_uri[2] != 'rus' and x_uri|length == 3 %}
                    {{ include('search/gt_block.html.twig') }}
                {% endif %}

                {% if x_uri[2] is defined and x_uri[2] != 'rus' and x_uri|length > 4 and mark.id == null %}
                    {{ include('search/mark_block.html.twig') }}
                {% endif %}

                {% if x_uri[2] is defined and x_uri[2] != 'rus' and x_uri|length > 5 and model.id == null %}
                    {{ include('search/model_block.html.twig') }}
                {% endif %}



                {% set seo_text %}{% include 'seo_templates/c_text.html.twig' %}{% endset %}

                {% if custom_seo and custom_seo.seoText != ''%}
                    {% set seo_text = custom_seo.seoText %}
                {% endif %}

                {% if seo_text != '' %}
                    <hr>
                    <div>{{ seo_text }}</div>
                {% endif %}
            </div>
            <div class="uk-width-1-4@s">
                <h3 class="pf_style_header"><span>Поиск</span></h3>
                {{ include('search/search_form.html.twig') }}



                {% if bodyTypes and model.id == null %}
                    <h3 class="pf_style_header body_header" data-body="{{ is_body }}"><span>Поиск по типу кузова</span></h3>
                    <div><a href="/rent/{{ x_uri[2] }}/{{ x_uri[3] }}/{{ x_uri[4] }}">Любой кузов</a></div>
                    {% for body in bodyTypes %}
                        {% if mark.id == null %}
                            <div><a href="/rent/{{ x_uri[2] }}/{{ x_uri[3] }}/{{ x_uri[4] }}/{{ body.url }}">{{ body.header }}</a></div>
                        {% else %}
                            <div><a href="/rent/{{ x_uri[2] }}/{{ x_uri[3] }}/{{ x_uri[4] }}/{{ x_uri[5] }}/{{ body.url }}">{{ body.header }}</a></div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}



