
    <div class="uk-margin-top uk-margin-bottom">
        <span class="uk-display-inline-block uk-visible@s">На странице</span>
        <select name="onpage" id="onpage" class="uk-select" form="searchForm" style="width:50px">
            <option value="12" {{ 12 == onpage ? 'selected' : '' }}>12</option>
            <option value="24" {{ 24 == onpage ? 'selected' : '' }}>24</option>
            <option value="48" {{ 48 == onpage ? 'selected' : '' }}>48</option>
        </select>
        <span class="uk-display-inline-block uk-visible@s">Сортировать</span>
        <select name="order" id="order" class="uk-select" form="searchForm" style="width:150px">
            <option value="0" {{ not order ? 'selected' : '' }}>по умолчанию</option>
            <option value="date_desc" {{ ('date_desc' == order) ? 'selected' : '' }}>по дате: сначала новые</option>
            <option value="date_asc" {{ ('date_asc' == order) ? 'selected' : '' }}>по дате: сначала старые</option>
            <option value="price_desc" {{ ('price_desc' == order) ? 'selected' : '' }}>по цене: сначала дороже</option>
            <option value="price_asc" {{ ('price_asc' == order) ? 'selected' : '' }}>по цене: сначала дешевле</option>
        </select>
        <span class="uk-display-inline-block uk-visible@s">Услуга</span>
        <select name="service" id="service" class="uk-select" form="searchForm" style="width:150px">
            <option value="all" {{ service == 'all' ? 'selected' : '' }}>прокат и аренда</option>
            <option value="prokat" {{ service == 'prokat' ? 'selected' : '' }}>прокат</option>
            <option value="arenda" {{ service == 'arenda' ? 'selected' : '' }}>аренда</option>
        </select>
    </div>

