{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/city_general_mark_selector.js') }}"></script>
    <script src="{{ asset('assets/js/search_page.js') }}"></script>
{% endblock %}

{% block metaTags %}
    {{ parent() }}
    {% if custom_seo and custom_seo.description != ''%}
        <meta name="description" content="{% include(template_from_string(custom_seo.description)) %}">
    {% else %}
        <meta name="description" content="{% include '/seo_templates/c_description.html.twig' %}">
    {% endif %}
{% endblock %}

{% block title %}{% if custom_seo and custom_seo.title != '' %}{% include(template_from_string(custom_seo.title)) %}{% else %}{% include '/seo_templates/c_title.html.twig' %}{% endif %}{% endblock %}

{% block content %}

    <div id="main_finder" class="standard_wide">
        <div uk-grid>
            <div class="uk-width-3-4@s">

                {% set x_uri = app.request.pathinfo|split('/') %}

                {% if bodyTypes and model.id == null %}
                    {% set body_url = '/rent/'~x_uri[2]~'/'~x_uri[3]~'/'~x_uri[4] %}
                    {% if mark.id != null %}
                        {% set body_url = '/rent/'~x_uri[2]~'/'~x_uri[3]~'/'~x_uri[4]~'/'~x_uri[5] %}
                    {% endif %}
                {% endif %}

                {% if custom_seo and custom_seo.h1 != ''%}
                    <h1>{% include(template_from_string(custom_seo.h1)) %}</h1>
                {% else %}
                    <h1>{% include 'seo_templates/c_h1.html.twig' %}</h1>
                {% endif %}

                {% if total_cards > 0 %}
                    <div class="uk-text-center found_row">Найдено: {{ total_cards }} объявлений</div>
                {% else %}
                    <div class="uk-text-center found_row">Объявлений не найдено ...</div>
                {% endif %}


                <div uk-grid class="uk-grid-small">
                    {% if total_cards > 0 %}
                    <div class="uk-width-1-3@s">
                        <input type="hidden" id="order" name="order" value="{{ app.request.get('order') is defined ? app.request.get('order') : 0 }}">
                        <span class="uk-text-small">Цена:</span>
                        <button class="sort_button price_sort {{ app.request.get('order') is defined and app.request.get('order') == 'price_asc' ? 'active' }}" value="price_asc">дешевле</button>
                        <button class="sort_button price_sort {{ app.request.get('order') is defined and app.request.get('order') == 'price_desc' ? 'active' }}" value="price_desc">дороже</button>
                    </div>
                    {% endif %}
                    {% if bodyTypes and model.id == null %}
                    <div class="uk-width-1-3@s">
                        <div class="body_type_main">
                            <span class="uk-text-small">Кузов: </span>
                            <a class="sort_button {{ is_body is defined and is_body == 'sedan' ? 'active' }}" href="{{ body_url~'/sedan' }}">седан</a>
                            <a class="sort_button {{ is_body is defined and is_body == 'hatchback' ? 'active' }}" href="{{ body_url~'/hatchback' }}">хетчбек</a>
                            <a class="sort_button {{ is_body is defined and is_body == 'crossover' ? 'active' }}" href="{{ body_url~'/crossover' }}">кроссовер</a>
                            <span class="uk-text-small body_more">ещё <i uk-icon="icon:chevron-down; ratio: 0.7"></i></span>
                        </div>
                        <div class="body_type_all uk-grid-small" hidden uk-grid>
                            <div class="uk-width-1-1">
                                <a class="sort_button uk-width-1-1 " href="{{ body_url }}">Любой кузов</a>
                            </div>
                            {% for body in bodyTypes %}
                                <div class="uk-width-1-4 ">
                                    <a class="sort_button uk-width-1-1 uk-text-truncate {{ is_body is defined and is_body == body.url ? 'active' }}" href="{{ body_url~'/'~body.url }}">{{ body.header }}</a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}

                    {% if general.url != 'alltypes' %}
                    <div class="uk-width-1-3@s">
                        <span class="uk-text-small">Марка: </span>
                        <button class="sort_button" uk-toggle="target: #top_mark_links">выбрать</button>
                    </div>
                    {% endif %}
                </div>


                {#{% include 'search/search_top_sort.html.twig' %}#}

                {% include 'search/' ~ view ~ '.html.twig' %}

                {#{% if is_mobile() %}#}
                    {% include 'search/mobile_search_pager.html.twig' %}
                {#{% else %}#}
                    {#{% include 'search/search_pager.html.twig' %}#}
                {#{% endif %}#}

                {#{% if app.request.pathinfo == '/rent/rus' %}#}
                    {#{{ include('search/city_block.html.twig') }}#}
                {#{% endif %}#}

                {% if total_cards == 0 %}

                    <div class="zero_text">
                        Пока никто не разместил объявление в этом городе и категории.<br>
                        Будь первым - добавь объявления и получай клиентов!
                    </div>


                    {% if app.session.has('logged_user') %}
                        <a href="/card/new" class="uk-button uk-button-success zero_button">Разместить объявление!</a>
                    {% elseif app.session.has('admin') %}
                        <a href="/card/new" class="uk-button uk-button-success zero_button">Разместить объявление!</a>
                    {% else %}
                        <a uk-toggle="target: #sign_in" class="uk-button uk-button-success zero_button">Разместить объявление!</a>
                    {% endif %}
                {% endif %}



                    {% if x_uri[2] is defined and x_uri[2] != 'rus' and x_uri|length == 3 %}
                        {{ include('search/gt_block.html.twig') }}
                    {% endif %}

                    {% if x_uri[2] is defined and x_uri[2] != 'rus' and x_uri|length > 4 and mark.id == null %}
                        {{ include('search/mark_block.html.twig') }}
                    {% endif %}

                    {% if x_uri[2] is defined and x_uri[2] != 'rus' and x_uri|length > 5 and model.id == null %}
                        {{ include('search/model_block.html.twig') }}
                    {% endif %}



                {% set seo_text %}{% include 'seo_templates/c_text.html.twig' %}{% endset %}

                {% if custom_seo and custom_seo.seoText != ''%}
                    {% set seo_text = custom_seo.seoText %}
                {% endif %}

                {% if seo_text != '' %}
                    <hr>
                    <div>{{ seo_text }}</div>
                {% endif %}
            </div>
            <div class="uk-width-1-4 uk-visible@s">
                <h3 class="pf_style_header"><span>Поиск</span></h3>
                {{ include('search/search_form.html.twig') }}



                {% if bodyTypes and model.id == null %}
                    <h3 class="pf_style_header body_header" data-body="{{ is_body }}"><span>Поиск по типу кузова</span></h3>
                    <div><a href="{{ body_url }}">Любой кузов</a></div>
                    {% for body in bodyTypes %}
                        {% if mark.id == null %}
                            <div><a href="/rent/{{ x_uri[2] }}/{{ x_uri[3] }}/{{ x_uri[4] }}/{{ body.url }}">{{ body.header }}</a></div>
                        {% else %}
                            <div><a href="/rent/{{ x_uri[2] }}/{{ x_uri[3] }}/{{ x_uri[4] }}/{{ x_uri[5] }}/{{ body.url }}">{{ body.header }}</a></div>
                        {% endif %}
                    {% endfor %}
                {% endif %}


                {{ include('selector/mark_block_link.html.twig', {'mark_arr':mark_arr_sorted,'type':car_type_id}) }}

            </div>
        </div>
    </div>

{% endblock %}



