{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/search_page.js') }}"></script>
{% endblock %}


{% block content %}

    <div class="standard_wide">
        <div uk-grid>
            <div class="uk-width-3-4">
                <h3 class="pf_style_header"><span>Результаты: {{ total_cards }}</span></h3>
                <div uk-grid>
                    <div class="uk-width-3-4">
                        <span class="uk-display-inline-block">На странице</span>
                        <select name="onpage" id="onpage" class="uk-select" form="searchForm" style="width:50px">
                            <option value="12" {{ 12 == onpage ? 'selected' : '' }}>12</option>
                            <option value="24" {{ 24 == onpage ? 'selected' : '' }}>24</option>
                            <option value="48" {{ 48 == onpage ? 'selected' : '' }}>48</option>
                        </select>
                    </div>
                    <div class="uk-width-1-4 uk-text-right">
                        <button class="view_select" type="button" value="grid_view" uk-icon="icon:grid"></button>
                        <button class="view_select" type="button" value="list_view" uk-icon="icon:list"></button>
                    </div>
                </div>
                {{ include('search/' ~ view ~ '.html.twig') }}
                <hr>
                <div>
                    {% if total_pages > pages_in_center %}
                    <button class="uk-button uk-button-default" name="page" form="searchForm" value="{{ current_page-1 }}"><i uk-icon="icon:arrow-left"></i></button>
                    <button class="uk-button {{ 1 == current_page ? 'uk-button-primary' : 'uk-button-default' }}" name="page" form="searchForm" value="1">1</button>
                        <span class="uk-display-inline-block"><i uk-icon="icon:more"></i></span>
                        {% for page in pager_center_start..pager_center_start+pages_in_center-1 %}
                            <button class="uk-button {{ page == current_page ? 'uk-button-primary' : 'uk-button-default' }}" name="page" form="searchForm" value="{{ page }}">{{ page }}</button>
                        {% endfor %}
                        <span class="uk-display-inline-block"><i uk-icon="icon:more"></i></span>
                    <button class="uk-button {{ total_pages == current_page ? 'uk-button-primary' : 'uk-button-default' }}" name="page" form="searchForm" value="{{ total_pages }}">{{ total_pages }}</button>
                    <button class="uk-button uk-button-default" name="page" form="searchForm" value="{{ current_page+1 }}"><i uk-icon="icon:arrow-right"></i></button>
                    {% else %}
                        {% for page in 1..total_pages %}
                            <button class="uk-button {{ page == current_page ? 'uk-button-primary' : 'uk-button-default' }}" name="page" form="searchForm" value="{{ page }}">{{ page }}</button>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="uk-width-1-4">
                <h3 class="pf_style_header"><span>Поиск</span></h3>
                {{ include('search/search_form.html.twig') }}
            </div>
        </div>
    </div>



{% endblock %}



