{# <form id="searchForm" action="/search" method="GET" {{ top is defined ? 'uk-grid' }} class="{{ top is defined ? 'uk-grid-small uk-flex uk-flex-center' }}"> #}


    {#<div class="cursor-pointer">{{ include('selector/adress_block.html.twig') }}</div>#}

    {# <div class="cursor-pointer"><div class="border_selector">{{ include('selector/general_new_block.html.twig') }}</div></div>
    <div class="cursor-pointer" id="mark_placement"><div class="border_selector">{{ include('selector/mark_block.html.twig', {'mark_arr':mark_arr_sorted,'type':car_type_id}) }}</div></div>
    <div class="cursor-pointer" id="model_placement"><div class="border_selector">{{ include('selector/model_block.html.twig', {'model_arr':models_in_mark, 'mark_id':mark.id}) }}</div></div>
    <input type="hidden" name="view" value="{{ view is defined ? view : 'grid_view' }}">
    {{ top is defined ? '<div class="top_find_button">' }}
        <button data-page="{{ page is defined ? page : 1 }}"
                data-view="{{ view is defined ? view : 'grid_view' }}"
                data-onpage="{{ onpage is defined ? onpage : 12 }}"
                id="main_search_button"
                type="button"
                class="uk-button uk-button-default uk-margin-top uk-width-1-1">
            {% trans %}Найти{% endtrans %}
        </button>
    {{ top is defined ? '</div>' }}
</form> #}


<form class="form-inline" id="searchForm" action="/search" method="GET">
	<div class="input-group">
		<div class="form-item">
			<select name="ds" id="">
				{% for gt in generalTypes if gt.total>0 %}
					<option value="{{ gt.url }}">{{ gt.header }}</option>
				{% endfor %}
			</select>
		</div>
		<div class="form-item">
			<input type="text" />
		</div>
	</div>
	<button class="btn btn-solid" id="main_search_button">Применить</button>
</form>